@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

.pmpbanner {
  width: 16rem;
  margin: auto; }

.qjrh {
  width: 8.32rem;
  margin-top: 0.512rem;
  padding: 2.56rem 7.2533333333rem 0.4266666667rem 0.4266666667rem;
  font-size: 0.4266666667rem;
  color: #666666;
  line-height: 0.64rem;
  background: url("../images/qjrhbg.png") no-repeat;
  background-size: 16rem 6.976rem; }

.sj {
  padding-left: 5.4826666667rem;
  padding-top: 0.64rem;
  width: 9.664rem;
  height: 24.256rem;
  margin: auto;
  font-size: 0.6826666667rem;
  color: #2a2c33;
  background: #ffffff url("../images/sj.png") no-repeat;
  background-size: 15.1466666667rem 24.896rem;
  position: relative; }

.sj b {
  color: #0cbbbb;
  display: block; }

.sj a {
  text-align: center;
  width: 8.8533333333rem;
  height: 1.28rem;
  color: #ffffff;
  font-size: 0.512rem;
  font-weight: bold;
  line-height: 1.28rem;
  display: block;
  border-radius: 100px;
  background: #0cbbbb;
  position: absolute;
  bottom: 0.5546666667rem;
  left: 3.0293333333rem; }

.bktj {
  position: relative;
  top: 0.512rem;
  color: #2a2c33;
  font-size: 0.4266666667rem;
  width: 16rem;
  height: 11.904rem;
  background: #ffffff url("../images/bktj.png") no-repeat;
  background-size: 16rem 11.904rem; }

.bktj ul {
  width: 8.64rem;
  line-height: 0.64rem;
  padding: 6.72rem 0 0 6.7413333333rem; }

.bktj ul li {
  margin-bottom: 0.5333333333rem; }

.xsm {
  padding-top: 4.8853333333rem;
  position: relative;
  bottom: 0.256rem;
  width: 16rem;
  height: 14.4213333333rem;
  background: url("../images/xsm.png") no-repeat;
  background-size: 16rem 19.3066666667rem; }

.xsm-title {
  font-size: 0.512rem;
  color: #0cbbbb;
  width: 14.4213333333rem;
  margin: auto;
  padding-left: 0.7253333333rem;
  background: url("../images/xsmicon.png") left no-repeat;
  background-size: 0.448rem 0.448rem; }

.xsm-ul1 {
  margin: 0.8533333333rem 0 0.8533333333rem 0.8533333333rem; }

.xsm-ul1 li:last-child {
  margin-right: 0; }

.xsm-ul1 li {
  margin-right: 0.7253333333rem;
  width: 2.24rem;
  height: 2.24rem;
  line-height: 2.24rem;
  float: left;
  font-size: 0.5546666667rem;
  font-weight: lighter;
  color: #ffffff;
  text-align: center;
  border-radius: 500px;
  border: 0.0426666667rem solid #ffffff;
  position: relative; }

.triangle {
  position: absolute;
  right: -0.5333333333rem;
  top: 0.9813333333rem;
  width: 0;
  height: 0;
  border-top: 0.128rem solid transparent;
  border-left: 0.2133333333rem solid #ffffff;
  border-bottom: 0.128rem solid transparent; }

.xsm-ul2 {
  margin-left: 1.28rem;
  margin-top: 0.8533333333rem; }

.xsm-ul2 li {
  width: 4.0533333333rem;
  height: 0.896rem;
  line-height: 0.896rem;
  border: 0.0213333333rem solid #ffffff;
  text-align: center;
  color: #ffffff;
  font-size: 0.4906666667rem;
  font-weight: lighter;
  float: left;
  margin-right: 0.5973333333rem;
  margin-bottom: 0.5546666667rem; }

.pmp-title {
  color: #2a2c33;
  font-size: 0.6826666667rem;
  font-weight: bold; }

.pmp {
  width: 15.1466666667rem;
  margin: auto; }

.pmp-title img {
  width: 1.0026666667rem;
  position: relative;
  top: 0.1493333333rem;
  margin-right: 0.128rem; }

.pmp-table {
  margin-left: 1.2373333333rem;
  width: 13.2266666667rem;
  font-size: 0.4693333333rem;
  color: #2a2c33;
  margin-top: 0.4266666667rem;
  padding-bottom: 0.4693333333rem;
  border-bottom: 0.0213333333rem dotted #aaaaaa; }

.pmp-table tr td {
  height: 0.896rem; }

.pmp-more {
  color: #999999; }

.pmp-table2 {
  width: 6.592rem;
  border-bottom: none;
  margin-top: 0;
  padding-bottom: 0; }

.pmp-left {
  float: left;
  margin-top: 0.64rem;
  width: 7.8293333333rem;
  border-right: 0.0213333333rem dotted #aaaaaa; }

.pmp-title2 {
  position: relative;
  bottom: 0.4266666667rem; }

.pmp-right {
  position: relative;
  margin-top: 0.64rem;
  width: 7.1253333333rem;
  height: 6.3146666667rem;
  float: left;
  background: url("../images/book.png") no-repeat;
  background-size: 7.1253333333rem 6.3146666667rem; }

.pmp-right-more1 {
  top: 2.368rem;
  width: 3.3066666667rem;
  height: 0.9386666667rem;
  position: absolute;
  right: 0.0426666667rem; }

.pmp-right-more2 {
  width: 6.4rem;
  height: 1.28rem;
  position: absolute;
  bottom: 0.32rem;
  left: 0.7466666667rem; }

.vs {
  margin-top: 0.8106666667rem;
  width: 16rem;
  height: 14.9973333333rem;
  background: url("../images/vs.png") no-repeat;
  background-size: 16rem 14.9973333333rem; }

.hjl {
  margin-top: 1.4933333333rem;
  width: 16rem;
  height: 10.816rem;
  background: url("../images/hjlbg.png") no-repeat;
  background-size: 16rem 10.816rem; }

.hjl table tr td div {
  margin-top: 0.256rem;
  font-size: 0.4693333333rem;
  color: #333333;
  width: 7.68rem;
  line-height: 0.7253333333rem; }

.hjl table tr td div b {
  line-height: 0.9386666667rem; }

.hjl table tr td div a {
  font-size: 0.4693333333rem;
  color: #ffffff;
  font-weight: bold;
  width: 4.736rem;
  height: 0.896rem;
  background: #0cbbbb;
  display: block;
  line-height: 0.896rem;
  text-align: center;
  margin-top: 0.4266666667rem;
  margin-bottom: 0.8533333333rem; }

.hjl table {
  position: relative;
  right: 0.2133333333rem;
  width: 16rem;
  margin: auto; }

.tright {
  text-align: right;
  padding-right: 0.4266666667rem; }

.tleft {
  padding-left: 0.4266666667rem; }

.tright div a {
  float: right; }

.jzl {
  margin-top: 0.8533333333rem;
  font-size: 0.4693333333rem;
  color: #ffffff;
  padding-left: 1.28rem;
  width: 14.72rem;
  padding-top: 0.8533333333rem;
  height: 3.9893333333rem;
  background: url("../images/jzl.png") no-repeat;
  background-size: 16rem 4.8426666667rem; }

.xmlg {
  margin-top: 1.0666666667rem;
  width: 16rem;
  height: 17.5573333333rem;
  background: #ffffff url("../images/xmgl.png") no-repeat;
  background-size: 16rem 17.5573333333rem; }

.xmlg ul {
  width: 14.2933333333rem;
  margin: auto;
  padding-top: 3.2rem; }

.xmlg ul li b {
  width: 6.5066666667rem;
  display: block;
  text-align: center;
  line-height: 1.1733333333rem; }

.xmlg ul li {
  margin-right: 1.28rem;
  width: 6.5066666667rem;
  float: left;
  font-size: 0.4266666667rem;
  line-height: 0.64rem; }

.xmlg ul li:nth-child(2n) {
  margin-right: 0; }

.xmlg ul li a {
  height: 0.8533333333rem;
  line-height: 0.8533333333rem;
  width: 6.4rem;
  color: #ffffff;
  font-size: 0.4266666667rem;
  font-weight: bold;
  background: #0cbbbb;
  display: block;
  text-align: center;
  margin: 0.576rem 0 1.7066666667rem; }

.cyc {
  padding-top: 4.0533333333rem;
  width: 16rem;
  height: 15.744rem;
  margin-top: 1.3653333333rem;
  background: url("../images/cyc.png") no-repeat;
  background-size: 16rem 19.7973333333rem; }

.cyc-title {
  width: 15.1466666667rem;
  margin: 0 auto 0.4693333333rem;
  font-size: 0.512rem;
  font-weight: bold;
  color: #fff; }

.cyc table {
  width: 15.1466666667rem;
  margin: 0 auto 1.28rem; }

.cyc table tr td {
  font-size: 0.4266666667rem;
  font-weight: lighter;
  color: #fff; }

.rdo {
  margin-right: 0.128rem;
  width: 0.384rem;
  height: 0.3626666667rem;
  position: relative; }

.rdo:after {
  content: '';
  display: block;
  position: absolute;
  width: 0.384rem;
  height: 0.3626666667rem;
  background: url("../images/r.png") 0 -0.3626666667rem no-repeat;
  background-size: 0.384rem 0.7253333333rem; }

.rdo:checked:after {
  width: 0.384rem;
  height: 0.3626666667rem;
  background: url("../images/r.png") no-repeat;
  background-size: 0.384rem 0.7253333333rem; }

.trpadding td {
  padding-top: 0.64rem; }

.lessmargin {
  margin-bottom: 0.8533333333rem !important; }

.cyc form {
  width: 15.1466666667rem;
  margin: auto; }

.cyc form label {
  font-size: 0.4266666667rem;
  font-weight: lighter;
  color: #fff;
  padding: 0 0.256rem; }

.cyc form input {
  padding-left: 0.256rem;
  font-size: 0.4266666667rem;
  color: #fff;
  width: 5.248rem;
  height: 0.8533333333rem;
  border: 0.0213333333rem solid #5ae0f7;
  background: rgba(255, 255, 225, 0.2); }

.cyc form a {
  font-weight: bold;
  color: #27292f;
  font-size: 0.512rem;
  display: block;
  margin: 0.8533333333rem auto 0.32rem;
  width: 6.4rem;
  height: 1.28rem;
  border-radius: 1.28rem;
  background: #0cbbbb;
  text-align: center;
  line-height: 1.28rem; }

.cyc-tips {
  text-align: center;
  font-size: 0.4266666667rem;
  color: #98999b;
  font-weight: lighter; }

.bkwt {
  position: relative;
  width: 16rem;
  height: 57.0453333333rem;
  background: url("../images/bkwt.png") no-repeat;
  background-size: 16rem 57.0453333333rem; }

.bkwt-a1 {
  position: absolute;
  top: 15.1466666667rem;
  left: 4.7573333333rem;
  display: block;
  width: 6.4rem;
  height: 1.28rem;
  border-radius: 1.28rem; }

.bkwt-a2 {
  position: absolute;
  top: 42.56rem;
  left: 2.9866666667rem;
  display: block;
  width: 3.0933333333rem;
  height: 0.896rem; }

.bkwt-a3 {
  position: absolute;
  top: 42.56rem;
  left: 10.1333333333rem;
  display: block;
  width: 3.0933333333rem;
  height: 0.896rem; }

.bkwt-a4 {
  position: absolute;
  top: 53.568rem;
  left: 4.7573333333rem;
  display: block;
  width: 6.4rem;
  height: 1.28rem;
  border-radius: 1.28rem; }

.bkwt table {
  width: 12.8rem;
  position: absolute;
  top: 48.2133333333rem;
  left: 3.072rem;
  font-size: 0.4693333333rem;
  color: #ffffff;
  line-height: 0.7466666667rem; }

/*头部开始*/
.manageanv {
  height: 1.856rem;
  width: 16rem;
  margin-left: -8rem;
  left: 50%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7) url("../images/logo.png") 0.4266666667rem center no-repeat;
  z-index: 999;
  background-size: 4.672rem 1.088rem; }

.menu-white {
  width: 0.9386666667rem;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.576rem; }

.sidebar {
  width: 8.6613333333rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  background: #333333;
  box-shadow: -7px 0px 14px rgba(29, 28, 28, 0.3);
  overflow-y: auto; }

.sidebar-title {
  padding-left: 0.7253333333rem;
  line-height: 1.856rem;
  font-size: 0.2346666667rem;
  color: #ffb4b4;
  width: 7.936rem;
  height: 1.856rem;
  background: #ef3333; }

.menu-close {
  width: 0.7253333333rem;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.5546666667rem; }

.sidebar-title span {
  font-size: 0.6613333333rem;
  letter-spacing: 0.3413333333rem; }

.manageanv ul li {
  padding-left: 0.2133333333rem;
  margin-left: 0.5973333333rem;
  font-size: 0.5546666667rem;
  color: #ffffff;
  height: 1.9626666667rem;
  line-height: 1.9626666667rem;
  border-bottom: 1px solid #4c4c4c;
  background: url("../images/triangle-right.png") 6.5706666667rem center no-repeat; }

.manageanv ul li a {
  display: block; }

.ewm img {
  width: 4.4373333333rem; }

.ewm {
  margin: 0.896rem auto 0;
  width: 4.4373333333rem;
  font-size: 0.512rem;
  color: #fff;
  text-align: center; }

.footer {
  padding-top: 0.7893333333rem;
  width: 16rem;
  height: 4.0533333333rem;
  background: #efefef; }

.footer-left {
  padding-left: 1.0666666667rem;
  float: left;
  width: 6.8906666667rem;
  border-right: 1px solid #cdcdcd; }

.footer-left li {
  line-height: 0.896rem;
  float: left;
  width: 2.56rem;
  padding-left: 0.4693333333rem;
  font-size: 0.4266666667rem;
  color: #999999;
  background: url("../images/right.png") left center no-repeat;
  background-size: 0.256rem 0.256rem; }

.footer-right {
  text-align: center;
  width: 7.04rem;
  float: left;
  color: #999999;
  font-size: 0.4266666667rem; }

.footer-right img {
  width: 0.9813333333rem;
  display: block;
  margin: 0 auto 0.128rem; }

.footer-tips {
  text-align: center;
  color: #999999;
  font-size: 0.4266666667rem;
  margin-top: 0.4693333333rem; }

/*# sourceMappingURL=pmp.css.map */
