@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width: 16rem;
  margin: 0 auto;
  padding: 0;
  font-size: px2rem(16);
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.xl-header{
  position: relative;
  width:px2rem(720);
  height:px2rem(1387);
  background: url("../images/banner.png") 0 0 / px2rem(720) px2rem(1387) no-repeat;
}
.xl-btn1{
  width:px2rem(180);
  height:px2rem(90);
  position: absolute;
  top:0;
  left:0;
}
.xl-btn2{
  width:px2rem(180);
  height:px2rem(90);
  position: absolute;
  top:0;
  left:px2rem(180);
}
.xl-btn3{
  width:px2rem(180);
  height:px2rem(90);
  position: absolute;
  top:0;
  left:px2rem(360);
}
.xl-btn4{
  width:px2rem(180);
  height:px2rem(90);
  position: absolute;
  top:0;
  left:px2rem(540);
}
.xl-btn5{
  width:px2rem(380);
  height:px2rem(70);
  position: absolute;
  top:px2rem(425);
  left:px2rem(20);
}
.xl-btn6{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(941);
  left:px2rem(38);
  border-radius: px2rem(45);
}
.xl-btn7{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(941);
  left:px2rem(270);
  border-radius: px2rem(45);
}
.xl-btn8{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(941);
  left:px2rem(505);
  border-radius: px2rem(45);
}
.xl-btn9{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(1219);
  left:px2rem(40);
  border-radius: px2rem(45);
}
.xl-btn10{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(1219);
  left:px2rem(272);
  border-radius: px2rem(45);
}
.xl-btn11{
  width:px2rem(183);
  height:px2rem(45);
  position: absolute;
  top:px2rem(1219);
  left:px2rem(507);
  border-radius: px2rem(45);
}
.xl-form{
  width:px2rem(600);
  margin:px2rem(35) auto;
  padding: px2rem(20) px2rem(40) px2rem(40);
  border: 2px solid #b5b5b5;
  border-radius: 20px;
  -moz-box-shadow:0px 0px 15px #B3B3B3; -webkit-box-shadow:0px 0px 15px #B3B3B3; box-shadow:0px 0px 15px #B3B3B3;
}
.xlcp-form-title > span{
  font-size: px2rem(24);
  color: #333333;
  line-height: px2rem(40);
}
.xlcp-form-title{
  margin: px2rem(25) auto;
}
.xlcp-form-title   label{
  font-weight: lighter;
  font-size: px2rem(24);
  color: #666666;
  line-height: px2rem(40);
}
.xlcp-form-title   table{
  width:px2rem(605);
}
.xlcp-form-title   table tr td{
  width:px2rem(200);
}

.rdo {
  display: none;
}
.rdo + label{
  position: relative;
  padding-left: px2rem(26);
}
.rdo + label:after {
  content: '';
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  margin:auto;
  width:px2rem(18);
  height: px2rem(18);
  background: url("../images/rbg.png") 0 0 /px2rem(18) px2rem(36)  no-repeat;
}
.rdo:checked + label:after {
  background: url("../images/rbg.png")  0 px2rem(-18) /px2rem(18) px2rem(36) no-repeat;
}
.xl-input-group{
  width: px2rem(600);
  height:px2rem(60);
  position: relative;
  padding-bottom: px2rem(30);
}
.xl-input-group label{
  width: px2rem(100);
  height:px2rem(60);
  text-align: center;
  font-size: px2rem(24);
  color: #333333;
  position: absolute;
  left:0;
  top:0;
  line-height: px2rem(60);
}
.xl-input-group input{
  font-size: px2rem(24);
  padding-left: px2rem(20);
  width: px2rem(480);
  height:px2rem(60);
  position: absolute;
  outline: none;
  border: 1px solid #e64a42;
  border-radius: 10px;
  left:px2rem(100);
  top:0;
}
.xl-form-btn{
  width:px2rem(366);
  height:px2rem(75);
  line-height:px2rem(75);
  font-size: px2rem(32);
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  display: block;
  margin: auto;
  border-radius: 10px;
  background: -webkit-linear-gradient(#fd7257, #fd5757);
  background: -o-linear-gradient(#fd7257, #fd5757);
  background: -moz-linear-gradient(#fd7257, #fd5757);
  background: linear-gradient(#fd7257, #fd5757);
}
.xl-form-tips{
  font-size: px2rem(18);
  color: #999999;
  text-align: center;
  margin-top: px2rem(20);
}
.xlts{
  position: relative;
  width:px2rem(720);
  height:px2rem(2610);
  background: url("../images/bg2.png") 0 0 / px2rem(720) px2rem(2610);
}
.xl-btn13{
   position: absolute;
   top:px2rem(210);
   left:px2rem(244);
   width:px2rem(106);
   height:px2rem(106);
   border-radius: 100%;
   display: block;
 }
.xl-btn14{
  position: absolute;
  top:px2rem(210);
  left:px2rem(593);
  width:px2rem(106);
  height:px2rem(106);
  border-radius: 100%;
  display: block;
}
.xl-btn15{
  position: absolute;
  top:px2rem(400);
  left:px2rem(244);
  width:px2rem(106);
  height:px2rem(106);
  border-radius: 100%;
  display: block;
}
.xl-btn16{
  position: absolute;
  top:px2rem(400);
  left:px2rem(593);
  width:px2rem(106);
  height:px2rem(106);
  border-radius: 100%;
  display: block;
}
.xl-btn17{
  position: absolute;
  top:px2rem(594);
  left:px2rem(244);
  width:px2rem(106);
  height:px2rem(106);
  border-radius: 100%;
  display: block;
}
.xl-btn18{
   position: absolute;
   top:px2rem(594);
   left:px2rem(593);
   width:px2rem(106);
   height:px2rem(106);
   border-radius: 100%;
   display: block;
 }
.xl-btn19{
  position: absolute;
  bottom:px2rem(879);
  left:px2rem(169);
  width:px2rem(380);
  height:px2rem(70);
  display: block;
}
.xl-btn20{
  position: absolute;
  bottom:px2rem(220);
  left:px2rem(130);
  width:px2rem(460);
  height:px2rem(70);
  display: block;
}
.xl-btn:hover{
  background: rgba(0,0,0,0.1);
}
.xl-input{
  padding-left: px2rem(16);
  display: block;
  width:px2rem(547);
  height:px2rem(53);
  outline: none;
  font-size: px2rem(24);
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  margin:px2rem(18) auto;
}
.xl-select{
  padding-left: px2rem(16);
  display: block;
  width:px2rem(563);
  height:px2rem(53);
  outline: none;
  font-size: px2rem(24);
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  margin:px2rem(28) auto;
}
.xl-from-2{
  padding-top: px2rem(20);
  background: #eeeeee;
  padding-bottom: px2rem(60);
}
.xl-form-3{
  margin-bottom: px2rem(97);
  width:px2rem(720);
  height:px2rem(2924);
  background: url("../images/bg3.png")0 0 /px2rem(720) px2rem(2924) no-repeat;
  position: relative;
}
.xl-btn21{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(182);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn22{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(235);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn23{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(288);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn24{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(341);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn25{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(394);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn26{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(447);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn27{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(500);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn28{
  display: block;
  position: absolute;
  right:px2rem(20);
  top:px2rem(553);
  width:px2rem(138);
  height:px2rem(47);
}
.xl-btn29{
  display: block;
  position: absolute;
  right:0;
  left:0;
  margin: auto;
  top:px2rem(643);
  width:px2rem(441);
  height:px2rem(75);
}
.xl-btn30{
  display: block;
  position: absolute;
  left:px2rem(234);
  top:px2rem(1153);
  width:px2rem(240);
  height:px2rem(41);
}
.xl-btn31{
  display: block;
  position: absolute;
  left:px2rem(234);
  top:px2rem(1396);
  width:px2rem(240);
  height:px2rem(41);
}
.xl-btn32{
  display: block;
  position: absolute;
  left:px2rem(234);
  top:px2rem(1652);
  width:px2rem(240);
  height:px2rem(41);
}
.xl-btn33{
  display: block;
  position: absolute;
  right:0;
  left:0;
  margin: auto;
  top:px2rem(1752);
  width:px2rem(519);
  height:px2rem(75);
}
.xl-btn34{
  display: block;
  position: absolute;
  left:px2rem(157);
  bottom:px2rem(558);
  width:px2rem(380);
  height:px2rem(70);
}
.xl-btn35{
  display: block;
  position: absolute;
  left:px2rem(127);
  bottom:px2rem(71);
  width:px2rem(440);
  height:px2rem(54);
}
.xl-form-3-content{
  position: absolute;
  bottom:px2rem(166);
  left:px2rem(46);
}
.xl-form-3-label{
  font-weight: bold;
  font-size: px2rem(26);
  color: #2c3946;
  display: block;
  margin-top: px2rem(33);
  margin-bottom: px2rem(12);
}
.xl-form-3-input{
  background: transparent;
  padding-left: px2rem(17);
  outline: none;
  border-radius: 10px;
  border: 1px solid #ed4e4e;
  display: block;
  width:px2rem(580);
  height:px2rem(56);
  font-size: px2rem(18);
}
.xl-bottom{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  z-index: 999;
  width:px2rem(720);
  height:px2rem(96);
  background: url("../images/bottom.png") 0 0 /px2rem(720) px2rem(96);
}
.xl-btn36{
  display: block;
  width:px2rem(180);
  height:px2rem(96);
  position: absolute;
  top:0;
  left:0;
}
.xl-btn37{
  display: block;
  width:px2rem(180);
  height:px2rem(96);
  position: absolute;
  top:0;
  left:px2rem(180);
}
.xl-btn38{
  display: block;
  width:px2rem(180);
  height:px2rem(96);
  position: absolute;
  top:0;
  right:px2rem(180);
}
.xl-btn39{
  display: block;
  width:px2rem(180);
  height:px2rem(96);
  position: absolute;
  top:0;
  right:0;
}