<!DOCTYPE html>
<html lang="en">
<head>
    <title>上市教育培训机构专注职业教育15年</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=640,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=640"/>
    <link rel="stylesheet" href="../../assets/css/styleHome.css">
    <link rel="stylesheet" href="../../assets/plugins/swiper-4.2.0/swiper-4.2.0.min.css">
    <script type="text/javascript" src="../../assets/plugins/hotcss/hotcss.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jquery-1.10.1.min.js"></script>
</head>
<body>

    <!--头部开始-->
    <div class="home-header">
        <!--导航开始-->
        <div class="home-nav">
            <img class="home-nav-logo" src="../../assets/images/home/logo.png">
            <img class="home-nav-menu" src="../../assets/images/home/menu-white.png">
        </div>

        <!--导航内容开始-->
        <div class="home-nav-content">
            <div class="home-nav-content-title">导航<span>MENU</span><img  class="hone-nav-close" src="../../assets/images/home/menu-close.png"></div>
            <div class="sideMenu" style="margin:0 auto">
                <h2 class="border-top-none">官网首页</h2>
                <h3 class="on">课程体系</h3>
                <ul style="display: block">
                    <li>设计艺术学院</li>
                    <li>继续教育学院</li>
                    <li>管理学院</li>
                    <li>IT学院</li>
                </ul>
                <h2>资讯中心</h2>
                <h3>关于中鹏</h3>
                <ul>
                    <li>公司简介</li>
                    <li>企业文化</li>
                    <li>中鹏历程</li>
                    <li>荣誉资质</li>
                    <li>核心能力</li>
                    <li>联系我们</li>
                </ul>
                <h2>加入我们</h2>
            </div><!-- sideMenu End -->
            <div class="home-qr-code">
                <img src="../../assets/images/home/qr-code.png">
                关注中鹏
            </div>

            <div class="home-nav-content-bg">
            </div>
        </div>
        <!--导航内容结束-->
        <!--导航结束-->
        <!--轮播开始-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner1.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner2.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner3.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner4.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner5.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner6.png"></a></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!--轮播结束-->
    </div>
    <!--头部结束-->
    <!--课程体系开始-->
    <div class="curriculum-system">
        <div class="curriculum-system-title">课程体系</div>
        <div class="curriculum-system-subtitle">创建中国成人职业教育领军品牌 & 中国艺术设计职业教育领军品牌</div>
        <div class="curriculum-system-line"></div>

        <div class="curriculum-system-switch clearfix">
            <ul class="hd">
                <li class="on">设计艺术学院</li>
                <li>继续教育学院</li>
                <li>管理学院</li>
                <li>IT学院</li>

            </ul>
            <ul class="bd">
                <li>
                    <img src="">

                </li>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>

            </ul>

        </div>
    </div>
    <!--课程体系结束-->

    <!--关于我们开始-->
    <div class="about-us">
        <img class="about-us-title" src="../../assets/images/home/about-us.png">

    </div>
    <!--关于我们结束-->

    <script type="text/javascript" src="../../assets/plugins/swiper-4.2.0/swiper-4.2.0.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/SuperSlide2.1/jquery.SuperSlide.2.1.1.js"></script>

    <!--客服-->

<!--
<script src="http://api.szlive800.com/api/microchat/js/microchatMobileHidden.js?ver=15.0.91.4"></script>
<script language="javascript" src="http://chat56.live800.com/live800/chatClient/monitor.js?jid=1023674317&companyID=796416&configID=110364&codeType=custom"></script>
-->

    <script>
    var mySwiper = new Swiper('.home-header .swiper-container', {
        autoplay: true,//可选选项，自动滑动
        pagination: {
            el: '.home-header .swiper-pagination',
        }
    })
        $(function () {
            $(".home-nav-menu").click(function () {
                $(".home-nav-content").animate({right:"0"});
            })
            $(".hone-nav-close").click(function () {
                $(".home-nav-content").animate({right:"-100%"});
            })
        })
    $(".curriculum-system-switch .hd li").click(function () {
        var liIndex = $(this).index();
        $(this).siblings().removeClass('on');
        $(this).addClass("on");
        $(".curriculum-system-switch .bd li").hide();
        $(".curriculum-system-switch .bd li:eq("+liIndex+")").show();
    })
        
        jQuery(".sideMenu").slide({titCell:"h3", targetCell:"ul",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
    </script>
</body>
</html>