<!DOCTYPE html>
<html lang="en">
<head>
    <title>上市教育培训机构专注职业教育15年</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=640,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=640,initial-dpr=1"/>
    <link rel="stylesheet" href="../../assets/css/styleHome.css">
    <link rel="stylesheet" href="../../assets/plugins/swiper-4.2.0/swiper-4.2.0.min.css">
    <script type="text/javascript" src="../../assets/plugins/hotcss/hotcss.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/swiper-4.2.0/swiper-4.2.0.min.js"></script>
</head>
<body class="font_yahei">

    <!--头部开始-->
    <div class="home-header">
        <!--导航开始-->
        <div class="home-nav">
            <img class="home-nav-logo" src="../../assets/images/home/logo.png">
            <img class="home-nav-menu" src="../../assets/images/home/menu-white.png">
        </div>
       <div class="home-nav-white">
            <img class="home-nav-logo" src="../../assets/images/home/logo-black.png">
            <img class="home-nav-menu" src="../../assets/images/home/menu-black.png">
        </div>

        <!--导航内容开始-->
        <div class="home-nav-content">
            <div class="home-nav-content-title">导航<span>MENU</span><img  class="hone-nav-close" src="../../assets/images/home/menu-close.png"></div>
            <div class="sideMenu" style="margin:0 auto">
                <h2 class="border-top-none"><a>官网首页</a></h2>
                <h3 class="on">课程体系</h3>
                <ul style="display: block">
                    <li><a>设计艺术学院</a></li>
                    <li><a>继续教育学院</a></li>
                    <li><a>管理学院</a></li>
                    <li><a>IT学院</a></li>
                </ul>
                <h2><a href="newlist.html">资讯中心</a></h2>
                <h3><a>关于中鹏</a></h3>
                <ul>
                    <li><a>公司简介</a></li>
                    <li><a>企业文化</a></li>
                    <li><a>中鹏历程</a></li>
                    <li><a href="honer.html">荣誉资质</a></li>
                    <li><a>核心能力</a></li>
                    <li><a>联系我们</a></li>
                </ul>
                <h2><a href="joinus.html">加入我们</a></h2>
            </div><!-- sideMenu End -->
            <div class="home-qr-code">
                <img src="../../assets/images/home/qr-code.png">
                关注中鹏
            </div>

            <div class="home-nav-content-bg">
            </div>
        </div>
        <!--导航内容结束-->
        <!--导航结束-->
        <!--轮播开始-->
        <div id="swiperheight" class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner1.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner2.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner3.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner4.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner5.png"></a></div>
                <div class="swiper-slide" ><a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497"><img src="../../assets/images/home/banner6.png"></a></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
        <!--轮播结束-->
    </div>
    <!--头部结束-->
    <!--课程体系开始-->
    <div class="curriculum-system">
        <div class="curriculum-system-title">课程体系</div>
        <div class="curriculum-system-subtitle">创建中国成人职业教育领军品牌 & 中国艺术设计职业教育领军品牌</div>
        <div class="curriculum-system-line"></div>

        <div class="curriculum-system-switch clearfix">
            <ul class="hd">
                <li class="on">设计艺术学院</li>
                <li>继续教育学院</li>
                <li>管理学院</li>
                <li>IT学院</li>

            </ul>
            <ul class="bd">
                <li>
                    <div class="curriculum-system-content">
                        <div>
                            <img src="../../assets/images/home/curriculum-system-1.png">
                            <h3>2D科系</h3>
                            <span>美术、平面设计、UI设计、插画</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-2.png">
                            <h3>3D科系</h3>
                            <span>室内设计、珠宝设计、工业设计、建筑</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-3.png">
                            <h3>时尚科系</h3>
                            <span>服装设计、形象设计</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-4.png">
                            <h3>数码影像科系</h3>
                            <span>摄影、数码影视、影视后期</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-5.png">
                            <h3>相关科系</h3>
                            <span>网络营销、工程预算</span>
                        </div>
                    </div>
                    <a class="view-more-bgwhite">查看更多</a>

                </li>
                <li>
                    <div class="curriculum-system-content">
                        <div>
                            <img src="../../assets/images/home/curriculum-system-6.png">
                            <h3>华南师范大学</h3>
                            <span>艺术设计、教育管理、人力资源管理</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-6.png">
                            <h3>广东开放大学</h3>
                            <span>法学、信息安全、文化产业管理、标准化工程、电子商务、会展策划与管理</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-6.png">
                            <h3>湘潭大学</h3>
                            <span>金融学、汉语言文学、英语、经济学、旅游管理、工商管理、会计学</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-6.png">
                            <h3>中国石油大学</h3>
                            <span>石油工程、机械设计制造及其自动化、土木工程、会计学、计算机科学与技术</span>
                        </div>
                    </div>
                    <a class="view-more-bgwhite">查看更多</a>


                </li>
                <li>
                    <div class="curriculum-system-content">
                        <div>
                            <img src="../../assets/images/home/curriculum-system-7.png">
                            <h3>企业人力资源管理师</h3>
                            <span>人力资源规划、招聘与配置、培训与开发、绩效管理、薪酬福利管理</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-8.png">
                            <h3>劳动关系协调师</h3>
                            <span>劳动标准、集体协商与集体合同、劳动规章制度建设</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-9.png">
                            <h3>采购师</h3>
                            <span>采购谈判技巧、供应商的报价管理、采购成本核算、供应商关系管理</span>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-10.png">
                            <h3>心理咨询师</h3>
                            <span>基础心理学、发展心理学、社会心理学、心理测量学、心理诊断技能</span>
                        </div>
                    </div>
                    <a class="view-more-bgwhite">查看更多</a>

                </li>
                <li>
                    <div class="curriculum-system-content">
                        <div>
                            <img src="../../assets/images/home/curriculum-system-11.png">
                            <h3>网页设计</h3>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-12.png">
                            <h3>CPDA</h3>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-13.png">
                            <h3>数据科学</h3>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-14.png">
                            <h3>PHP</h3>
                        </div>
                        <div>
                            <img src="../../assets/images/home/curriculum-system-14.png">
                            <h3>Python</h3>
                        </div>
                    </div>
                    <a class="view-more-bgwhite">查看更多</a>

                </li>

            </ul>

        </div>
    </div>
    <!--课程体系结束-->

    <!--关于我们开始-->
    <div class="about-us">
        <img class="about-us-title" src="../../assets/images/home/about-us.png">
        <div class="about-us-content">
            深圳市中鹏教育科技股份有限公司（前身为深圳市中鹏资讯有限公司）成立于2003年8月1日，于2016年4月8日完成股份制改造，变更为股份有限公司，<span>并于2017年2月成功在国内“新三板”挂牌，股票简称：中鹏教育，股票代码：870813。</span>
        </div>
        <div class="about-us-content">
            公司自2008年9月进军职业教育市场成立以来，以聚焦设计艺术职业教育为主业，兼顾成人继续教育、企业管理人员培训业务。历经多年发展，目前已经成为华南地区职业教育一线品牌，全国设计艺术职业教育知名品牌。
        </div>

        <ul class="clearfix">
            <li>
                <b>企业定位</b>
                科技型、平台型职业教育企业
            </li>
            <li>
                <b>办学理念</b>
                技术改变命运、学习成就梦想
            </li>
            <li>
                <b>团队准则</b>
                真诚、团结、包容、务实、进步
            </li>
            <li>
                <b>办学目标</b>
                学员（设计师）职业发展终生服务平台
            </li>
        </ul>

        <a class="view-more">查看更多</a>

    </div>
    <!--关于我们结束-->

    <!--三分钟了解中鹏开始-->
    <div class="understand-zp">
        <b>三分钟</b>了解中鹏
        <img class="understand-zp-bg" src="../../assets/images/home/understand-zp.png">
        <img class="understand-zp-play" src="../../assets/images/home/play.png">
    </div>
    <div class="video-box">
        <div class="close-video"></div>
        <video id="myvideo" src="http://gw.zhongpenggufen.com/uploads/video/abc.mp4"  controls="controls" style="background-color: #000;">
        </video>
    </div>

    <!--三分钟了解中鹏结束-->

    <!--荣誉资质开始-->
    <div class="zp-honor">
        <div class="curriculum-system-title">荣誉资质</div>
        <div class="zpry">
            <a class="zpry-on">办学资质</a>
            <a >荣誉奖项</a>
            <a>知识产权</a>
        </div>
        <!-- Swiper -->
        <div id="swiper1" class="hideswiper showswiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                </div>
            </div>
            <div class="left-right">
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <script language="javascript">
                var mySwiper1 = new Swiper('#swiper1 .swiper-container',{
                    slidesPerView: 2,
                    slidesPerColumn : 2,
                    slidesPerColumnFill : 'row',
                    navigation: {
                        nextEl: '#swiper1 .swiper-button-next',
                        prevEl: '#swiper1 .swiper-button-prev',
                    },
                })
            </script>
        </div>
        <div id="swiper2" class="hideswiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-1.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                </div>
            </div>
            <div class="left-right">
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <script language="javascript">
                var mySwiper2 = new Swiper('#swiper2 .swiper-container',{
                    slidesPerView: 2,
                    slidesPerColumn : 2,
                    slidesPerColumnFill : 'row',
                })
            </script>
        </div>
        <div id="swiper3" class="hideswiper vertical-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-2.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-2.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-2.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/zp-honer-2.png">
                        <div class="zp-honor-title">广东中鹏职业培训学校民办学校办学许可证</div>
                    </div>
                </div>
            </div>
            <div class="left-right">
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <script>
                var mySwiper = new Swiper('#swiper3 .swiper-container', {
                        slidesPerView: 2,//一行显示3个
                    })
            </script>
        </div>

        <a class="view-more zp-honer-width">查看中鹏更多荣誉 ></a>

    </div>
    <!--荣誉资质结束-->
    <!--服务客户开始-->
    <div class="service-customer">
        <div class="curriculum-system-title">服务客户</div>
        <div class="curriculum-system-subtitle">TO  SERVE OUR CUSTOMERS</div>
        <div class="curriculum-system-line"></div>

        <div id="service-customer">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/home/service-customer.png">
                    </div>
                </div>
            </div>
            <div class="left-right">
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <script language="javascript">
                var servicecustomer = new Swiper('#service-customer .swiper-container',{
                    slidesPerView: 3,
                    slidesPerColumn : 2,
                    slidesPerColumnFill : 'row',
                    navigation: {
                        nextEl: '#service-customer .swiper-button-next',
                        prevEl: '#service-customer .swiper-button-prev',
                    },
                })
            </script>
    </div>
    <!--服务客户结束-->

        <!--底部开始-->
        <div class="footer-space"></div>
        <ul class="home-footer">
            <li>
                <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                    <img src="../../assets/images/home/attention-us.png">
                    关注我们
                </a>
            </li>
            <li>
                <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                    <img src="../../assets/images/home/telephone-consultation.png">
                    电话咨询
                </a>
            </li>
            <li>
                <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                    <img src="../../assets/images/home/online-consulting.png">
                    在线咨询
                </a>
            </li>
            <li id="backTop">
                <img src="../../assets/images/home/back-top.png">
                返回顶部
            </li>

        </ul>
        <!--底部结束-->


    <script type="text/javascript" src="../../assets/plugins/SuperSlide2.1/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="../../assets/js/home.js"></script>

    <!--客服-->

<!--
<script src="http://api.szlive800.com/api/microchat/js/microchatMobileHidden.js?ver=15.0.91.4"></script>
<script language="javascript" src="http://chat56.live800.com/live800/chatClient/monitor.js?jid=1023674317&companyID=796416&configID=110364&codeType=custom"></script>
-->


</body>
</html>