<!DOCTYPE html>
<html lang="en">
<head>
    <title>上市教育培训机构专注职业教育15年</title>
    <meta charset = "utf-8">
    <!--在 web app 应用下状态条（屏幕顶部条）的颜色；(改变顶部状态条的颜色)-->
    <!--默认值为 default（白色），可以定为 black（黑色）和 black-translucent（灰色半透明）；-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--http-equiv="Content-Type" 表示描述文档类型-->
    <!--HTTP-EQUIV类似于HTTP的头部协议，它回应给浏览器一些有用的信息，以帮助正确和精确地显示网页内容-->
    <meta http-equiv="Content-Type" content="text/html">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!--使用了application这种应用模式后，页面讲默认全屏，禁止长按菜单，禁止收拾，标准排版，以及强制图片显示。-->
    <!--应用模式-->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <!--设置屏幕方向-->
    <meta name="x5-orientation" content="portrait">
    <!--设置全屏-->
    <meta name="x5-fullscreen" content="true">
    <!--设置屏幕模式-->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!--<meta name="hotcss" content="design-width=750,max-width=640,initial-dpr=1"/>-->
    <meta name="hotcss" content="design-width=750,max-width=640,initial-dpr=1"/>
    <link rel="stylesheet" href="../../assets/css/styleHome.css">
    <script type="text/javascript" src="../../assets/plugins/hotcss/hotcss.js"></script>
    <script type="text/javascript" src="../../assets/plugins/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="../../assets/plugins/swiper-4.2.0/swiper-4.2.0.min.js"></script>
</head>
<body class="font_yahei">

<!--头部开始-->
<div class="home-header">
    <!--导航开始-->
    <div class="home-nav">
        <img class="home-nav-logo" src="../../assets/images/home/logo.png">
        <img class="home-nav-menu" src="../../assets/images/home/menu-white.png">
    </div>
    <!--  <div class="home-nav-white">
          <img class="home-nav-logo" src="../../assets/images/home/logo-black.png">
          <img class="home-nav-menu" src="../../assets/images/home/menu-black.png">
      </div>-->

    <!--导航内容开始-->
    <div class="home-nav-content">
        <div class="home-nav-content-title">导航<span>MENU</span><img  class="hone-nav-close" src="../../assets/images/home/menu-close.png"></div>
        <div class="sideMenu" style="margin:0 auto">
            <h2 class="border-top-none"><a>官网首页</a></h2>
            <h3 class="on">课程体系</h3>
            <ul style="display: block">
                <li><a>设计艺术学院</a></li>
                <li><a>继续教育学院</a></li>
                <li><a>管理学院</a></li>
                <li><a>IT学院</a></li>
            </ul>
            <h2><a href="newlist.html">资讯中心</a></h2>
            <h3><a>关于中鹏</a></h3>
            <ul>
                <li><a>公司简介</a></li>
                <li><a>企业文化</a></li>
                <li><a>中鹏历程</a></li>
                <li><a href="honer.html">荣誉资质</a></li>
                <li><a>核心能力</a></li>
                <li><a>联系我们</a></li>
            </ul>
            <h2><a href="joinus.html">加入我们</a></h2>
        </div><!-- sideMenu End -->
        <div class="home-qr-code">
            <img src="../../assets/images/home/qr-code.png">
            关注中鹏
        </div>

        <div class="home-nav-content-bg">
        </div>
    </div>
    <!--导航内容结束-->
    <!--导航结束-->

</div>
<!--头部结束-->

<!--正文部分开始-->
<img class="newlistimg" src="../../assets/images/home/newlist.png">

<div class="newlist-nav clearfix">
    <a class="on">
        <img src="../../assets/images/home/newlist-all.png">
        全部
    </a>
    <a>
        <img src="../../assets/images/home/newlist-note.png">
        重要通知
    </a>
    <a>
        <img src="../../assets/images/home/newlist-news.png">
        中鹏新闻
    </a>
</div>
<ul class="news-list">
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展培养设计人才，公益助力发展培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>
    <li>
        <a>
            <img src="../../assets/images/home/news-1.png">
            <div class="list-right">
                <div class="list-right-title">培养设计人才，公益助力发展</div>
                <div class="list-right-summary">2017年12月15日下午，经过深圳市商业美术设计促进会的积极筹备以及在深圳市中鹏教育科技股份有限公司</div>
            </div>
        </a>
    </li>

</ul>
<!--正文部分结束-->

    <!--底部开始-->
    <div class="footer-space"></div>
    <ul class="home-footer">
        <li>
            <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
            <img src="../../assets/images/home/attention-us.png">
            关注我们
            </a>
        </li>
        <li>
            <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
            <img src="../../assets/images/home/telephone-consultation.png">
            电话咨询
            </a>
        </li>
        <li>
            <a target="_blank" href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
            <img src="../../assets/images/home/online-consulting.png">
            在线咨询
            </a>
        </li>
        <li id="backTop">
            <img src="../../assets/images/home/back-top.png">
            返回顶部
        </li>

    </ul>
    <!--底部结束-->


<script type="text/javascript" src="../../assets/plugins/SuperSlide2.1/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="../../assets/js/home.js"></script>

    <!--客服-->

    <!--
    <script src="http://api.szlive800.com/api/microchat/js/microchatMobileHidden.js?ver=15.0.91.4"></script>
    <script language="javascript" src="http://chat56.live800.com/live800/chatClient/monitor.js?jid=1023674317&companyID=796416&configID=110364&codeType=custom"></script>
    -->


</body>
</html>