@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width: 7.5rem;
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.yhd7{
  margin-bottom: px2rem(140);
  position: relative;
  width:px2rem(750);
  height:px2rem(1075);
  background: url("../images/7yhd.png") 0 0 /px2rem(750) px2rem(1075) no-repeat;
}
.yhd7-btn{
  width:px2rem(108);
  height:px2rem(108);
  border-radius: 1000px;
  position: absolute;
  top:px2rem(360);
  right: px2rem(139);
}
.yhd7-form{
  position: absolute;
  top:px2rem(750);
  left:px2rem(140);
}
.yhd7-input-group{
  width:px2rem(472);
  height:px2rem(60);
  position: relative;
  margin-bottom: px2rem(30);
}
.yhd7-input-group label{
  position: absolute;
  left:0;
  top:0;
  height:px2rem(60);
  width:px2rem(99);
  line-height: px2rem(60);
  font-size: px2rem(30);
  font-weight: bold;
  color: #666666;
}
.yhd7-input-group input{
  padding-left: px2rem(20);
  border:1px solid #56acad;
  position: absolute;
  left:px2rem(99);
  top:0;
  height:px2rem(60);
  width:px2rem(350);
  line-height: px2rem(60);
  font-size: px2rem(24);
  color: #666666;
}
.yhd7-form-btn{
  width:px2rem(472);
  height:px2rem(60);
  border-radius: 1000px;
  background: #56acad;
  font-size: px2rem(33);
  text-align: center;
  display: block;
  line-height: px2rem(60);
  color: #ffffff;
}



/*弹框*/

.tk7y-box{
  z-index: 99999;
  display: block;
  width:100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  background: rgba(0,0,0,0.8);
}
.tk7y-close{
  position: absolute;
  right:0;
  top:px2rem(48);
  cursor: pointer;
  width:px2rem(60);
  height:px2rem(60);
}
.tk7y{
  width:px2rem(619);
  height:px2rem(577);
  position: absolute;
  left:50%;
  top:50%;
  margin-left: px2rem(-308);
  margin-top: px2rem(-287);
  background: url("../images/tk.png") 0 0/px2rem(619) px2rem(577) no-repeat;
}
.tk7y-form input{
  background: transparent;
  border: none;
  outline: none;
  margin-bottom: px2rem(12);
  margin-left: px2rem(55);
  display: block;
  width:px2rem(250);
  color: #ffffff;
  height:px2rem(45);
  font-size: px2rem(18);
  padding-left: px2rem(20);
}
.tk7y-form input::placeholder{
  color: #b69bcc;
}
.tk7y-form{
  position: absolute;
  bottom: px2rem(20);
  left:px2rem(157);
}
.tk7y-form-btn{
  cursor: pointer;
  margin-top: px2rem(39);
  display: block;
  width:px2rem(333);
  height:px2rem(53);
  border-radius:px2rem(55);
}

.gkk-link{
  position: absolute;
  display: block;
  font-size: px2rem(28);
  height:px2rem(50);
  line-height:px2rem(50);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width:px2rem(105);
  text-align: center;
  right:px2rem(111);
  top:px2rem(17);
}

/*测试题开始*/
.cst{
  width:px2rem(710);
  margin: auto;
}
.cst-title{
  font-size: px2rem(28);
  color: #ffffff;
  font-weight: bold;
  line-height: px2rem(98);
  padding-left: px2rem(70);
  width:px2rem(640);
  height:px2rem(98);
  background: url("../images/cstbg.png") 0 0 /px2rem(710) px2rem(98) no-repeat;
}
.cst-content{
  width:px2rem(710);
  box-sizing:border-box;
  border:2px solid #6b7589;
}
.cst-table{
  line-height: px2rem(47);
  font-size: px2rem(22);
  color: #666666;
  width:px2rem(700);
  margin: auto;
}
.cst-table tr td{
  width:50%;
}
.rdo {
  width: px2rem(18);
  height:0;
  position: relative;
  cursor: pointer;
}
.rdo+label {
  cursor: pointer;
  margin-left: px2rem(18);
}
.rdo:after {
  content: '';
  display: block;
  position: absolute;
  bottom: px2rem(-6);
  left:0;
  width:px2rem(30);
  height: px2rem(30);
  background: url("../images/rdo.png")  0 px2rem(-31) no-repeat;
  background-size: px2rem(30) px2rem(60);
}

.rdo:checked:after {
  width:px2rem(30);
  height: px2rem(30);
  background: url("../images/rdo.png") no-repeat;
  background-size: px2rem(30) px2rem(60);
}
.cst-table-title td{
  color: #333333;
  padding-top:px2rem(18);
  font-size: px2rem(23);
}
.input-group{
  line-height: px2rem(80);
  font-size: px2rem(24);
  color: #666666;
  width:px2rem(640);
  height:px2rem(80);
  margin: px2rem(40) auto 0;
  position: relative;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  background: #eeeeee;
}
.input-group label{
  position: absolute;
  left:0;
  top:0;
  padding-left:px2rem(10);
}
.input-group input{
  position: absolute;
  left:px2rem(130);
  top:0;
  width:px2rem(190);
  height:px2rem(60);
  margin-top: px2rem(10);
  border: none;
  background: transparent;
  outline: none;
  font-size: px2rem(22);
}
.cst-form{
  width:px2rem(710);
  margin:px2rem(35) auto 0;
}
.btn-group{
  width:px2rem(620);
  margin: 0 auto px2rem(50);
}
.btn-group a{
  cursor: pointer;
  display: inline-block;
  width:px2rem(250);
  height:px2rem(77);
  background: #6b7589;
  border-radius: px2rem(77);
  color: #ffffff;
  font-size:px2rem(30);
  text-align: center;
  line-height:px2rem(77);
  -moz-box-shadow:0px 6px 5px #878787;
  -webkit-box-shadow:0px 6px 5px #878787;
  box-shadow:0px 6px 5px #878787;
  margin:auto px2rem(30) ;
}
.btn-group a:hover{
  background: #8992ab;
}
.cst-tips{
  font-size: px2rem(17);
  color: #666666;
  text-align: center;
  padding-top: px2rem(22);
}
/*测试题结束*/
.right-top-nav{
  padding-left: px2rem(24);
}
.right-top-nav li{
  font-size: px2rem(22);
  float: left;
  width:px2rem(126);
  height:px2rem(56);
  line-height: px2rem(56);
  text-align: center;
  color: #ffffff;
  border-radius: px2rem(12);
  margin:0 px2rem(22);
  border: px2rem(2) solid  #ffffff;
}