header {
    width:100%;
    height:1.333333rem;
    background:#fff;
    position:fixed;
    top:0;
    left:0;
    z-index:9999
}
header img {
    width:10%;
    float:left;
    margin-left:3%;
    margin-top:.36rem
}
header div {
    width:80%;
    height:.8rem;
    line-height:.8rem;
    margin-top:.266667rem;
    margin-left:3%;
    float:left;
    background:#f2f2f2
}
header div ul {
    width:67%;
    float:left;
    height:.8rem;
    line-height:.8rem;
    overflow:hidden;
    font-size:.36rem;
    color:#e64a20;
    padding-left:3%
}
header div a {
    float:left;
    width:30%;
    height:.8rem;
    line-height:.8rem;
    background:#f8605d;
    font-size:.32rem;
    color:#fff;
    text-align:center;
    border-radius:.08rem
}
.header1016 img {
    margin-top:.4rem
}
section {
    padding:1.333333rem 0 1.133333rem 0
}
section .banner {
    background:url(../images/banner.png) left top no-repeat;
    background-size:100%;
    padding-top:.4rem
}
section .banner .b-p {
    font-size:.346667rem
}
section .banner .b-p span {
    display:inline-block;
    vertical-align:middle
}
section .banner .b-p .icon {
    width:.44rem;
    height:.36rem;
    background:url(../images/icon1.png) left center no-repeat;
    background-size:.44rem .36rem;
    margin-right:.133333rem
}
section .banner .b-h1 {
    font-size:.853333rem;
    margin-top:.066667rem;
    text-shadow:0 1px .08rem #717486
}
section .banner ul {
    font-size:0;
    margin-top:.32rem
}
section .banner ul li {
    display:inline-block;
    font-size:.346667rem;
    background:url(../images/icon2.png) left center no-repeat;
    background-size:.386667rem .333333rem;
    padding-left:.466667rem;
    margin:0 .133333rem
}
section .banner .deadtime {
    position:relative;
    font-size:.346667rem;
    margin:.373333rem 0 .373333rem 0
}
section .banner .deadtime .time-span {
    display:inline-block;
    vertical-align:middle;
    width:.666667rem;
    height:.666667rem;
    line-height:.666667rem;
    margin:0 2px;
    background:#f68242;
    border-radius:.08rem;
    font-size:.56rem;
    font-weight:800
}
section .banner .deadtime:before,section .banner .deadtime:after {
    content:'';
    position:absolute;
    top:.266667rem;
    width:12%;
    height:1px;
    background:#fff
}
section .banner .deadtime:before {
    left:2rem
}
section .banner .deadtime:after {
    right:2rem
}
section .banner .persons {
    width:7.9rem;
    height:0.85rem;
    line-height:.9rem;
    background:url(../images/txt.png) center center no-repeat;
    background-size:7.9rem .85rem;
    font-size:.32rem;
    text-align:center
}
section .banner .persons b {
    font-weight:900;
    width:30%
}
section .banner .persons span {
    width:70%
}
section .banner .hot-marjor {
    width:9.2rem;
    height:5.133333rem;
    background-size:100% 100%;
    margin-top:.4rem;
    text-align:left;
    background: #f8f8f8;
    -moz-box-shadow:.13rem .13rem .13rem rgba(0,0,0,.2);
    -webkit-box-shadow:.13rem .13rem .13rem rgba(0,0,0,.2);
    box-shadow:.13rem .13rem .13rem rgba(0,0,0,.2);
}
section .banner .hot-marjor h1 {
    text-align: center;
    font-size:.506667rem;
    font-weight:900;
    color:#1b274f;
    padding-top:.333333rem;
    padding-left:.8rem
}
section .banner .hot-marjor h1 span {
    color:#e8440c
}
section .banner .hot-marjor h1 small {
    font-size:.346667rem;
    font-weight:400
}
section .banner .hot-marjor p {
    font-size:.266667rem;
    color:#132046;
    margin-top:.24rem;
    padding-left:.8rem
}
section .banner .hot-marjor p b {
    color:#e8440c
}
section .banner .hot-marjor table {
    width:84%;
    background-size:100% 100%;
    margin-top:.173333rem
}
section .banner .hot-marjor table tbody tr td {
    width:55%;
    text-align: left;
    font-size:.38rem;
    color:#191919;
    padding:.173333rem 0;
    padding-left:5%
}
section .banner .hot-marjor table tbody tr th {
    width:45%;
    text-align:center;
    font-size:.4rem;
    color:#313a5b;
    padding:.173333rem 0
}
.k-btn{
    font-size: .26rem;
    color: #fff;
    width:3rem;
    height:.72rem;
    line-height:.72rem;
    background: #25346e;
    text-align: center;
    display: block;
    border-radius: .1rem;
}
.k-img{
    display: block;
    margin:.22rem auto 0;
    width:75%;
}
section .banner .hot-marjor table tbody tr th span {
    font-weight:900;
    color:#e8440c
}
section .banner1016 {
    padding:.733333rem 0 .866667rem 0
}
section .banner1016 .deadtime:before,section .banner1016 .deadtime:after {
    content:'';
    position:absolute;
    top:.266667rem;
    width:30%;
    height:1px;
    background:#fff
}
section .new-part {
    padding-top:.666667rem
}
section .new-part form .radio-choose .p-ti1 {
    font-size:.48rem;
    color:#1b274f;
    background: #edeefb;
    line-height: 1.55rem;
    height: 1.55rem;
}
section .new-part form .radio-choose .p-ti1 span {
    font-weight:900;
    color:#25346e
}

section .new-part form .radio-choose .radio-box {
    padding:0 .333333rem;
    margin-top:.666667rem
}
section .new-part form .radio-choose .radio-box p {
    font-size:.426667rem;
    color:#0e3145;
    font-weight:700
}
section .new-part form .radio-choose .radio-box .radio-wrap label {
    display:inline-block;
    font-size:.373333rem;
    color:#0e3145;
    border:2px solid #a19e9d;
    width:28%;
    height:.733333rem;
    line-height:.733333rem;
    text-align:center;
    margin-left:2%;
    margin-top:.373333rem
}
section .new-part form .radio-choose .radio-box .radio-wrap label input[type=radio] {
    display:none
}
section .new-part form .radio-choose .radio-box .radio-wrap .label-other {
    width:45%
}
section .new-part form .radio-choose .radio-box .radio-wrap .label-active {
    background:#25346e;
    border:2px solid #25346e;
    color:#fff
}
section .new-part form .input-block {
    padding-top:.2rem;
    margin-top:.733333rem
}
section .new-part form .input-block p {
    font-size:.32rem;
    color:#2b4554
}
section .new-part form .input-block input {
    border: 1px solid #25346e;
    width:8rem;
    height:1.066667rem;
    line-height:1.066667rem;
    border-radius:.16rem;
    background:#fff;
    outline:0;
    margin-top:.426667rem;
    font-size:.426667rem
}
section .new-part form .input-block .p1-form-btn {
    background:#f8605d;
    margin-bottom:.666667rem;
    -webkit-appearance:none
}
section .new-part form .input-block .scroll-box {
    border: .22rem solid #edeefb;
    background:#c9cce2 ;
    background-size:100%;
    padding-top:.533333rem;
    padding-bottom:.266667rem
}
section .new-part form .input-block .scroll-box p {
    font-size:.32rem;
    color:#2b4554
}
section .new-part form .input-block .scroll-box ul {
    height:.8rem;
    line-height:.8rem;
    font-size:.373333rem;
    color:#0e3145;
    overflow:hidden;
    margin-top:.2rem
}
section .new-part form .input-block .scroll-box ul li span {
    margin-right:.693333rem
}
section .form-public input,section .form-public select {
    display:block;
    outline:0;
    border:0;
    font-size:.426667rem
}
section .form-public .input-style {
    width:8.346667rem;
    height:.986667rem;
    border:1px solid #6e6e6e;
    margin-top:.466667rem
}
section .form-public .form-btn {
    width:8.4rem;
    height:1.013333rem;
    background:#f8605d;
    margin-top:.48rem;
    -webkit-appearance:none
}
section .form-part2 form {
    position: relative;
    width:89%;
    border:.04rem solid #554f4f;
    margin-top:.573333rem;
    margin-bottom:.72rem;
    padding-top:.333333rem;
    padding-bottom:.8rem;
    border-radius: 0;
}
section .form-part2 form:after {
    content: " ";
    z-index: -1;
    position: absolute;
    top:1.5%;
    left:1.5%;
    width:100%;
    height:100%;
    border:.04rem solid #554f4f;
}
section .form-part2 form h1 {
    height:1.04rem;
    line-height:.8rem;
    font-size:.72rem;
}
section .form-part2 form h1,section .form-part2 form h2 {
    color:#25346e;
    padding-top: .28rem;
    font-size:.666667rem
}
section .form-part2 form h1 span,section .form-part2 form h2 span {
    color:#373636;
    font-weight:400
}
section .form-part2 form p {
    padding: 0 .42rem;
    font-size:.24rem;
    color:#787980;
    margin:.12rem .48rem
}
section .form-part2 form .fp2-time {
    margin:.373333rem 0 .733333rem 0;
    font-size:0
}
section .form-part2 form .fp2-time .time-wrap {
    display:inline-block;
    width:3.173333rem;
    height:2.853333rem;
    border-radius:.4rem;
    background:#25346e;
    font-size:1.333333rem;
    margin-left:.373333rem;
    margin-right:.373333rem
}
section .form-part2 form .fp2-time .time-wrap .time-info {
    bottom:.506667rem;
    left:0;
    display:inline-block;
    width:100%;
    font-size:.426667rem;
    color:#373636;
    height:.64rem;
    line-height:.64rem;
    background:#fff
}
section .form-part2 form .fp2-input-style .same-style {
    width:7.173333rem;
    height:.986667rem;
    margin-top:.333333rem;
    padding-left:.466667rem
}
section .form-part2 form .fp2-input-style .select-style {
    width:7.64rem;
    background:#fff
}
section .form-part2 form .fp2-input-style .fp2-btn {
    width:7.64rem;
    margin-top:.48rem
}
section .form-part3 {
    padding-top:.666667rem;
    padding-bottom:.733333rem;
}
section .form-part3 p,section .form-part3 h1 {
    font-size:.666667rem;
    color:#373636
}
section .form-part3 p span,section .form-part3 h1 span {
    color:#25346e
}
section .form-part3 h1.fp3-h1 {
    height:1.04rem;
    line-height:.8rem;
    font-size:.72rem;
    background-size:2.346667rem .186667rem
}
.form-part3-title{
    display: block;
    width:100%;
}
section .form-part3 .fp3-container {
    padding:0 .48rem;
    margin-left:-5%
}
section .form-part3 .fp3-container .fp3-box {
    width:45%;
    margin-left:5%;
    margin-top:.533333rem
}
section .form-part3 .fp3-container .fp3-box .img-box img {
    width:72%;
    display: block;
    margin: auto;
}
.xc-img{
    display: block;
    width:80%;
    margin: auto;
}
section .form-part3 .fp3-container .fp3-box .text-box {
    color:#25346e;
    text-align: center;
    font-size:.32rem;
    height:1.2rem;
    padding:.266667rem .333333rem
}
section .form-part3 form {
    margin-top:.88rem
}
section .form-part3 form h1 {
    font-size:.666667rem;
    color:#25346e
}
section .form-part3 form h1 span {
    display:block;
    color:#373636
}
section .form-part3 form .fp3-btn {
    margin-top:.48rem
}
section .form-part4 {
    padding-top:.666667rem;
    padding-bottom:.8rem
}
section .form-part4 h1 {
    font-size:.72rem;
    color:#373636;
    height:1.04rem;
    line-height:.8rem;
    background-size:6.186667rem .066667rem
}
section .form-part4 .fp-h11019 {
    background-size:3.066667rem .066667rem
}
section .form-part4 p {
    border: 1px solid #25346e;
    padding: .3rem;
    margin:.266667rem auto 0;
    width:58%;
    font-size:.32rem;
    color:#787980;
    text-align: center;
    position: relative;
}
section .form-part4 p:after {
    content: " ";
    display: block;
    position: absolute;
    left:0;
    right:0;
    top:0;
    width:35%;
    margin:-0.05rem auto 0;
    height:.1rem;
    background: #25346e;
}

section .form-part4 p span {
    color:#ee4949
}
section .form-part4 form .shebao {
    font-size:.506667rem;
    color:#373636;
    margin-top:.4rem;
    margin-bottom:.666667rem
}
section .form-part4 form .shebao label {
    margin-right:.2rem
}
section .form-part4 form .shebao label input {
    display:inline-block;
    vertical-align:middle;
    margin-right:.106667rem;
    outline:0
}
section .form-part4 form .form-div {
    width:8.346667rem;
    height:.986667rem;
    border:1px solid #25346e;
    overflow:hidden;
    margin-top:.346667rem
}
section .form-part4 form .form-div .f-title {
    display:inline-block;
    width:1.44rem;
    height:.986667rem;
    line-height:.986667rem;
    background:#25346e;
    font-size:.426667rem
}
section .form-part4 form .form-div .same-style {
    display:inline-block;
    width:6.853333rem;
    height:.986667rem;
    background:#fff;
    font-size:.426667rem;
    border:0;
    outline:0
}
section .form-part4 form .form-div .select-style {
    color:#757575;
    background:#fff url(../images/arrow.jpg) 6.266667rem center no-repeat;
    background-size:.346667rem .293333rem;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    text-align:center;
    text-align-last:center;
    -moz-text-align-last:center
}
section .form-part4 form .form-div select::-ms-expand {
    display:none
}
section .copyright {
    font-size:.32rem;
    color:#666;
    background:#f1f1f1;
    padding:.266667rem 0;
    text-align:center;
    line-height:.533333rem
}
footer {
    background:#25346e;
    width:100%;
    height:1.133333rem;
    line-height:1.133333rem;
    position:fixed;
    left:0;
    bottom:0;
    z-index:9999
}
footer ul li {
    float:left;
    width:25%;
    font-size:.4rem;
    color:#fff;
    height:1.133333rem;
    line-height:1.133333rem;
    border-left:1px solid #fff
}
footer ul li .side2-num {
    animation:side2-num 2s infinite;
    -moz-animation:side2-num 2s infinite;
    -webkit-animation:side2-num 2s infinite;
    width:.4rem;
    height:.4rem;
    line-height:.4rem;
    background:#f8605d;
    border-radius:50%;
    top:.133333rem;
    right:.066667rem;
    font-size:.266667rem
}
footer ul li:first-child {
    border-left:none;
    width:24%
}
footer ul .act {
    background:#f8605d
}
