.left{ 
	float: left;
}
.right{
	float: right;
}
.in{ 
	width: 7.1rem;
	margin: 0 auto;
}
img{ 
	display: block;
}
body{
	font-size: 0.20rem;
}

/* 工程预算*/
.banner{
	width:100%; 
	height: 8.2rem;
	background: url(../images/banner.jpg) center center no-repeat;
	background-size: 7.5rem 8.2rem;
}
.shih{
	width:100%;
	height: 6.14rem;
	background: url(../images/b1.jpg) center center no-repeat;
	background-size: 7.5rem 6.14rem;
}
.shih .in{
	height: 6.14rem;
}
.shih h2{
	color: #fff;
	font-size: 0.48rem;
	line-height: 1.24rem;
	text-align: center;
	padding-top: 0.45rem;
	font-weight: bold;
}
.shih ul{
	overflow: hidden;
}
.shih ul li{
	width: 1.58rem;
	height: 2.59rem;
	float: left;
	margin-right: 0.25rem;
	background: url(../images/b2.png) center center no-repeat;
	background-size: 1.58rem 2.59rem;
}
.shih ul li:nth-of-type(4){
	margin-right: 0;
}
.shih ul li p{
	font-size: 0.28rem;
	line-height: 0.34rem;
	color: #fff;
	text-align: center;
	padding-top: 0.74rem;
}
.shih ul li a{
	display: block;
	font-size: 0.22rem;
	line-height: 0.22rem;
	color: #f6afc2;
	text-align: center;
	padding-top: 0.4rem;
}
.btn{
	display: block;
	width: 2.33rem;
	height: 0.61rem;
	line-height: 0.61rem;
	text-align: center;
	margin: 0 auto;
	background: #fff;
	color: #ec3a50;
	font-size: 0.29rem;
	border-radius: 0.31rem;
}
.shih .btn{
	margin-top: 0.42rem;
}
.ys {
	margin-top: 0.47rem;
}
.ys h2{
	font-size: 0.46rem;
	line-height: 1.24rem;
	text-align: center;
	padding-top: 0.45rem;
	color: #333333;
	font-weight: bolder;
}
.ys ul{
	overflow: hidden;
}
.ys ul li{
	width: 2.2rem;
	height: 2.2rem;
	float: left;
	margin-right: 0.25rem;
	margin-bottom: 0.23rem;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.23rem;
	color: #fff;
}
.ys ul li:nth-of-type(3),.ys ul li:nth-of-type(6){
	margin-right: 0;
}
.ys ul li span{
	display: block;
	width:0.73rem;
	height: 0.73rem;
	margin:0.42rem auto 0.13rem;
}
.ys ul li:nth-of-type(1){
	background: #593cba;
}
.ys ul li:nth-of-type(2){
	background: #8c36b8;
}
.ys ul li:nth-of-type(3){
	background: #cc3c87;
}
.ys ul li:nth-of-type(4){
	background: #238e62;
}
.ys ul li:nth-of-type(5){
	background: #d67e00;
}
.ys ul li:nth-of-type(6){
	background: #1666b8;
}
.ys ul li:nth-of-type(1) span{
	background: url(../images/1.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys ul li:nth-of-type(2) span{
	background: url(../images/2.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys ul li:nth-of-type(3) span{
	background: url(../images/3.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys ul li:nth-of-type(4) span{
	background: url(../images/4.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys ul li:nth-of-type(5) span{
	background: url(../images/5.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys ul li:nth-of-type(6) span{
	background: url(../images/6.png) center center no-repeat;
	background-size: 0.73rem 0.73rem;
}
.ys .btn{
	background: none;
	border:0.01rem solid #ec3a50;
}
.tj{
	margin-top: 0.46rem;
}
.tj h2{
	font-size: 0.47rem;
	line-height: 1.2rem;
	text-align: center;
	color: #333333;
	font-weight: bolder;
}
.tj ul{
	overflow: hidden;
}
.tj ul li{
	position: relative;
	width:3.45rem;
	height: 2.87rem;
	float: left;
	margin-right: 0.2rem;
}
.tj ul li img{
	width:3.45rem;
	height: 2.87rem;
}
.tj ul li:nth-of-type(2),.tj ul li:nth-of-type(4),.tj ul li:nth-of-type(6){
	margin-right: 0;
}
.tj ul li p{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 0.37rem;
	line-height: 0.37rem;
	background: rgba(0,0,0,0.4);
}
.tj ul li p span{
	float: left;
	font-size: 0.23rem;
	margin-left: 0.12rem;
	color: #fff;
	line-height: 0.37rem;
}
.tj ul li p a{
	float: right;
	margin-right: 0.12rem;
	color: #fff;
}
.cx{
	width: 100%;
	margin-top: 0.55rem;
	height: 3.24rem;
	background: url('../images/b3.jpg') center center no-repeat;
	background-size: 7.5rem 3.24rem;
}
.empty{
	width: 0;
	padding-top: 0.44rem;
}
.cx .name,.cx .number{
	display: block;
	width: 4.25rem;
	height: 0.6rem;
	margin: 0 auto 0.3rem;
	font-size: 0.21rem;
	color: #fff;
	line-height: 0.6rem;
	border: none;
	background: #807875;
	text-indent: 0.15rem;
	outline: none;
}
.cx input::-webkit-input-placeholder{
    color:#fff;
}
.cx input::-moz-placeholder{
    color:#fff;
}
.cx input:-moz-placeholder{ 
    color:#fff;
}
.cx input:-ms-input-placeholder{  
    color:#fff;
}
.cx .cx-btn{
	display: block;
	margin: 0 auto;
	width: 3.1rem;
	height: 0.6rem;
	background: #ec3a4f;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 0.3rem;
	font-size: 0.29rem;
}
.style{
	width: 100%;
	height: 9.68rem;
	background: url('../images/b4.jpg') center center no-repeat;
	background-size: 7.5rem 9.68rem;
}
.style h2{ 
	font-family: "微软雅黑";
	font-size: 0.48rem;
	color: #fff;
	text-align: center;
	line-height: 0.62rem;
	font-weight: bold;
}
.style h2:nth-of-type(1){
	padding-top: 0.96rem;
}
.style ul{
	margin-top: 0.38rem;
	overflow: hidden;
}
.style ul li{
	width: 3.45rem;
	height: 2.87rem;
	float: left;
	margin-right: 0.2rem;
	margin-bottom: 0.23rem;
}
.style ul li:nth-of-type(2),.style ul li:nth-of-type(4){
	margin-right: 0;
}
.style ul li img{
	width: 3.45rem;
	height: 2.87rem;
}
.guide{
	margin-top: 0.94rem;
}
.guide h2{
	font-family: "微软雅黑";
	font-size: 0.46rem;
	text-align: center;
	font-weight: bold;
	color: #333333;
	line-height: 0.46rem;
}
.guide ul {
	margin-top: 0.4rem;
}
.guide ul li{
	width: 7.1rem;
	height: 2.81rem;
	margin-bottom: 0.3rem;
}
.guide ul li img{
	width: 7.1rem;
	height: 2.81rem;
}
.yy{
	width: 100%;
	margin-top: 0.25rem;
	height: 3.25rem;
	background: url('../images/b5.jpg') center center no-repeat;
	background-size: 7.5rem 3.25rem;
}
.yy .name,.yy .number{
	display: block;
	width: 4.25rem;
	height: 0.6rem;
	margin: 0 auto 0.3rem;
	font-size: 0.21rem;
	color: #fff;
	line-height: 0.6rem;
	border: none;
	background: #807875;
	text-indent: 0.15rem;
	outline: none;
}
.yy input::-webkit-input-placeholder{
    color:#fff;
}
.yy input::-moz-placeholder{
    color:#fff;
}
.yy input:-moz-placeholder{ 
    color:#fff;
}
.yy input:-ms-input-placeholder{  
    color:#fff;
}
.yy .yy-btn{
	display: block;
	margin: 0 auto;
	width: 3.1rem;
	height: 0.6rem;
	background: #ec3a4f;
	color: #fff;
	text-align: center;
	line-height: 0.6rem;
	border-radius: 0.3rem;
	font-size: 0.29rem;
}
.peration{
	margin-top: 0.76rem;
}
.peration h2{
	font-family: "微软雅黑";
	font-size: 0.46rem;
	text-align: center;
	font-weight: bold;
	color: #333333;
	line-height: 0.46rem;
}
.peration ul{
	margin-top: 0.26rem;
	overflow: hidden;
}
.peration ul li{
	float: left;
	width: 2.22rem;
	height: 1.43rem;
	margin-right: 0.19rem;
	margin-bottom: 0.2rem;
}
.peration ul li:nth-of-type(3),.peration ul li:nth-of-type(6),.peration ul li:nth-of-type(9){
	margin-right: 0;
}
.peration ul li img{
	width: 2.22rem;
	height: 1.43rem;
}
.peration ul li a{
	display: block;
	text-align: center;
	color: #999999;
	font-size: 0.23rem;
	line-height: 1.43rem;
}
.peration ul li.more{
	border: 0.01rem solid #e5e5e5;
	background: #f6f6f6;
}