body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
    margin: 0;
    padding: 0;
}
body{
    background: #666666;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
+ zoom: 1;
}
.font_yahei {
    font-family: "Microsoft YaHei";
}
.bdcontent-show{
    display: block !important;
}
.bdcontent{
    display: none;
    position: relative;
    width:685px;
    height: 609px;
    background: url("../images/tkbg.png") no-repeat;
    background-size: 820px 644px;
    margin: auto;
    padding: 0 100px 35px 35px;

}
.bdcontent-title{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 50px;
}
.qustion-title{
    font-size: 18px;
    color: #333333;

}
.qustion-title span{
    color: #715fcb;
    font-size: 30px;
    font-weight: bold;
}
.qustion-list{
    margin-left: 43px;
    margin-top: 17px;
}
.qustion-list li{
    cursor: pointer;
    margin-right: 25px;
    margin-bottom: 19px;
    position: relative;
    width:206px;
    height:136px;
    float: left;
    border: 1px dotted #999999;
    border-radius: 8px;
    padding: 12px 12px 12px 36px;
    color: #333333;
}
.qustion-list li:nth-child(2n){
    margin-right: 0px;
}
.choose-item{
    cursor: pointer;
    position: absolute;
    left:14px;
    font-size: 18px;
}
.choose-item-content{
    cursor: pointer;
    width:206px;
    height: 136px;
    overflow: hidden;
    font-size: 18px;
}
.choose-item-content img{
    height:136px;
}
.hide{
    display: none;
}
.qustion-list .on{
    border-color: #715fcb;
    color: #715fcb;
    background: #ffffff;
}
.qustion{
    display: none;
}
.qustion-show{
    display: block;
}
.bd-title{
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    text-align: center;
    margin-top: 86px;
}
.bdcontent1{
    background: url(../images/tkbg1.png) no-repeat;
}
.bd form{
    font-size: 18px;
    color: #333333;
    width: 500px;
    margin:50px auto 0;
}
.bd form label{
    text-align: right;
    width:100px;
    display: inline-block;
}
.bd form input{
    font-size: 18px;
    margin-bottom: 40px;
    display: inline-block;
    width: 346px;
    height: 58px;
    border-radius: 8px;
    border: 1px solid #dcdddd;
    padding-left: 12px;
}
.bd-btn{
    width:180px;
    height:60px;
    display: block;
    background: #7d6bd0;
    border-radius: 60px;
    margin: auto;
    line-height: 60px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    -moz-box-shadow:0px 4px 9px #6E6E6E; -webkit-box-shadow:0px 4px 9px #6E6E6E; box-shadow:0px 4px 9px #6E6E6E;
}
.result{
    position: relative;
    right: 20px;
    bottom: 35px;
    width:731px;
    height:518px;
    background: url("../images/result.png") no-repeat;
}
.result-num{
    font-size: 90px;
    font-weight: lighter;
    color: #ffffff;
    text-align: center;
    padding-top: 173px;
    width: 711px;
}
.result-content{
    padding-top: 103px;
    text-align: center;
    font-size: 23px;
    color: #ffffff;
    margin-left: 30px;
}
.result-content b{
    font-size: 30px;
    color: #ffd800;
}
.cs-close{
    width:47px;
    height:47px;
    position: absolute;
    right:0;
    top:34px;
    border-radius: 47px;
    cursor: pointer;
}