<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <title>首页</title>
    <script src="../../assets/js/rem.js"></script>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/css/styleContinuing.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="head">
        <h1>中鹏培训</h1>
        <div class="menu">
            <span id="menuContorl" onclick="app.showMenu()"></span>
            <!-- 右侧导航 -->
            <div class="menuAside">
                <div class="menuAside-inner">
                    <dl>
                        <dt>导  航<i>MENU</i><span onclick="app.hideMenu()"></span></dt>
                        <dd><a href="">学院首页</a></dd>
                        <dd><a href="">课程中心</a></dd>
                        <dd><a href="">报考中心</a></dd>
                        <dd><a href="">学院动态</a></dd>
                        <dd><a href="">学员天地</a></dd>
                        <dd><a href="">更多</a></dd>
                    </dl>
                    <ul>
                        <li><a href="">官网首页</a></li>
                        <li><a href="">设计艺术学院</a></li>
                        <li><a href="">管理学院</a></li>
                        <li><a href="">IT学院</a></li>
                    </ul>
                    <div class="wechat-code">
                        <img src="../../assets/images/continuing/qr-code.png">
                        关注中鹏
                    </div>
                </div>
            </div>
            <!-- 右侧导航 end -->
        </div>
    </div>
</div>
<!-- header end -->

<!-- 新闻内容 -->
<div class="content">
    <h1>两会声音：关注职业教育，助力技能强国</h1>
    <p class="content-info">2018/10/05  14:06:17</p>
    <div id="content">
        职业教育与产业改革如何融为一体?如何应对当前普遍存在的职教与产业“两张皮”、“校热企冷”等突出问题？如何通过发展职业教育,营造培育“工匠精神”的良好土壤?<br>
        2017年，“职业教育改革助推制造业发展”成为民进中央的年度重点考察调研选题。通过调研，民进中央提出建议，应从改革国家职业教育管理体制顶层设计入手，设立机制统筹教育部、人社部和其他相关部委、行业协会、企业的各类资源，实现技能人才培养和使用的综合配置、协调发展。
        <img src="../../assets/images/continuing/content1.png">
        职业教育与产业改革如何融为一体?如何应对当前普遍存在的职教与产业“两张皮”、“校热企冷”等突出问题？如何通过发展职业教育,营造培育“工匠精神”的良好土壤?
    </div>
    <div class="preview">
        <a href="" class="prevPage">两会声音：关注职业教育，助力技能强国 拷贝</a>
        <a href="" class="nextPage">两会声音：关注职业教育，助力技能强国 拷贝</a>
    </div>
</div>
<!-- 新闻内容 end -->

<!-- footer -->
<div class="footer">
    <div class="footer-links flex flex-items">
        <ul>
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">企业文化</a></li>
            <li><a href="">加入我们</a></li>
        </ul>
        <div class="footer-contact">
            <a href="tel:4009306618">
                <i class="icon-phone"></i>
                <span>联系号码  400-930-6618</span>
            </a>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2008-2018   深圳市中鹏教育科技股份有限公司<br>
        ALL RIGHT RESERVED 备案号:粤ICP备09069122号-25
    </p>
</div>
<!-- footer end-->
<script src="../../assets/plugins/jquery-1.10.1.min.js"></script>
<script src="../../assets/js/common.js"></script>
</body>
</html>