body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    outline: none;
    color: inherit;
    blr:expression(this.onFocus=this.blur());
}

a:focus {
    outline: none !important;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
.font_yahei{
    font-family: "Microsoft YaHei";
}
.container_1200{
    width:1200px;
    margin: 0 auto;
}
/*棣栭〉----[绠＄悊瀛﹂櫌]寮€濮�*/
.shortcut{
    background: #fb581f;
    height:30px;
}
.shortcut_content{
    height:30px;
    line-height:30px;
}
.shortcut_content a{
    color: #ffbebe;
    font-size: 14px;
    padding-right:  10px;
    cursor:  pointer;
}
.shortcut_content img
{
    position: relative;
    top: 3px;
    padding-right: 5px;
}
.shortcut_content_left{
    float: left;
}
.shortcut_content_right{
    float: right;
}
.logomore{
    background: #ffffff;
    box-shadow: 3px 3px 3px rgba(233, 233, 233, 0.6);
}
.logomore_content{
    padding-top:20px;
    height: 120px;
}
.logomore_content_left_img{
    float: left;
    padding-right: 12px;
}
.names{
    float: left;
    padding-top: 2px;
}
.collegeName{
    color: #333333;
    font-weight:  bold;
    line-height: 42px;
}
.cityName{
    line-height: 25px;
    color: #333333;
    font-size:14px;
}
.cityName img{padding-left: 3px;position:  relative;top: 1px;cursor:  pointer;}
.page-font{
    float: left;
    width: 420px;
    height: 35px;
}
.page-font img{
    display: block;
}
.search{
    background: #e0e0e0;
    float: left;
    width: 280px;
    height: 35px;
    margin-top:4px;
    border-radius: 4px;
}
.search:hover{

}
.search input{
    width: 242px;
    margin:0;
    padding:0;
    height: 35px;
    border:none;
    background: transparent;
    outline:none;
    padding-left:8px;
    color: #333333;
}
.search input:-ms-input-placeholder{
    color: #999999;
}

.search input::-webkit-input-placeholder{
    color: #999999;
}
.search img{
    vertical-align: middle;
    margin-right:5px;
    cursor:pointer;
}
.logomore_content_left{
    float: left;
}
.logomore_content_right{
    float: right;
}
.hotline{padding-left:  65px;float: left;}
.hotline img{
    float: left;
    padding-right: 10px;
    position:  relative;
    top: 3px;
}
.hotline_content{
    float: left;
    color: #999999;
}
.hotline_content_name{
    font-size: 12px;
}
.hotline_content_number{
    font-size: 22px;
    color: #ef3333;
}
.nav{
    padding-top: 20px;
}
.nav li:first-child{
    background-image: none;
}
.nav li{
    padding: 6px 18px;
    background-image: url("http://www.gdzp.org/assets/images/jixujiaoyu/line.png");
    background-repeat: no-repeat;
    background-position: 0 11px;
    cursor: pointer;
    float: left;
    height:40px;
    list-style-type: none;
    font-size: 15px;
}

.nav li > a{
    padding: 6px 18px;
    color: #333333;
}
.nav_active > a,.nav li > a:hover{
    position: relative;
    background: #fb581f;
    border-radius: 15px;
    color: #ffffff !important;
}
.nav_active:after{
    content: "";
    height: 20px;
    width: 60px;
    /* border-left: 6px solid transparent; */
    /* border-right: 6px solid transparent; */
    /* border-bottom: 12px solid #1b1c1d; */
    position: absolute;
    bottom: -18px;
    left:42px;
}
.nav_drop_down{
    text-align:  center;
    background: rgba(16, 16, 16, 0.54);
    height:162px;
    display: none;
    width: 100%;
    z-index: 999;
    position: absolute;
    top: 168px;
    left:0;
}
.nav_drop_down img{
    width:126px;
    height:95px;
}
.nav_drop_down_list{
    float: left;
    padding: 11px;
    text-align: center;
    cursor: pointer;
}
.nav_drop_down_list div{
    font-size:14px;
    color: #ffffff;
}
.nav_drop_down_lists{
    padding-top: 11px;
    margin: 0 auto;
}
.wiperinfo{
    top: -42px;
    z-index: 99;
    position:  relative;
}
.wiperinfo_list{
    cursor:  pointer;
    float: left;
    width: 600px;
    height: 80px;
    background: #fb581f;
    color: #ffffff;
    box-shadow: 0px 3px 0px #dedede;
}
.wiperinfo_list img{
    float: left;
    margin: 17px 0 0 37px;
}
.wiperinfo_list div{
    float: left;
    margin-top: 12px;
    line-height: 25px;
    margin-left: 43px;
}
.borderline{
    background-image: url("http://www.gdzp.org/assets/images/jixujiaoyu/line2.png");
    background-repeat: no-repeat;
    background-position: right 19px;
}

/*悬浮加底部样式*/
.float-ad {
    position: fixed;
    right: 0;
    bottom: 77px;
    z-index: 99999;
    width: 70px;
}
.float-ad .float-interaction {
    width: 100%;
}
.float-ad .float-interaction .interac-item {
    position: relative;
    z-index: 99999;
    margin-top: 4px;
}
.float-ad .float-interaction .interac-item .link {
    display: block;
    /* background-color: #636363;*/
    padding-top: 4px;
    width: 64px;
    height: 60px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.float-ad .float-interaction .interac-item .link .icon,
.float-ad .float-interaction .interac-item .link span {
    display: block;
    width: 100%;
    height: 42px;
}
.float-ad .float-interaction .interac-item .link .icon {
    background-repeat: no-repeat;
    background-position: center;
}
.float-ad .float-interaction .interac-item .link .icon-1 {
    background-image: url('http://www.gdzp.org/assets/images/guanwang/float-1.png');
}
.float-ad .float-interaction .interac-item .link .icon-2 {
    background-image: url('http://www.gdzp.org/assets/images/guanwang/float-2.png');
}
.float-ad .float-interaction .interac-item .link .icon-3 {
    background-image: url('http://www.gdzp.org/assets/images/guanwang/float-3.png');
}
.float-ad .float-interaction .interac-item .link .icon-4 {
    background-image: url('http://www.gdzp.org/assets/images/guanwang/float-4.png');
}
.float-ad .float-interaction .interac-item .link .icon-5 {
    background-image: url('http://www.gdzp.org/assets/images/jixujiaoyu/float-5.png');
}
.float-ad .float-interaction .interac-item .link .icon-6 {
    background-image: url('http://www.gdzp.org/assets/images/jixujiaoyu/float-6.png');
}
.float-ad .float-interaction .interac-item .link .icon-7 {
    background-image: url('http://www.gdzp.org/assets/images/jixujiaoyu/float-7.png');
}
.float-ad .float-interaction .interac-item .link span {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 14px;
    text-align: center;
    color: #fff;
}
.float-ad .float-interaction .interac-item .link.on {
    /* background-color: #ef3333;*/
}
.float-ad .float-interaction .interac-item .float-frm-wrapper {
    position: absolute;
    right: 70px;
    top: -20px;
    z-index: auto;
    width: 213px;
}
.float-ad .float-interaction .interac-item .float-frm-wrapper .float-frm {
    padding: 70px 24px 0 18px;
    width: 161px;
    height: 179px;
    background: url('http://www.gdzp.org/assets/images/jixujiaoyu/gw-bg-float.png') no-repeat center;
}
.float-ad .float-interaction .interac-item .float-frm-wrapper .float-frm .form-group {
    position: relative;
    z-index: auto;
    margin-top: 11px;
    width: 160px;
}
.float-ad .float-interaction .interac-item .float-frm-wrapper .float-frm .form-group input {
    width: 100%;
    height: 40px;
    border: 1px solid #898989;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 40px;
    text-align: left;
    color: #bfbfbf;
    text-indent: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.float-ad .float-interaction .interac-item .float-frm-wrapper .float-frm .form-group span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: auto;
    width: 100%;
    height: 42px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 42px;
    text-align: left;
    color: #bfbfbf;
    text-indent: 7px;
}
.float-ad .float-interaction .interac-item .float-frm-wrapper .float-frm .submit {
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    margin: 17px auto 0;
    display: block;
    width: 106px;
    height: 30px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #ef3333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.float-ad .float-interaction .interac-item .float-weixin-wrapper {
    position: absolute;
    right: 70px;
    top: -30px;
    z-index: auto;
    width: 213px;
    min-height: 230px;
    background: url('http://www.gdzp.org/assets/images/jixujiaoyu/gw-bg-float.png') no-repeat left top;
}
.float-ad .float-interaction .interac-item .float-weixin-wrapper .weixin {
    display: block;
    margin-left: 21px;
    padding-top: 67px;
    width: 163px;
}
.float-ad .float-interaction .interac-item .float-qq-wrapper {
    position: absolute;
    right: 70px;
    top: -30px;
    z-index: auto;
    width: 213px;
    min-height: 230px;
    background: url('http://www.gdzp.org/assets/images/jixujiaoyu/gw-bg-float3.png') no-repeat left top;
}
.float-ad .float-interaction .interac-item .float-qq-wrapper .block-nbsp .qq {
    color: #ffffff;
    background: #ef3333;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 16px;
}
.block-nbsp{
    padding-top: 119px;
    width:195px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:28px;
}
.yellow-link{
    background-color: #feab48 ;
}
.yellow-link.on{
    background-color: #eda043;
}
.blue-link{
    background-color: #42c8ff;
}
.blue-link.on{
    background-color: #38abda;
}
.darkblue-link{
    background-color: #7a96e4;
}
.darkblue-link.on{
    background-color: #6e88ce;
}
.green-link{
    background-color: #4ab249;
}
.green-link.on{
    background-color: #3f973e;
}
.red-link{
    background-color: #fc7b7a;
}
.red-link.on{
    background-color: #d66968;
}
.g-footer {
    background-color: #313131;
}
.g-footer .footer-top {
    border-bottom: 1px solid #666;
    padding-top: 68px;
    padding-bottom: 50px;
}
.g-footer .footer-top .left {
    width: 1040px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 25px;
    text-align: left;
    color: #666;
}
.g-footer .footer-top .left .footer-nav {
    margin-top: 7px;
    height: 25px;
    font-size: 0;
}
.g-footer .footer-top .left .footer-nav a,
.g-footer .footer-top .left .footer-nav span {
    display: inline-block;
    font-size: 16px;
    color: #666;
}
.g-footer .footer-top .left .footer-nav span {
    margin: 0 16px;
}
.g-footer .footer-top .left .footer-nav a:hover {
    color: #fff;
}
.g-footer .footer-top .left .footer-link {
    margin-top: 37px;
}
.g-footer .footer-top .left .footer-link .first,
.g-footer .footer-top .left .footer-link .underline {
    float: left;
    width: 265px;
    font-size: 0;
}
.g-footer .footer-top .left .footer-link .underline .link-item{
    width:185px !important;
}
.g-footer .footer-top .left .footer-link .first .icon,
.g-footer .footer-top .left .footer-link .underline .icon,
.g-footer .footer-top .left .footer-link .first .link-item,
.g-footer .footer-top .left .footer-link .underline .link-item {
    display: inline-block;
    vertical-align: top;
}
.g-footer .footer-top .left .footer-link .first .icon,
.g-footer .footer-top .left .footer-link .underline .icon {
    width: 66px;
    height: 66px;
}
.g-footer .footer-top .left .footer-link .first .link-item,
.g-footer .footer-top .left .footer-link .underline .link-item {
    margin-left: 12px;
    width: 178px;
    font-size: 14px;
}
.g-footer .footer-top .left .footer-link .first .link-item .tit,
.g-footer .footer-top .left .footer-link .underline .link-item .tit {
    display: block;
    font-weight: bold;
}
.g-footer .footer-top .left .footer-link .first .link-item .cont,
.g-footer .footer-top .left .footer-link .underline .link-item .cont {
    margin-top: 4px;
    display: block;
    line-height: 18px;
}
.g-footer .footer-top .left .footer-link .first {
    width: 290px;
}
.g-footer .footer-top .left .footer-link .second {
    width: 200px !important;
}
.g-footer .footer-top .left .footer-link .second .link-item{
    width: 100px !important;
}
.g-footer .footer-top .left .footer-link .underline .link-item .cont {
    margin-top: 9px;
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
}
.g-footer .footer-top .right {
    width: 124px;
}
.g-footer .footer-top .right .weixin-desc {
    margin-top: 4px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    color: #666;
}
.g-footer .footer-bottom {
    padding-bottom: 23px;
}
.g-footer .footer-bottom .copyright,
.g-footer .footer-bottom .licensing {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 21px;
    text-align: center;
    color: #535353;
}
.g-footer .footer-bottom .copyright {
    margin-top: 15px;
}
.g-footer .footer-bottom .licensing em {
    margin: 0 8px;
}
.g-footer .footer-bottom .advantage {
    margin-top: 7px;
    font-size: 0;
    text-align: center;
}
.g-footer .footer-bottom .advantage li {
    display: inline-block;
    height: 35px;
}
.g-footer .footer-bottom .advantage li + li {
    margin-left: 32px;
}
.fl {
    float: left;
}
.fr {
    float: right
}
/*悬浮加底部样式*/