@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width: 16rem;
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.header-tit{
  color: #ffffff;
  font-size: px2rem(26);
  background: #e93845 url("../images/search.png") px2rem(680) center /px2rem(23) px2rem(23) no-repeat;
  height:px2rem(78);
  line-height:px2rem(78);
  cursor: pointer;
  padding-left: px2rem(40);
}
.header-list{
  background: #f3f3f3;
  padding-left: px2rem(70);
}
.header-list li{
  text-align: center;
  font-size: px2rem(26);
  width:px2rem(200);
  float: left;
  height:px2rem(78);
  line-height:px2rem(78);
}
.header-list li.on a{
  color: #e93845;
  border-bottom: 2px solid #e93845;
}
.icon-list {
  padding: px2rem(20) 0;
  background: #f3f3f3;
}
.icon-list li{
  text-align: center;
  float: left;
  width:px2rem(187);
  font-size: px2rem(24);
}
.icon-list li .icon{
  width:px2rem(98);
  height:px2rem(98);
  display: block;
  margin: auto;
  background-size: px2rem(98) px2rem(98);
  background-repeat: no-repeat;
}
.icon-list li .icon.icon-1{
  background-image: url("../images/icon1.png");
}
.icon-list li .icon.icon-2{
  background-image: url("../images/icon2.png");
}
.icon-list li .icon.icon-3{
  background-image: url("../images/icon3.png");
}
.icon-list li .icon.icon-4{
  background-image: url("../images/icon4.png");
}
.banner{
  cursor: pointer;
  width: px2rem(750);
  display: block;
}
.section-tit{
  margin: px2rem(40) px2rem(20) 0 px2rem(30);
  line-height:px2rem(26);
  font-size: px2rem(26);
  padding-left: px2rem(8);
  border-left: px2rem(4) solid #e93845;
}
.line{
  width:px2rem(710);
  margin:px2rem(20) auto;
  height:1px;
  background: #d6d6d6;;
}
.news-img{
  width:px2rem(706);
  display: block;
  margin: auto;
}
.news-tit{
  font-size: px2rem(24);
  width:px2rem(710);
  margin:px2rem(20) auto;
}
.news-detail{
  font-size: px2rem(22);
  width:px2rem(710);
  color: #666666;
  margin: auto;
}
.news-list li img{
  float: left;
  width:px2rem(227);
  display: block;
}
.news-list li{
  padding: px2rem(20) 0;
  width:px2rem(710);
  margin: auto;
  border-bottom: 1px solid #d6d6d6;
}
.news-list-right{
  width:px2rem(445);
  float: right;
}
.news-list-right .tit{
  padding-top: px2rem(10);
  font-size: px2rem(28);
}
.news-list-right .info{
  font-size: px2rem(20);
  color: #999999;
  margin-top: px2rem(28);
}
.news-list-right .info a{
   border: 1px solid;
  padding: px2rem(6) px2rem(12);
}
.color-1{
  color: #3294d7;
  border-color: #3294d7;
}
.color-2{
  color: #e7616a;
  border-color: #e7616a;
}
.color-3{
  color: #3cb1b8;
  border-color: #3cb1b8;
}
.color-4{
  color: #ffa261;
  border-color: #ffa261;
}
.more{
  line-height:px2rem(78);
  display: block;
  text-align: center;
  color: #3e7eea;
  font-size: px2rem(24);
  border-bottom: px2rem(10) solid #f3f3f3;
}
.footer{
  height:px2rem(60);
  background: #f3f3f3;
}



.btn{
  width: 100px;
  height: 40px;
  background: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto 0;
  display: block;
  font-size: 1.2rem;
  color: #e22e1c;
  cursor: pointer;
}
.register{
  display: none;
  z-index: 9999;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  width:px2rem(750);
  background: rgba(0,0,0,0.3);
  position: fixed;
  height:100%;
}
.register-content{
  position: absolute;
  width:px2rem(710);
  background: #ffffff;
  border-radius: px2rem(15);
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.reg-tit{
  width:90%;
  line-height:px2rem(78);
  margin: auto;
  font-size: px2rem(26);
  border-bottom: px2rem(3) solid #ff6672;
  text-align: center;
}
.reg-input{
  width:px2rem(600);
  height:px2rem(60);
  border-radius: px2rem(4);
  display: block;
  box-sizing: border-box;
  padding-left: px2rem(20);
  font-size: px2rem(18);
  outline:none;
  border:1px solid  #a7a7a7;
  margin:px2rem(20) auto;
}
.reg-input-content{
  width:px2rem(600);
  height:px2rem(50);
  position: relative;
  display: block;
  margin: auto;
}
.reg-inpu-1{
  position: absolute;
  left:0;
  top:0;
  width:px2rem(400);
  height:px2rem(60);
  border-radius: px2rem(4);
  display: block;
  margin: auto;
  box-sizing: border-box;
  padding-left: px2rem(20);
  font-size: px2rem(18);
  outline:none;
  border:1px solid  #a7a7a7;
}
.icon-refresh{
  position: absolute;
  right:px2rem(140);
  top:0;
  width:px2rem(60);
  height:px2rem(50);
  background: url("../images/refresh.png") center/px2rem(32) px2rem(32) no-repeat;
}
.reg-can{
  position: absolute;
  right:0;
  top:0;
  width:px2rem(200);
}
#canvas{
  font-size: px2rem(22);
  width:px2rem(140);
  height:px2rem(50);
  margin: auto 0 auto auto;
  display: block;
  border:1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.reg-btn{
  width:px2rem(600);
  height:px2rem(60);
  line-height:px2rem(60);
  background: #ff6672;
  border-radius: px2rem(4);
  margin:px2rem(40) auto 0;
  display: block;
  text-align: center;
  font-size: px2rem(22);
  color: #ffffff;
  font-weight: bold;
}
.reg-tips{
  cursor: pointer;
  font-size: px2rem(18);
  text-align: center;
  line-height:px2rem(78);
}
.closetk{
  position: absolute;
  bottom:px2rem(-80);
  left:0;
  right:0;
  margin: auto;
  width:px2rem(60);
  height:px2rem(60);
  background: url("../images/close.png") center/px2rem(60) px2rem(60) no-repeat;
}