@charset "utf-8";
/*公共样式*/
*{margin:0;padding:0;list-style-type:none;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;}
html, body {font-family:'Microsoft YaHei',arial,Helvetica,sans-serif;-webkit-text-size-adjust: none;}
body{ font:14px/2 "微软雅黑"; color:#343434; background-color:#fff;}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}

html, button, input, select, textarea{font-family:sans-serif;color:#222;-webkit-tab-size:4;-moz-tab-size:4;-o-tab-size:4;tab-size:4;}
body{color:#5a5a5a;font-size:14px;line-height:1.6;background:#fff;margin:0;overflow-y:scroll;}
input,textarea,select,button,a{outline:none;}
input:focus,input[type="text"]:focus{outline:none;}
/*html5*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
audio, canvas, video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
/*html5 end*/
ul,ol{ list-style:none;}
img{ border:none 0;}
input{font-family:"微软雅黑"; outline:none 0;}
a{ cursor:pointer;}
a:link,a:visited{ color:#343434; text-decoration:none;}
a:hover,a:active{ color:#f60;}

ul,li{list-style:none;list-style-type:none}
a:link,a:visited{color:#5a5a5a;text-decoration:none;}
a:focus{outline:thin dotted;}
.clearfix:after{content: "";display: block;clear: both;height: 0;overflow: hidden;visibility: hidden;}
.box{-moz-box;display:-webkit-box;display:box;}
.flex{-moz-box-flex:1;-webkit-box-flex:1;box-flex:1;width: 100%;}
.load-bg{background:url(../images/loading-cylon.svg) center center no-repeat #bec4cd;}
.box-center{margin: 0px auto;display: -webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;-webkit-box-align: center;display: -moz-box;-moz-box-orient: horizontal;-moz-box-pack: center;-moz-box-align: center;display: -o-box;-o-box-orient: horizontal;-o-box-pack: center;-o-box-align: center;display: -ms-box;-ms-box-orient: horizontal;-ms-box-pack: center;-ms-box-align: center;display: box;box-orient: horizontal;box-pack: center;box-align: center;}
.border-box{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.content-box{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box;}
.figure{position: relative;width: 100%;height: 0;overflow: hidden;margin: 0;padding-bottom: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;}
.figure .subset{display: block;position: absolute;width: 100%;top: 0;bottom: 0;}
.nowrap-ellipsis{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.nowrap-a a{white-space: nowrap;text-overflow:ellipsis;overflow:hidden;}
.shadow{-webkit-box-shadow: 0 1px 5px #e3e2e2;-o-box-shadow: 0 1px 5px #e3e2e2;-moz-box-shadow: 0 1px 5px #e3e2e2;box-shadow: 0 1px 5px #e3e2e2;}
.conimg img{background:url(../images/loading-cylon.svg) center center no-repeat #bec4cd;}
#data_error{width: 100%;font-size: 1.3rem;text-align: center;height: 100%;}
.mid1080{width:1080px;margin: 0 auto;}
.mid1160{width:1160px;margin: 0 auto;}
.transition3{-webkit-transition: all .3s;-moz-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.transition5{-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;}
.transition10{-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s;}
.fl{float:left;}
.fr{float:right;}
.pd20{padding:20px;}
.pd50{padding:50px;}
.clear{clear: both;}
.mid960{ width:960px; margin:0 auto;}
.clearfix2:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix2{display:inline-table}
*html.clearfix2{height:1%}
.clearfix2{display:block}
*+html .clearfix2{min-height:1%}
.hidden{display:none}



/*header*/

.headerTop{height:30px; font-size:12px; border-bottom:solid 1px #e0e0e0; width:100%; line-height:30px; }
.Toplogin{float:right;}
.Toplogin a{margin:0 5px;}
.midTop{padding:25px 0;height:89px;}
.midTop h1{float:left;}
.midTop h1 a{display:block;text-indent:-9999em;width:291px;height:89px;background:url(../../xl20171127/statics/images/logo3.png?t=0001) no-repeat left center;}
.midTop hgroup img{display:block;float:left;height:49px;width:238px;padding: 19px 248px 19px 130px;}
.Topcontact{float:right; width:173px;}
.Topcontact span{line-height:18px; display:block;}
.Topcontact span a:link,.Topcontact span a:visited{ color:#11b3ff; text-decoration:underline;}
.Topcontact span a:hover,.Topcontact span a:active{ color:#f60;}
.Topcontact b{ display:block; font-size:24px; color:#dd1e1e; line-height:36px;}
.contactTools a{ display:inline-block; width:24px; height:24px; text-indent:-9999em; background:url(../../xl20171127/statics/images/bg.png) no-repeat; margin-right:23px; float:left;}
.contactTools .xlwb{ background-position:-31px 0;}
.contactTools .weChat{background-position:-62px 0;}
.contactTools .zxQQ{background-position:-93px 0; margin-right:0;}
.bgf2f2f2{background: #f2f2f2;}
nav{ height:44px; background-color:#242222;}
nav li{ float:left; position:relative; width:118px; margin:0 1px;}
nav li a:link,nav li a:visited{ color:#fff; display:inline-block; width:118px; line-height:44px; text-align:center; background:url(../../xl20171127/statics/images/navline.png) no-repeat right center;}
nav li.on a{ background:#d60f0f;}



/*footer*/
footer{background: #f2f2f2; overflow: hidden; width:100%; font-size: 14px; border-bottom: 1px #dfdfdf solid; }
.foot {
    height: 450px;
    color: #555555;
    overflow: hidden;
    padding-bottom: 10px;
}
.w1224 {
    margin: 0 auto;
    width: 1224px;
    position: relative;
}
.foot>div {
    float: left;
    margin-top: 74px;
    height: 100%;
}
.foot1 {
    width: 35%;
    border-right: 1px solid #dfdfdf;
}
.foot2 {
    width: 28%;
    border-right: 1px solid #dfdfdf;
}
.foot3 {
    width: 36%;
    position: relative;
}
.foot div .footdiv1 {
    margin-left: 16px;
}
.foot h1 {
    font-size: 20px;
    color: #5a5a5a;
}
.foot h2 {
    font-size: 28px;
    color: #fe6455;
    line-height: 80px;
}
.foot-add {
    margin-top: 10px;
}
.foot-add p {
    line-height: 35px;
}
.foot div .footdiv2 {
    margin-left: 90px;
}
.foot h1 {
    font-size: 20px;
    color: #5a5a5a;
}
.foot h2 {
    font-size: 28px;
    color: #fe6455;
    line-height: 80px;
}






.footer{height: 560px;margin-bottom: 100px;}
.footer_tops{height: 480px;border-bottom: 1px solid #dfdfdf;}
.footer_top{height: 100%;}
.footer .address{float: left;position: relative;height: 100%;}
.footer .address:after{content: '';width: 1px;height: 360px;position: absolute;bottom: 0;right: 0;background: #dfdfdf;}
.footer .address h1{font-size:20px;color:#5a5a5a;display: inline-block;margin:50px 0 30px 0;}
.footer .address h1 span{color:#fe6455;font-size:28px;display: block;}
.footer .address ul li{font-size:14px;color:#555;line-height:41px;}
.footer_map{width: 400px;}
.footer_about{margin-left: 50px;width: 280px;}
.footer_Activity{width:125px;margin-left: 60px;}
.footer .footer_top .footer_Activity:after{display: none;}
.footer_Activity ol li{position: relative;line-height: 46px;text-indent: 20px;}
.footer_Activity ol li:after{content:'';width: 17px;height: 17px;display: block;position: absolute;top:15px;left: 0;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.footer_Activity ol li:hover:after{-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
.footer_Activity ol li a{display: block;}
.footer_act1:after{background: url(../images/kc/css/thumb.png) no-repeat -54px -59px;}
.footer_act2:after{background: url(../images/kc/css/thumb.png) no-repeat -54px -98px;}
.footer_act3:after{background: url(../images/kc/css/thumb.png) no-repeat -54px -130px;}
.footer_act4:after{background: url(../images/kc/css/thumb.png) no-repeat -54px -328px;}
.footer_act5:after{background: url(../images/kc/css/thumb.png) no-repeat -54px -275px;}
.footer_weixin{width: 160px;float: right;margin-top: 205px;}
.footer_weixin img{width: 150px;height: 150px;}
.bdsharebuttonbox{width:215px;margin:0 auto;height:40px;line-height:40px;}
.footer_weixin .bdsharebuttonbox a{width:35px;height:35px;margin:0;padding:0;position: relative;margin-right: 3px;}
.footer_weixin .bdsharebuttonbox .sharelist{margin:5px 0 0 0;width:150px;float: left;height:35px;}
.footer_weixin .bdsharebuttonbox .bds_more{background: #fff;margin: 0;}
.footer_weixin .bdsharebuttonbox .bds_more:after{content: '';display: block; width: 0px;height: 0px;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 7px solid #3b3b3b;font-size: 0px;line-height: 0px;margin: 14px 11px;}
.footer_weixin .bdsharebuttonbox .bds_tsina{background:url(../images/kc/css/thumb.png) no-repeat -46px -379px #fff;}
.footer_weixin .bdsharebuttonbox .bds_qzone{background:url(../images/kc/css/thumb.png) no-repeat -77px -381px #fff;}
.footer_weixin .bdsharebuttonbox .bds_weixin{background:url(../images/kc/css/thumb.png) no-repeat -46px -421px #fff;}

.banner_ones{height:385px;}
.banner_one{height:385px;width: 100%;display: block;}
.banner_one a{display: block;height: 100%;}
.footer_act1:after{background: url(../../xl20171127/statics/images/thumb.png) no-repeat -54px -59px;}
.footer_act2:after{background: url(../../xl20171127/statics/images/thumb.png) no-repeat -54px -98px;}
.footer_act3:after{background: url(../../xl20171127/statics/images/thumb.png) no-repeat -54px -130px;}
.footer_act4:after{background: url(../../xl20171127/statics/images/thumb.png) no-repeat -54px -328px;}
.footer_act5:after{background: url(../../xl20171127/statics/images/thumb.png) no-repeat -54px -275px;}

.footer_weixin{width: 160px;float: right; position: absolute; right:20px; }
.footer_weixin img{width: 150px;height: 150px;}
.bdsharebuttonbox{width:215px;margin:0 auto;height:40px;line-height:40px;}
.footer_weixin .bdsharebuttonbox a{width:35px;height:35px;margin:0;padding:0;position: relative;margin-right: 3px;}
.footer_weixin .bdsharebuttonbox .sharelist{margin:5px 0 0 0;width:150px;float: left;height:35px;}
.footer_weixin .bdsharebuttonbox .bds_more{background: #fff;margin: 0;}
.footer_weixin .bdsharebuttonbox .bds_more:after{content: '';display: block; width: 0px;height: 0px;border-left: 7px solid transparent;border-right: 7px solid transparent;border-top: 7px solid #3b3b3b;font-size: 0px;line-height: 0px;margin: 14px 11px;}
.footer_weixin .bdsharebuttonbox .bds_tsina{background:url(../../xl20171127/statics/images/thumb.png) no-repeat -46px -379px #fff;}
.footer_weixin .bdsharebuttonbox .bds_qzone{background:url(../../xl20171127/statics/images/thumb.png) no-repeat -77px -381px #fff;}
.footer_weixin .bdsharebuttonbox .bds_weixin{background:url(../../xl20171127/statics/images/thumb.png) no-repeat -46px -421px #fff;}
.bdshare-button-style0-16{
	 zoom: 1;
}


/* loginalert */
.loginmask{width:100%;height:100%;z-index:8;background:#000;position:fixed;top:0;left:0;display:none;_position:absolute;}
#loginalert{width:440px;background:#fff;position:fixed;top:-600px;left:50%;margin-left:-220px;z-index:99;display:none; _position:absolute;}
.closealert{width:20px;height:20px;cursor:pointer;background:url('../../images/kc/css/close-icons.png') no-repeat;-webkit-transition:all 0.4s ease-out;-moz-transition:all 0.4s ease-out;-o-transition:all 0.4s ease-out;transition:all 0.4s ease-out;}
.closealert:hover{transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg);}
.loginwrap{width:340px;margin:0 auto;}
.loginh{height:40px;margin-top:20px;}
.loginh .fl{font-size:30px;line-height:40px;color:#292929;}
.loginh .fr{font-size:18px;line-height:50px;color:#707070;}
.loginh .fr a{font-size:18px;line-height:50px;color:#FF4200;margin-left:5px;}
.loginwrap h3{font-size:14px;font-weight:500;height:22px;margin-top:15px;color:#292929;}
.loginbtn{color:#6B6A6A;height:70px;overflow:hidden;}
.logininput input{display:block;height:14px;line-height:14px;width:100%;border:#DAE2E5 1px solid;text-indent:10px;overflow:hidden;color:#979696;padding-top:13px;padding-bottom:13px;}
.logininput #code_img,.logininput #code{margin: 15px 0 10px 0;display: inline-block;float: left;}
.logininput #code{ width:50%;padding: 7px 0 7px 0;}
.logininput #code_img{margin-left: 10px;}
.logininput .loginusername{margin-top:15px;margin-bottom:10px;}
.loginsubmit{width:130px;height:40px;margin:15px 20px 0 0;display:inline;}
.loginsubmit .btn{width:130px;height:40px;line-height:40px;overflow:hidden;color:#fff;background:#70CA10;display:block;text-align:center;font-size:20px;border:none;font-family:'微软雅黑';cursor:pointer;}
.loginpd{border-bottom:1px solid #ecf2f5;}
.thirdlogin .pd50{padding-top:30px;padding-bottom:30px;}
.thirdlogin h4{color:#6B6A6A;font-weight:500;margin-bottom:20px;}
.thirdlogin ul li{display:inline;float:left;margin:0 20px 10px 0;}
.thirdlogin ul li a{display:block;float:left;height:40px;line-height:40px;width:160px;color:#fff;text-indent:60px;}
#sinal a{background:#d63b22 url('../../images/kc/css/weibo.png') no-repeat 0px -5px;}
#qql a{background:#3eb0d8 url('../../images/kc/css/qq.png') no-repeat 0px -5px;}
.loginwrap .login_warning{height:20px;line-height:20px;overflow:hidden;background:#ff7200;color:#fff;padding:0 4px;float:left;text-align:center;font-size:12px;margin-left:14px;display:inline-block;}
/* reg_setp */
#reg_setp{position:fixed;width:100%;height:100%;background:#fff;z-index:999;top:0;left:100%;display:none;}
*html #reg_setp{position:absolute;top:expression(eval(document.documentElement.scrollTop));}
#reg_setp h3{font-size:14px;font-weight:500;overflow:hidden;height:80px;line-height:90px;}
#setp_quicklogin{width:400px;height:210px;position:absolute;left:50%;margin-left:-200px;top:230px;text-align:center;display:none;}
.blogo{width:150px;height:180px;position:absolute;top:50px;left:50%;margin-left:-75px;}
.quicklogin_socical li{float:left;margin:0 20px 0 0;display:inline;width:186px;height:46px;overflow:hidden;}
.quicklogin_socical li a{display:block;line-height:46px;color:#fff;text-align:left;text-indent:68px;font-size:16px;}
.quicklogin_socical_weibo a{background:#d63b22 url('../../images/kc/css/weibo.png') no-repeat 0 0;border:2px solid #d63b22;}
.quicklogin_socical_qq a{background:#3eb0d8 url('../../images/kc/css/qq.png') no-repeat 0 -2px;border:2px solid #3eb0d8;}
.back_setp{width:100px;height:50px;line-height:50px;background:#8F8F90;color:#fff;cursor:pointer;font-size:22px;text-align:center;position:absolute;left:20px;top:20px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.back_setp:hover{background-color:#6BC30D;}


/*banner*/


.banner{ width:100%; height:657px; position:relative;}
.banner .bd li{float:left;width:100%;height:657px;overflow:hidden;}
.banner .bd li a{display:block;height:657px; width:100%;}
.banner .bd li a img{
    height: 100%;
}
.viewArrows{display:block;width:50px;height:50px;line-height:50px;cursor:pointer;position:absolute;top:50%; margin-top:-25px; opacity:0.2;}
.viewArrows:hover{opacity:0.8;}
.banner .prev{left:200px;background:url(../../images/kc/sn/css/prev.png) center center no-repeat;}
.banner .next{right:200px;background:url(../../images/kc/sn/css/next.png) center center no-repeat;}
.banner .bannerControl ul{width:100px;height:15px; position:absolute; left:50%; bottom:10px; margin-left:-50px; z-index:5; }
.banner .bannerControl ul li{display:block;margin-right:5px;width:10px;height:10px;text-indent:-9999em; background-color:#FFF; border-radius:5px;cursor:pointer; float:left;}
.banner .bannerControl ul li.on{ background-color:#79FF02;}


.footer {
    height: 610px;
    margin-top: 10px;
}
.footer_tops {
    height: 571px;
    border-bottom: 1px solid #dfdfdf;
}
.footer_top {
    height: 100%;
}

.footer .address {
    float: left;
    position: relative;
    height: 100%;
}

.footer .address:after {
    content: '';
    width: 1px;
    height: 407px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #dfdfdf;
}

.clearfix:after{
    visibility: hidden;
    display: block;
    clear: both;
    content: " ";
    height: 0;
+zoom:1;
}
