@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

.bg-btn1 {
  width: 2.1973333333rem;
  height: 0.768rem;
  display: block;
  position: absolute;
  left: 1.0453333333rem;
  top: 25.472rem; }

.bg-btn2 {
  width: 2.1973333333rem;
  height: 0.768rem;
  display: block;
  position: absolute;
  left: 8.8533333333rem;
  top: 26.2826666667rem; }

.bg-btn3 {
  width: 2.1973333333rem;
  height: 0.768rem;
  display: block;
  position: absolute;
  left: 4.608rem;
  top: 31.3173333333rem; }

.Top_Record {
  width: 14.72rem;
  height: 13.5466666667rem;
  border: 0.2133333333rem solid #7127f4;
  margin: auto;
  background: #ffffff; }

.topRec_List dl, .maquee {
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

.topRec_List dl {
  background: #7127f4; }

.topRec_List dd {
  font-size: 0.512rem;
  float: left;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  height: 1.4933333333rem;
  line-height: 1.4933333333rem; }

.topRec_List dl dd:nth-child(1) {
  width: 20%; }

.topRec_List dl dd:nth-child(2) {
  width: 15%; }

.topRec_List dl dd:nth-child(3) {
  width: 15%; }

.topRec_List dl dd:nth-child(4) {
  width: 30%; }

.topRec_List dl dd:nth-child(5) {
  width: 20%; }

.maquee {
  position: relative;
  height: 11.52rem;
  background: #fffdf4; }

.maquee-y {
  width: 1.8133333333rem;
  height: 19.6266666667rem;
  background: #ffb400;
  position: absolute;
  right: 0.4266666667rem;
  top: 0;
  -moz-box-shadow: 0px 0px 30px #d1cfc8;
  -webkit-box-shadow: 0px 0px 30px #d1cfc8;
  box-shadow: 0px 0px 30px #d1cfc8; }

.topRec_List ul {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 11.52rem; }

.topRec_List li {
  width: 100%;
  height: 0.8533333333rem;
  line-height: 0.8533333333rem;
  text-align: center;
  font-size: 0.384rem;
  color: #000000;
  border-bottom: 1px solid #dddcd6; }

/*.topRec_List li:nth-child(2n) {
	background:#077cd0
}
*/
.topRec_List li div {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.topRec_List li div:nth-child(1) {
  width: 20%; }

.topRec_List li div:nth-child(2) {
  width: 15%; }

.topRec_List li div:nth-child(3) {
  width: 15%; }

.topRec_List li div:nth-child(4) {
  width: 30%; }

.topRec_List li div:nth-child(5) {
  width: 20%;
  font-size: 0.4266666667rem;
  color: #ffffff;
  font-weight: bold; }

.zbsj-btn {
  color: #fcaa09;
  width: 4.9493333333rem;
  height: 1.408rem;
  line-height: 1.408rem;
  font-size: 0.512rem;
  text-align: center;
  display: block;
  margin: auto;
  font-weight: bold;
  border-radius: 0.1706666667rem;
  border: 1px solid #fcaa09; }

.gxzx-btn {
  position: absolute;
  top: 47.0186666667rem;
  left: 0;
  right: 0; }

.form1 {
  position: absolute;
  width: 16rem;
  top: 80.2133333333rem;
  left: 0; }

.zbsj-input {
  font-size: 0.512rem;
  margin: 0 auto 0.64rem;
  display: block;
  width: 7.616rem;
  height: 1.4933333333rem;
  padding-left: 0.4266666667rem;
  padding-right: 0.4266666667rem; }

.js-content {
  width: 16rem;
  height: 9.8133333333rem;
  overflow: hidden; }

.app-content {
  width: 16rem;
  height: 12.224rem;
  overflow: hidden;
  margin-bottom: 1.28rem; }

.js {
  position: relative;
  left: -3.776rem;
  width: 23.552rem;
  height: 9.8133333333rem; }

.app {
  position: relative;
  left: -4.1173333333rem;
  width: 25.024rem;
  height: 12.224rem; }

.app img {
  display: block;
  width: 6.8906666667rem; }

.js-info {
  width: 7.3813333333rem;
  height: 9.8133333333rem;
  position: relative; }

.js-info img {
  width: 7.3813333333rem;
  height: 9.8133333333rem;
  display: block; }

.js-info .details {
  line-height: 0.5546666667rem;
  text-align: center;
  font-size: 0.3413333333rem;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 7.3813333333rem;
  height: 2.624rem;
  padding-top: 0.64rem;
  background: rgba(87, 133, 127, 0.9); }

.js-info .details span {
  font-size: 0.512rem;
  display: block;
  margin-bottom: 0.3413333333rem; }

.hyzj {
  position: relative;
  width: 15.1466666667rem;
  margin: 0 auto;
  padding-bottom: 0.4266666667rem; }

.hyzj .swiper-container {
  padding-bottom: 1.28rem; }

.hyzj .swiper-slide {
  width: 8.5333333333rem;
  /* background: #6a6a6a;*/ }

.hyzj .swiper-slide img {
  width: 8.1066666667rem;
  margin: 0.2133333333rem auto 0;
  display: block; }

.teacher-info {
  position: relative; }

.hyzj-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  width: 8.1066666667rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 0.512rem;
  font-weight: bold;
  line-height: 1.28rem; }

.xyzp-ctrl {
  text-align: center; }

.xyzp-ctrl span {
  cursor: pointer;
  width: 3.1573333333rem;
  height: 1.024rem;
  line-height: 1.024rem;
  border: 1px solid #83565b;
  color: #83565b;
  display: inline-block;
  text-align: center;
  font-size: 0.512rem;
  margin: 0.8106666667rem auto; }

.xyzp-ctrl span:first-child {
  margin-right: 1.024rem; }

.xyzp-ctrl span.on {
  background: #83565b;
  color: #ffffff; }

.none {
  position: absolute;
  bottom: 500000%; }

.form2 {
  position: absolute;
  width: 16rem;
  top: 37.4613333333rem;
  left: 0; }

.bg2-btn1 {
  width: 8.6826666667rem;
  height: 1.6213333333rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 4.032rem; }

.footer {
  font-size: 0.3413333333rem;
  color: #666666;
  text-align: center;
  background: #efefef;
  padding: 0.4266666667rem 0;
  line-height: 0.5546666667rem; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 9999;
  width: 10.6666666667rem;
  height: 1.7066666667rem;
  padding-left: 5.3333333333rem;
  background: #000000 url("../images/logo.png") 0.4266666667rem center/4.736rem 1.216rem no-repeat; }

.header img {
  height: 0.512rem;
  display: block;
  padding-top: 0.6826666667rem; }

.right-suspension {
  z-index: 9999;
  width: 2.1333333333rem;
  position: fixed;
  bottom: 1.7066666667rem;
  right: 0.2133333333rem; }

.right-suspension img {
  display: block;
  margin: auto;
  padding-bottom: 0.128rem; }

.rightserve1 img {
  width: 2.1333333333rem !important; }

.rightserve img, .rightserve2 img {
  width: 1.7066666667rem; }

.pmsj-banner {
  display: block;
  width: 16rem; }

.bb {
  width: 16rem;
  height: 35.9893333333rem;
  background: #edf3fb url("../images/bb.png") 0 0/16rem 35.9893333333rem; }

.sz {
  margin-top: 1.7066666667rem;
  width: 16rem;
  height: 39.8933333333rem;
  background: #7227f6 url("../images/sz.png") 0 0/16rem 39.8933333333rem; }

.xx {
  width: 16rem;
  height: 23.552rem;
  margin: 1.28rem auto 0.64rem;
  background: #ffffff url("../images/xx.png") 0 0/16rem 23.552rem; }

.gx {
  width: 16rem;
  margin: auto; }

.jt {
  width: 16rem;
  height: 3.9466666667rem;
  margin: 1.28rem auto;
  background: #ffffff url("../images/jt.png") 0 0/16rem 3.9466666667rem; }

.g1-en {
  margin-top: 2.56rem;
  text-transform: uppercase;
  position: relative;
  font-size: 0.384rem;
  color: #ffffff;
  width: 11.4133333333rem;
  height: 0.9386666667rem;
  margin-left: 0.4266666667rem;
  background: #7227f6;
  line-height: 0.9386666667rem; }

.g1-en span {
  line-height: 2.56rem;
  height: 2.56rem;
  z-index: -1;
  display: inline-block;
  color: #000000;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 3.2rem;
  font-weight: lighter;
  font-style: italic; }

.g1-en:before {
  position: absolute;
  right: -0.2133333333rem;
  top: 0;
  content: " ";
  display: block;
  width: 0.2133333333rem;
  height: 0.9386666667rem;
  background: #fcaa09; }

.g1-en:after {
  position: absolute;
  right: -1.28rem;
  top: 0;
  content: " ";
  display: block;
  width: 1.0666666667rem;
  height: 0.9386666667rem;
  background: #fadca0; }

.g1-title {
  line-height: 1.4293333333rem;
  padding-left: 0.4266666667rem;
  font-size: 0.768rem;
  font-weight: bold;
  color: #333333; }

.g1-info {
  padding-left: 0.4266666667rem;
  font-size: 0.5973333333rem; }

.g1-info span {
  font-weight: bold;
  color: #7227f6; }

.sp {
  display: block;
  margin: 0.4266666667rem auto;
  width: 15.2106666667rem;
  height: 9.856rem; }

.zy-list li {
  margin-left: 0.4266666667rem;
  float: left;
  width: 4.6933333333rem;
  height: 8.32rem;
  margin-bottom: 0.4266666667rem;
  border: 1px solid #dcdddd; }

.zy-list li:nth-child(4) {
  margin-left: 2.7306666667rem; }

.zy-list li i {
  margin: 0.64rem auto 0;
  font-style: normal;
  width: 2.56rem;
  height: 2.56rem;
  display: block;
  border-radius: 100%;
  line-height: 2.56rem;
  text-align: center;
  font-size: 1.1306666667rem;
  color: #ffffff;
  font-weight: bold;
  -moz-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3); }

.zy-list li:nth-child(1) i {
  background: -webkit-linear-gradient(left, #86b6f6, #2070dc);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #86b6f6, #2070dc);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #86b6f6, #2070dc);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #86b6f6, #2070dc);
  /* 标准的语法 */ }

.zy-list li:nth-child(2) i {
  background: -webkit-linear-gradient(left, #ffad3e, #db7b1e);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #ffad3e, #db7b1e);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #ffad3e, #db7b1e);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #ffad3e, #db7b1e);
  /* 标准的语法 */ }

.zy-list li:nth-child(3) i {
  background: -webkit-linear-gradient(left, #6cdd6c, #44c044);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #6cdd6c, #44c044);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #6cdd6c, #44c044);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #6cdd6c, #44c044);
  /* 标准的语法 */ }

.zy-list li:nth-child(4) i {
  background: -webkit-linear-gradient(left, #fd79b7, #f62b8b);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #fd79b7, #f62b8b);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, #fd79b7, #f62b8b);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #fd79b7, #f62b8b);
  /* 标准的语法 */ }

.zy-list li:nth-child(5) i {
  background: #ff6b6b url("../images/acr.png") 0 0/2.56rem 2.56rem; }

.zy-list li .title {
  padding: 0.32rem 0 0.32rem;
  font-size: 0.4053333333rem;
  text-align: center; }

.zy-list li a {
  display: block;
  margin: 0.4266666667rem auto;
  width: 3.4986666667rem;
  height: 1.024rem;
  line-height: 1.024rem;
  text-align: center;
  border: 1px solid #e1e2e2;
  font-size: 0.32rem;
  color: #666666; }

.g2 {
  padding-top: 0.0213333333rem;
  width: 16rem;
  background: #222222;
  padding-bottom: 1.28rem; }

.g2 .g1-en span {
  color: #ffffff; }

.g2-title {
  position: relative;
  z-index: 9; }

.g2 .g1-title {
  color: #ffffff; }

.g2 .g1-info {
  color: #ffffff; }

.g2 .g1-info span {
  color: #fcaa09; }

.ke {
  width: 16rem;
  height: 17.4933333333rem;
  background: url("../images/ke1.png") 0 0/16rem 17.4933333333rem no-repeat; }

.g3 {
  padding: 0.0426666667rem 0 0.7466666667rem;
  background: #f5f0ff; }

.jpb .swiper-button-next {
  background-image: url("../images/next.png"); }

.jpb .swiper-button-prev {
  background-image: url("../images/pre.png"); }

.jpb .swiper-button-next, .jpb .swiper-button-prev {
  width: 0.5973333333rem;
  height: 1.4506666667rem;
  -moz-background-size: 0.5973333333rem 1.4506666667rem;
  -webkit-background-size: 0.5973333333rem 1.4506666667rem;
  background-size: 0.5973333333rem 1.4506666667rem; }

.jpb img {
  display: block;
  width: 13.056rem;
  margin: auto; }

.jpb-title {
  text-align: center;
  line-height: 2.56rem;
  font-size: 0.768rem;
  color: #333333; }

.jpb-title b {
  font-size: 1.024rem; }

.zp {
  width: 16rem;
  height: 11.52rem;
  margin: 1.7066666667rem auto 0.4266666667rem;
  background: url("../images/zp.png") 0 0/16rem 11.52rem no-repeat; }

.zp-btn {
  width: 6.1866666667rem;
  height: 1.28rem;
  display: block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  line-height: 1.28rem;
  border-radius: 0.1706666667rem;
  font-size: 0.512rem;
  background: #7227f6;
  -moz-box-shadow: 0px 0.2133333333rem 0px #d3d3d3;
  -webkit-box-shadow: 0px 0.2133333333rem 0px #d3d3d3;
  box-shadow: 0px 0.2133333333rem 0px #d3d3d3; }

.zp-btn-1 {
  width: 6.1866666667rem;
  height: 1.28rem;
  display: block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  line-height: 1.28rem;
  border-radius: 0.1706666667rem;
  font-size: 0.512rem;
  background: #ffb400;
  -moz-box-shadow: 0px 0.128rem 0px #969696;
  -webkit-box-shadow: 0px 0.128rem 0px #969696;
  box-shadow: 0px 0.128rem 0px #969696; }

.formbg-1 {
  width: 16rem;
  height: 9.8773333333rem;
  padding-top: 14.08rem;
  margin: 1.7066666667rem auto 0.4266666667rem;
  background: url("../images/formbg.png") 0 0/16rem 23.9573333333rem no-repeat; }

.formbg-2 {
  position: relative;
  width: 16rem;
  height: 9.216rem;
  padding-top: 11.9466666667rem;
  margin: 0 auto 0.4266666667rem;
  background: url("../images/formbg1.png") 0 0/16rem 21.1626666667rem no-repeat; }

.formbg-2-btn-1 {
  display: block;
  width: 2.9866666667rem;
  height: 0.7893333333rem;
  position: absolute;
  top: 7.168rem;
  left: 1.28rem; }

.formbg-2-btn-2 {
  display: block;
  width: 2.9866666667rem;
  height: 0.7893333333rem;
  position: absolute;
  top: 7.168rem;
  left: 6.2933333333rem; }

.formbg-2-btn-3 {
  display: block;
  width: 2.9866666667rem;
  height: 0.7893333333rem;
  position: absolute;
  top: 7.168rem;
  right: 1.4293333333rem; }

.formbg form input {
  font-size: 0.5546666667rem;
  width: 9.5146666667rem;
  height: 2.0266666667rem;
  border: none;
  outline: none;
  border-radius: 0.1706666667rem;
  display: block;
  margin: 0.64rem auto;
  padding-left: 0.4266666667rem; }

.formbg-2 form input {
  height: 1.8133333333rem; }

.formbg-btn {
  width: 9.9413333333rem;
  line-height: 2.0266666667rem;
  background: #fcaa09;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  display: block;
  font-size: 0.8106666667rem;
  margin: auto;
  border-radius: 0.1706666667rem;
  -moz-box-shadow: 0px 0.2133333333rem 0px #562eb0;
  -webkit-box-shadow: 0px 0.2133333333rem 0px #562eb0;
  box-shadow: 0px 0.2133333333rem 0px #562eb0; }

.bottom {
  width: 16rem;
  height: 16.4693333333rem;
  margin: 1.7066666667rem auto 0;
  background: url("../images/bottom.png") 0 0/16rem 16.4693333333rem no-repeat; }

.jyfx {
  width: 15.936rem;
  height: 16.6613333333rem;
  margin: 1.0666666667rem auto 0.8533333333rem;
  background: url("../images/jyfx.png") 0 0/15.936rem 16.6613333333rem no-repeat; }

/*校区*/
.fr {
  float: right; }

.fl {
  float: left; }

.footer_school {
  width: 100%;
  height: 7.2rem;
  background: #fff; }

.footer_school_tit {
  width: 95.2%;
  margin: 0 auto;
  height: 1rem;
  line-height: 1rem;
  padding: 1rem 0; }

.footer_school_tit > span.fl {
  font-size: 0.96rem;
  color: #000000; }

.footer_school_tit > span.fl b {
  color: #715fca; }

.footer_school_tit > div.fr span {
  color: #666666;
  background-color: #d4cfef;
  font-size: 0.48rem;
  padding: 0.16rem .1rem;
  border-radius: .2rem;
  margin: 0 .1rem; }

.footer_school_tit > div.fr span.f {
  color: #fff;
  background-color: #715fca; }

.school_swipper {
  width: 100%;
  height: 2.48rem;
  position: relative; }

.school_swipper .swiper-container {
  width: 12.2rem;
  height: 3.48rem;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6.1rem; }

.school_swipper .swiper-wrapper {
  width: 100%;
  height: 3.48rem; }

.school_swipper .swiper-slide {
  position: relative;
  padding: 0 1.6rem;
  box-sizing: border-box; }

.school_swipper .swiper-button-prev, .school_swipper .swiper-button-next {
  width: .4rem;
  height: .4rem; }

.school_swipper .swiper-button-prev {
  background: url("http://m.gdzp.org/html/design/design/images/icon_preBtn.png?v=1") no-repeat;
  background-size: 100% 100%; }

.school_swipper .swiper-button-next {
  background: url("http://m.gdzp.org/html/design/design/images/icon_nextBtn.png?v=1") no-repeat;
  background-size: 100% 100%; }

.school_swipper .swiper-slide > img.fl {
  width: 4.6rem; }

.school_swipper .swiper-slide > .fr {
  width: 7rem;
  height: 3.48rem; }

.school_swipper .swiper-slide > .fr h4 {
  color: #333;
  font-size: .48rem;
  line-height: 1rem; }

.school_swipper_loca, .school_swipper_tel {
  width: 7.3386666667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 0.68rem;
  font-size: 0.48rem;
  color: #2f2f2f;
  padding-left: 0.68rem;
  position: relative; }

.school_swipper_loca:before, .school_swipper_tel:before {
  content: "";
  width: 0.48rem;
  height: 0.56rem;
  position: absolute;
  top: 0;
  left: 0;
  background: url("http://m.gdzp.org/html/design/design/images/icon_school_1.png?v=1") no-repeat;
  background-size: 100% 100%; }

.school_swipper_tel:before {
  background: url("http://m.gdzp.org/html/design/design/images/icon_school_2.png?v=1") no-repeat;
  background-size: 100% 100%; }

/*# sourceMappingURL=pmsj.css.map */
