@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

.bannerimg {
  width: 16rem;
  display: block; }

.yhzc-title {
  position: relative;
  width: 16rem;
  height: 45.9093333333rem;
  background: url("../images/yhzc.png") 0 0/16rem 45.9093333333rem no-repeat; }

.yhzc-btn {
  position: absolute;
  display: block;
  width: 4.1173333333rem;
  height: 1.2373333333rem;
  top: 11.264rem;
  left: 5.9306666667rem; }

.hybb {
  width: 15.1466666667rem;
  margin: auto; }

.hybb-left {
  float: left;
  margin-right: 0.2133333333rem;
  width: 10.432rem;
  height: 12.6506666667rem; }

.hybb-left img {
  width: 10.432rem;
  height: 12.6506666667rem; }

.hybb-right {
  float: left;
  width: 4.48rem;
  height: 12.6506666667rem; }

.hybb-right li {
  margin-bottom: 0.2026666667rem;
  background: #112f48;
  width: 4.5013333333rem;
  height: 2.368rem;
  color: #ffffff;
  font-size: 0.768rem;
  text-align: center;
  line-height: 2.368rem; }

.hybb-right li:last-child {
  margin-bottom: 0; }

.hybb-right li.on {
  position: relative;
  font-weight: bold;
  color: #333333;
  background: #e1dc5b; }

.hybb-right li.on:after {
  content: " ";
  width: 0.32rem;
  height: 0.3413333333rem;
  position: absolute;
  top: 0.9813333333rem;
  left: 0.9813333333rem;
  background: url("../images/liafter.png") 0 0/0.32rem 0.3413333333rem no-repeat; }

.hybb-left img.imgshow {
  display: block; }

.imghide {
  display: none; }

.txsqb {
  position: relative;
  width: 16rem;
  height: 38.2506666667rem;
  background: url("../images/txsqb.png") 0 0/16rem 38.2506666667rem no-repeat; }

.txsqb-btn {
  position: absolute;
  display: block;
  width: 4.1173333333rem;
  height: 1.2373333333rem;
  top: 0.6613333333rem;
  left: 5.9306666667rem; }

.soeasy {
  width: 16rem;
  height: 17.3866666667rem;
  background: url("../images/soeasy.png") 0 0/16rem 17.3866666667rem no-repeat; }

.mfst {
  padding-top: 0.64rem;
  width: 16rem;
  height: 5.3333333333rem;
  background: url("../images/formbg.png") 0 0/16rem 5.9733333333rem no-repeat; }

.input-group {
  margin: 0 auto 0.4266666667rem;
  position: relative;
  width: 15.1466666667rem;
  height: 1.2373333333rem;
  border: 1px solid #ffffff;
  border-radius: 5px; }

.input-group label {
  width: 2.56rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  font-size: 0.4266666667rem;
  line-height: 1.2373333333rem; }

.input-group input {
  background: transparent;
  position: absolute;
  left: 2.56rem;
  top: 0;
  display: inline-block;
  height: 1.2373333333rem;
  width: 10.6666666667rem;
  border: none;
  outline: none;
  font-size: 0.4266666667rem;
  color: #ffffff; }

.mfst-btn {
  height: 1.28rem;
  width: 15.1466666667rem;
  line-height: 1.28rem;
  background: #f2c301;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.512rem;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 5px; }

.hydk {
  width: 16rem;
  height: 12.5866666667rem;
  background: url("../images/hydkbg.png") 0.4266666667rem 0/15.1466666667rem 11.968rem no-repeat; }

.hydk .teacher-info {
  position: relative;
  width: 11.52rem;
  padding: 0 2.24rem 2.0266666667rem;
  height: 10.6666666667rem; }

.teachet-name {
  padding-bottom: 0.128rem;
  display: inline-block;
  font-size: 0.5546666667rem;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 3px solid #e1dc5b; }

.teacher-left {
  width: 5.12rem;
  float: left;
  padding-left: 0.4266666667rem; }

.teachet-position {
  padding-top: 0.2133333333rem;
  font-size: 0.4266666667rem;
  color: #ffffff;
  line-height: 0.768rem; }

.teacher-right {
  width: 5.2266666667rem;
  padding-left: 0.384rem;
  float: left;
  padding-top: 0.4266666667rem; }

.teacher-img {
  position: absolute;
  left: 2.816rem;
  bottom: 0;
  display: block;
  width: 4.224rem; }

.jxhj {
  position: relative;
  margin-top: 0.64rem;
  width: 16rem;
  height: 33.0666666667rem;
  background: url("../images/jxhj.png") 0 0/16rem 33.0666666667rem no-repeat; }

.jxhj-btn {
  display: block;
  width: 6.016rem;
  height: 1.2373333333rem;
  position: absolute;
  top: 0.3413333333rem;
  left: 4.992rem; }

.yssj-header {
  z-index: 99998;
  width: 16rem;
  height: 1.8773333333rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -8rem;
  background: rgba(0, 0, 0, 0.8); }

.yssj-logo {
  position: absolute;
  left: 0.4266666667rem;
  top: 0.384rem;
  height: 1.088rem; }

.yssj-c4d {
  height: 0.4906666667rem;
  position: absolute;
  left: 5.3973333333rem;
  top: 0.6826666667rem; }

.right-nav {
  height: 0.64rem;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.6186666667rem; }

.right-nav-hide {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -8rem;
  width: 16rem;
  height: 100%;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.9); }

.college-links li {
  width: 4.2666666667rem;
  float: left;
  font-size: 0.4693333333rem;
  color: #ffffff;
  text-align: center; }

.college-links li img {
  height: 1.0453333333rem;
  display: block;
  margin: auto; }

.close-nav {
  background: rgba(0, 0, 0, 0.8);
  width: 15.68rem;
  height: 1.1733333333rem;
  padding-top: 0.32rem;
  text-align: right;
  padding-right: 0.32rem; }

.close-nav img {
  width: 0.576rem;
  padding: 0.4266666667rem; }

.zy-title {
  padding: 0.4266666667rem;
  font-size: 0.6826666667rem;
  color: #ffffff;
  font-weight: bold; }

.zy-title1 {
  padding-left: 1.7066666667rem;
  font-size: 0.512rem;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #cecece;
  font-weight: bold;
  background: #4e4e4e; }

.major-links {
  padding-left: 1.7066666667rem; }

.major-links li {
  padding-bottom: 0.4266666667rem;
  padding-top: 0.4266666667rem;
  margin-right: 0.4266666667rem;
  float: left;
  width: 2.7093333333rem;
  text-align: center;
  color: #ffffff;
  font-size: 0.4266666667rem; }

.major-links li img {
  width: 2.7093333333rem; }

.yssj-footer {
  background: #efefef;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #999999;
  padding-bottom: 0.4266666667rem; }

.yssj-footer ul {
  float: left;
  width: 7.4666666667rem;
  border-right: 1px solid #999999; }

.yssj-footer ul li {
  line-height: 0.768rem;
  position: relative;
  float: left;
  width: 3.7333333333rem;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #999999; }

.yssj-footer ul li:before {
  content: " ";
  width: 0;
  height: 0;
  border-width: 0.1706666667rem 0 0.1706666667rem 0.1706666667rem;
  border-style: solid;
  border-color: transparent transparent transparent #999999;
  /*透明 透明 透明 灰*/
  position: absolute;
  top: 0.256rem;
  left: 0.5333333333rem; }

.footer-right {
  width: 7.4666666667rem;
  float: left;
  text-align: center;
  font-size: 0.4266666667rem;
  color: #999999; }

.footer-right img {
  width: 0.9386666667rem;
  display: block;
  margin: auto; }

.jssj-footer-content {
  padding: 0.5333333333rem 0; }

/*# sourceMappingURL=c4d.css.map */
