body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
    margin: 0;
    padding: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: inherit;
    blr:expression(this.onFocus=this.blur());
}

a:focus {
    outline: none !important;
}
li{
    list-style: none;
}
.clear{
    clear: both;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    content: "";
+ zoom: 1;
}
.font_yahei{
    font-family:"Microsoft YaHei","微软雅黑", Helvetica,Tahoma,Arial,STXihei,"华文细黑",SimSun,"宋体",Heiti,"黑体",sans-serif!important;
}
.container_1200{
    width:1200px;
    margin: 0 auto;
}
.container_1080{
    width:1080px;
    margin: 0 auto;
}
/*导航开始*/
.shortcut{
    background: #471aa4;
    height:30px;
}
.shortcut_content{
    height:30px;
    line-height: 28px;
    color: #ffffff;
}
.shortcut_content a{
    font-size: 12px;
    padding: 0 10px;
    cursor:  pointer;
}
.shortcut_content img
{
    /* position: relative;
     top: 4px;
     padding-right: 4px;*/
}
.shortcut_content_left{
    float: left;
}
.shortcut_content_right{
    float: right;
}
.shortcut_content_right a img{
    position: relative;
    top: 4px;
    padding-right: 4px;
}
.nav{
    height:96px;
    width:100%;
    background: #1b1c1d;
}
.nav_left{
    float: left;
    margin-top:  22px;
}
.nav_left_img{
    float: left;
}
.nav_left_info{
    float: left;
    margin-left: 18px;
}
.nav_left_info h4{
    color: #fff;
    font-size:16px;
    line-height: 26px;
}
.nav_left_info p{
    color: #cbcbcb;
    font-size:13px;
}
.nav_right > li{
    float: left;
    font-size: 16px;
    color: #ffffff;
}
.nav_right > li:last-child:hover > .nav_more{
    display: block;
}
.nav_right > li > a{
    padding: 38px 30px;
    line-height: 95px;
}
.nav_right > li > a span{
    padding:0 6px;
    border-radius: 10px;
    background: #471aa4;
    color: #ffffff !important;
}
.nav_right_active,.nav_right > li:hover{
    color: #471aa4;
}
.nav_right{
    float: right;
}
.nav_more{
    display: none;
    right: 0;
    width: 179px;
    position: absolute;
    bottom: -142px;
    z-index:  100;
    background: #1b1c1d;
    text-align: center;
}
.nav_more li{
    margin: 0 14px;
    line-height: 47px;
    color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #2f2f2f;
}
.nav_more li:last-child{
    border-bottom: none;
}
.nav_more li:hover{
    color: #471aa4;
}
/*导航结束*/
.sjfx-banner{
    background: #111130;
}
.sjfx-banner .swiper-slide{
    cursor: pointer;
    width: 100%;
    display: block;
    height:601px;
    background-size: cover;
    background-position: center center;
}
.sjfx-banner .swiper-pagination-bullet{
    width: 40px;
    border-radius: 8px;
    opacity:1;
    background: #c9c7d8;
}
.sjfx-banner .swiper-pagination-bullet-active{
background: #ae0f23;
}
.icon-title{
    margin: auto;
    background-image: url("../images/title.png");
}
.bg-title1 {
    width: 506px; height: 41px;
    background-position:  -0 -222px;
}
.bg-title2 {
    width: 608px; height: 40px;
    background-position:   -0 -182px;
}
.bg-title3 {
    width: 675px; height: 70px;
    background-position:   -0 -112px;
}
.bg-title4 {
    width: 950px; height: 112px;
    background-position:   -0 -0;
}
.shx{
    width:100%;
    padding: 65px 0;
    background: #f8f6fb;
}
.icon-img{
    width: 135px; height: 133px;
    background-image: url("../images/img.png");
}
.bg-img1 {

    background-position: -0 -0;
}

.bg-img2 {
    background-position: -135px -0;
}
.bg-img3 {
    background-position: -0 -133px;
}
.bg-img4 {
    background-position: -135px -133px;
}
.bg-img5 {
    background-position: -270px -0;
}
.bg-img6 {
    background-position: -270px -133px;
}
.shx-list{
    width:1130px;
    margin:60px auto 0;
}
.shx-list li{
    width:170px;
    position: relative;
    padding-left: 166px;
    height: 133px;
    float: left;
    margin-right: 60px;
    margin-bottom: 60px;
}
.shx-list li:nth-child(3n){
    margin-right: 0;
}
.shx-list li i{
   position: absolute;
    left:0;
    top:0;
    display: block;
}
.shx-list li .title{
    padding-top: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #42169b;
    position: relative;
}
.shx-list li .title:after{
    content: " ";
    position: absolute;
    top: 30px;
    left: -45px;
    display: block;
    width:41px;
    height:28px;
    background: url("../images/line.png") 0 0 no-repeat;
}
.shx-list li .info{
    text-align: justify;
    line-height: 20px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: lighter;
    color: #000000;
}
.sjfx-btn{
    width:300px;
    margin: auto;
    line-height:62px;
    height:62px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    border-radius: 6px;
    background: -webkit-linear-gradient(left, #6b0daa , #f74960); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #6b0daa , #f74960); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #6b0daa , #f74960); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #6b0daa , #f74960); /* 标准的语法 */
}
.sjfx-btn:active{
    background: -webkit-linear-gradient(left, #8110cd, #e04257); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #8110cd, #e04257); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #8110cd, #e04257); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right,  #8110cd, #e04257); /* 标准的语法 */
}
.title2-margintop{
    margin-top: 46px;
}


.zzcx{
    width:100%;
    padding-top: 70px;
    padding-bottom: 40px;
}
.rdo-group-border-content{
    width:1080px;
    height:506px;
    background: -webkit-linear-gradient(left, #6b0daa , #f74960); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #6b0daa , #f74960); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #6b0daa , #f74960); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #6b0daa , #f74960); /* 标准的语法 */
}
.rdo-group-border{
    width:1080px;
    height:486px;
    padding-top:20px;
    background-image: url("../images/borderColor.png");
}
.rdo-group{
    background: #eaeaea;
    width:1040px;
    height:459px;
    margin: auto;
    padding-top: 10px;
}
.rdo-item{
    width:900px;
    margin:40px auto;
}
.rdo-item span{
    color: #666666;
    font-size: 24px;
}
.rdo-item input+label{
    margin-left:25px;
    cursor: pointer;
    width:150px;
    height:50px;
    line-height:50px;
    background: #ffffff;
    color: #666666;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}
.rdo-item input+label.width-185{
    width: 185px;
}
.rdo-item input:checked+label{
    background: #f84a60;
    color: #ffffff;
}
.rdo-item input{
    display: none;
}
.zzcx-input-group{
    width:968px;
    margin:70px auto 0;
    position: relative;
}
.zzcx-input{
    font-size: 20px;
    width:300px;
    height:60px;
    margin-right: 40px;
    padding-left: 20px;
    border: 1px solid #888888;
    border-radius: 6px;
}

.zzcx-btn{
    border-radius: 6px;
    position: absolute;
    right:0;
    top:0;
    display: inline-block;
    width:240px;
    height:60px;
    line-height:60px;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    background: -webkit-linear-gradient(left, #6b0daa , #f84960); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #6b0daa , #f84960); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#6b0daa , #f84960); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #6b0daa , #f84960); /* 标准的语法 */
}
.zzcx-btn:active{
    background: -webkit-linear-gradient(left, #9b13f7 , #f84960); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #9b13f7 , #f84960); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#9b13f7 , #f84960); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #9b13f7, #f84960); /* 标准的语法 */
}
.bg{
    width:100%;
    height:3224px;
    background: url("../images/bg.png") center center /cover no-repeat;
}
.bg-content{
    width:1080px;
    margin: auto;
    height:3224px;
    position: relative;
}
.bg-btn1{
   position: absolute;
    top:548px;
    left:0;
    right:0;
    margin: auto;
}
.bg-btn2{
    width:300px;
    height:62px;
    border-radius: 4px;
    display: block;
    position: absolute;
    top:2063px;
    right:52px;
    margin: auto;
}
.bg-btn2:active{
    background: rgba(0,0,0,0.1);
}
.form1{
    width:1080px;
    margin: 90px auto 0;
    height:156px;
    background: #ed285e;
    border-radius: 8px;
    position: relative;
}
.form1-input1{
    width:280px;
    height:58px;
    border-radius: 6px;
    border: 2px solid #f3f1fc;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    padding-left: 16px;
    left:27px;
    font-size: 20px;
}
.form1-input2{
    left:382px;
}
.form1-btn{
    display: block;
    width:300px;
    height:62px;
    border-radius: 6px;
    position: absolute;
    right:30px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    top:0;
    bottom:0;
    margin: auto;
    line-height: 62px;
    background: -webkit-linear-gradient(left, #6b0daa , #f74960);
    background: -o-linear-gradient(right, #6b0daa , #f74960);
    background: -moz-linear-gradient(right, #6b0daa , #f74960);
    background: linear-gradient(to right, #6b0daa , #f74960);
    -moz-box-shadow:8px 8px 0 #991a70; -webkit-box-shadow:8px 8px 0 #991a70; box-shadow:8px 8px 0 #991a70;
}
.form1-btn:active{
    top:4px;
    right:26px;
    -moz-box-shadow:4px 4px 0 #991a70; -webkit-box-shadow:4px 4px 0 #991a70; box-shadow:4px 4px 0 #991a70;

}
.book-list{
    position: absolute;
    bottom: 0;
    left:0;
}
.book-list li{
    padding-top: 315px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #1b1b1b;
    width:308px;
    height:60px;
    line-height: 56px;
    float: left;
    margin-right: 78px;
}
.book-list li:hover{
    color: #099890;
}
.book-list li:last-child{
    margin-right: 0;
}
.hyjy{
    width:100%;
    padding-top: 145px;
    margin-top: -62px;
    background: #f5f5f5;
    padding-bottom: 90px;
}
.hyjy-list li{
    margin-right: 39px;
    padding-top: 50px;
    background: #ffffff;
    width:334px;
    height:290px;
    float: left;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -moz-box-shadow:0 0 15px #e2e2e2; -webkit-box-shadow:0 0 15px #e2e2e2;box-shadow:0 0 15px #e2e2e2;
}
.hyjy-list li .title{
    margin: 20px auto;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.hyjy-list li .info{
    width:210px;
    margin: auto;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
}
.hyjy-list{
    margin-top: 89px;
}
.hyjy-list li:nth-child(1){
  border-bottom: 7px solid #77d8d3;
}
.hyjy-list li:nth-child(2){
    border-bottom: 7px solid #7668e3;
}
.hyjy-list li:nth-child(3){
    margin-right: 0;
    border-bottom: 7px solid #d24d7a;
}
.icon-hyjy{
    display: block;
    margin: auto;
    background-image: url("../images/icon-hyjy.png");
}
.bg-hyjy1 {
    width: 76px; height: 61px;
    background-position:  -125px -0;
}
.bg-hyjy2 {
    width: 64px; height: 58px;
    background-position:  -61px -0;
}

.bg-hyjy3 {
    width: 61px; height: 59px;
    background-position: -0 -0;
}
.szll{
    width:100%;
    height:660px;
    padding-top: 209px;
    background: url("../images/szll.png") center center /cover no-repeat;
}
.szll-info{
    width:1080px;
}
.szll-list{
    z-index: 8;
    position: relative;
    padding: 0 47px;
    height:177px;
}
.szll-list li{
   /* width:197px;*/
    width: 245px;
    float: left;
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.icon-js{
    display: block;
    margin:15px auto 0;
    background-image: url("../images/icon-js.png");
}
.bg-js1 {
    width: 116px; height: 115px;
    background-position:  -0 -0;
}
.bg-js2 {
    width: 113px; height: 113px;
    background-position:  -0 -115px;
}
.bg-js3 {
    width: 114px; height: 114px;
    background-position:  -116px -0;
}
.bg-js4 {
    width: 112px; height: 112px;
    background-position:  -230px -0;
}
.bg-js5 {
    width: 113px; height: 112px;
    background-position:  -113px -115px;
}
.js-slide{
    z-index: 7;
    position: absolute;
   /* left:47px;*/
    left: 71px;
    top:-22px;
    width:197px;
    height:221px;
    background: #ed285e;
    -moz-box-shadow:0 0 15px #3b357d; -webkit-box-shadow:0 0 15px #3b357d;box-shadow:0 0 15px #3b357d;
}
.szll-list-content{
    width:1080px;
    height:177px;
    position: relative;
    background: #474097;
}
.bkzn{
    background: url("../images/bkzn.png") no-repeat;
    padding-left: 348px;
    width:732px;
    margin:98px auto;
}
.bkzn li{
    float: left;
    margin-left: 44px;
    margin-top: 56px;
    margin-bottom: 13px;
    width:196px;
    height:111px;
    border-radius: 6px;
    border: 1px solid #7668e3;
    position: relative;
}
.bkzn li:before{
    content: " ";
    width:4px;
    height:27px;
    position: absolute;
    top:0;
    bottom:0;
    left:-2px;
    margin: auto;
    display: block;
    background: #7668e3;
}
.bkzn li:after{
    content: " ";
    width:4px;
    height:27px;
    position: absolute;
    top:0;
    bottom:0;
    right:-2px;
    margin: auto;
    display: block;
    background: #7668e3;
}
.bkzn li .details{
    line-height:111px;
    font-size: 17px;
    font-weight: lighter;
    text-align: center;
}
.bkzn li .title{
    display: block;
    width:94px;
    text-align: center;
    line-height: 30px;
     position: absolute;
    left:0;
    right:0;
    margin: auto;
    top:-15px;
    font-size: 21px;
    color: #7668e3;
    font-weight: bold;
    background: #ffffff;
}
.bkzn li .btn{
    display: block;
    width:111px;
    height:29px;
    line-height:29px;
    border-radius: 4px;
    border: 1px solid #f24863;
    position: absolute;
    color: #f24863;
    left:0;
    right:0;
    margin: auto;
    bottom:-15px;
    font-size: 17px;
    background: #ffffff;
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.bkzn li:hover .btn{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background: #f24863;
    color: #ffffff;
}
.zs{
    width:100%;
    height:1129px;
    background: url("../images/zs.png") center center /cover no-repeat;
}
.zs .btn{
    width:331px;
    height:80px;
    border-radius: 4px;
    display: block;
    position: absolute;
    left:120px;
    bottom:292px;
}
.zs-content{
    height:1129px;
    position: relative;
}
.zs .btn:active{
    background: rgba(0,0,0,0.1);
}
.dsj{
    width:100%;
    height:847px;
    background: url("../images/dsj.png") center center /cover no-repeat;
}
.zs-list{
    margin-top: 100px;
    margin-bottom: 100px;
}
.zs-list li{
    float: left;
    margin-left: 74px;
    margin-bottom: 140px;
    width:438px;
    height:506px;
    border-radius: 8px;
    background: #ffffff;
    position: relative;
    -moz-box-shadow:0 0 25px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);box-shadow:0 0 25px rgba(0,0,0,0.2);
}
.zs-list li:nth-child(2n){
    top:59px;
}
.zs-list li:after{
    content: ' ';
    display: block;
    width:438px;
    height:533px;
    position: absolute;
    top:42px;
    left:-17px;
    border-radius: 8px;
    z-index: -1;
}
.zs-list li:before{
    content: ' ';
    display: block;
    width:38px;
    height:38px;
    position: absolute;
    top:59px;
    right:-13px;
}
.zs-list li .nbsp{
    width:438px;
    height:80px;
    position: absolute;
    bottom:-79px;
    left:0;
}
.zs-list li .btn{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: block;
    width:234px;
    line-height:52px;
    height:52px;
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    bottom:-61px;
    left:0;
    right:0;
    text-align: center;
    margin:auto;
    border-radius: 10px;
}
.zs-list li:hover .btn{
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    bottom:-93px;
    -moz-box-shadow:0 0 25px rgba(0,0,0,0.2); -webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);box-shadow:0 0 25px rgba(0,0,0,0.2);
}
.zs-list li:nth-child(1):after,.zs-list li:nth-child(1):before,.zs-list li:hover:nth-child(1) .btn{
  background: #dc2557;
}
.zs-list li:nth-child(2):after,.zs-list li:nth-child(2):before,.zs-list li:hover:nth-child(2) .btn{
    background: #0fd7cb;
}
.zs-list li:nth-child(3):after,.zs-list li:nth-child(3):before,.zs-list li:hover:nth-child(3) .btn{
    background: #4986fc;
}
.zs-list li:nth-child(4):after,.zs-list li:nth-child(4):before,.zs-list li:hover:nth-child(4) .btn{
    background: #5d4af4;
}
.zs-list li .title{
    padding-left: 60px;
    padding-top: 50px;
    font-size: 24px;
    position: relative;
    margin-bottom: 32px;
}
.zs-list li .title b{
    font-size: 28px;
}
.zs-list li .title:after{
    content: " ";
    display: block;
    width:257px;
    height:8px;
    position: absolute;
    bottom:0;
    left:50px;
    background-image: url("../images/colo.png");
}
.bg-color4:after {
    background-position:  -0 -0;
}
.bg-color1:after {
    background-position:   -0 -8px;
}
.bg-color3:after {
    background-position:   -0 -16px;
}
.bg-color2:after {
    background-position:  -0 -24px;
}
.zs-list li .info{
    padding-left: 26px;
    margin-left: 60px;
    width:257px;
    text-align: justify;
    font-weight: lighter;
    color: #171717;
    line-height:25px;
    background: url("../images/t.png") 0 4px no-repeat;
}
.mt-32{
    margin-bottom: 32px;
}
.g-footer {
    background-color: #313131;
}
.g-footer .footer-top {
    border-bottom: 1px solid #666;
    padding-top: 68px;
    padding-bottom: 50px;
}
.g-footer .footer-top .left {
    width: 1024px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 25px;
    text-align: left;
    color: #666;
}
.g-footer .footer-top .left .footer-nav {
    margin-top: 7px;
    height: 25px;
    font-size: 0;
}
.g-footer .footer-top .left .footer-nav a,
.g-footer .footer-top .left .footer-nav span {
    display: inline-block;
    font-size: 16px;
    color: #666;
}
.g-footer .footer-top .left .footer-nav span {
    margin: 0 16px;
}
.g-footer .footer-top .left .footer-nav a:hover {
    color: #fff;
}
.g-footer .footer-top .left .footer-link {
    margin-top: 37px;
}
.g-footer .footer-top .left .footer-link .first,
.g-footer .footer-top .left .footer-link .underline {
    float: left;
    width: 265px;
    font-size: 0;
}
.g-footer .footer-top .left .footer-link .underline .link-item{
    width:185px !important;
}
.g-footer .footer-top .left .footer-link .first .icon,
.g-footer .footer-top .left .footer-link .underline .icon,
.g-footer .footer-top .left .footer-link .first .link-item,
.g-footer .footer-top .left .footer-link .underline .link-item {
    display: inline-block;
    vertical-align: top;
}
.g-footer .footer-top .left .footer-link .first .icon,
.g-footer .footer-top .left .footer-link .underline .icon {
    width: 66px;
    height: 66px;
}
.g-footer .footer-top .left .footer-link .first .link-item,
.g-footer .footer-top .left .footer-link .underline .link-item {
    margin-left: 12px;
    width: 178px;
    font-size: 14px;
}
.g-footer .footer-top .left .footer-link .first .link-item .tit,
.g-footer .footer-top .left .footer-link .underline .link-item .tit {
    display: block;
    font-weight: bold;
}
.g-footer .footer-top .left .footer-link .first .link-item .cont,
.g-footer .footer-top .left .footer-link .underline .link-item .cont {
    margin-top: 4px;
    display: block;
    line-height: 18px;
    font-style: normal;
}
.g-footer .footer-top .left .footer-link .first {
    width: 290px;
}
.g-footer .footer-top .left .footer-link .second {
    width: 200px !important;
}
.g-footer .footer-top .left .footer-link .second .link-item{
    width: 100px !important;
}
.g-footer .footer-top .left .footer-link .underline .link-item .cont {
    margin-top: 9px;
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
}
.g-footer .footer-top .right {
    width: 124px;
}
.g-footer .footer-top .right .weixin-desc {
    margin-top: 4px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    color: #666;
}
.g-footer .footer-bottom {
    padding-bottom: 23px;
}
.g-footer .footer-bottom .copyright,
.g-footer .footer-bottom .licensing {
    font-size: 12px;
    font-family: "Microsoft YaHei";
    font-weight: normal;
    line-height: 21px;
    text-align: center;
    color: #535353;
}
.g-footer .footer-bottom .copyright {
    margin-top: 15px;
}
.g-footer .footer-bottom .licensing em {
    margin: 0 8px;
}
.g-footer .footer-bottom .advantage {
    margin-top: 7px;
    font-size: 0;
    text-align: center;
}
.g-footer .footer-bottom .advantage li {
    display: inline-block;
    height: 35px;
}
.g-footer .footer-bottom .advantage li + li {
    margin-left: 32px;
}
.fl {
    float: left;
}
.fr {
    float: right
}

.szll-info-left{
    width:331px;
    display: block;
    height:366px;
    float: left;
}
.szll-info-right{
    width:695px;
    margin-left: 20px;
    float: left;
}
.szll-info-right .watermark{
    text-transform: uppercase;
    font-size: 38px;
    font-weight: bold;
    color: rgba(255,255,255,0.11);
}
.szll-info-right .name{
    font-size: 33px;
    color: #ffffff;
    position: relative;
    padding-bottom: 30px;
}
.szll-info-right .name > span{
    font-size: 26px;
    font-weight: lighter;
}
.szll-info-right .name > span > span{
    font-size: 33px;
    font-weight: lighter;
}
.szll-info-right .name:after{
    content: " ";
    display: block;
    width:54px;
    height: 4px;
    background: #ed285e;
    position: absolute;
    left:0;
    bottom:0;
}
.szll-info-right .info{
font-size: 20px;
    color: #ffffff;
    line-height: 30px;
    margin-top: 33px;
}
.szll-info-right .info span {
    line-height: 24px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.35);
}
.szll-info-list li{
    display: none;
}
.szll-info-list li:first-child{
    display: block;
}