@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto; }

/*默认样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

/*头部开始*/
.home-nav-white {
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.52);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 16rem;
  height: 1.8773333333rem; }

.home-header {
  position: relative;
  width: 100%; }

.home-header .swiper-slide img {
  width: 100%; }

.home-nav {
  width: 100%;
  height: 1.8773333333rem;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99; }

.home-nav-logo {
  width: 4.672rem;
  margin-top: 0.384rem;
  margin-left: 0.4266666667rem; }

.home-header .swiper-pagination-bullet-active {
  width: 1.024rem !important;
  height: 1.024rem !important;
  background-image: url(../images/home/pagination-bullet-active.png);
  background-color: transparent !important;
  background-size: 1.024rem 1.024rem;
  position: relative;
  top: 0.4053333333rem; }

.home-header .swiper-pagination-bullet {
  width: 0.2133333333rem;
  height: 0.2133333333rem;
  background-color: #ff9324;
  opacity: 1; }

.home-header .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 1.1093333333rem;
  left: 0;
  width: 100%; }

.home-header .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.256rem; }

.home-nav-menu {
  width: 0.9386666667rem;
  height: 0.6826666667rem;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.5973333333rem; }

/*侧边导航开始*/
.home-nav-content {
  position: fixed;
  right: -9.5146666667rem;
  height: 100%;
  width: 8.6613333333rem;
  z-index: 999; }

.home-nav-content-bg {
  position: absolute;
  top: 0;
  left: -0.64rem;
  height: 100%;
  width: 9.3013333333rem;
  z-index: -1;
  background: url("../images/home/menu-bg.png") center center/cover no-repeat;
  background-size: 100% 100%; }

.home-nav-content-title {
  padding-left: 0.8106666667rem;
  font-size: 0.6613333333rem;
  color: #333333;
  background: #ff9324;
  height: 1.7066666667rem;
  line-height: 1.7066666667rem;
  position: relative; }

.hone-nav-close {
  width: 0.7253333333rem;
  height: 0.7253333333rem;
  position: absolute;
  right: 0.4266666667rem;
  top: 0.512rem; }

.home-nav-content-title span {
  font-size: 0.2346666667rem;
  padding-left: 0.384rem; }

/* 本例子css */
.sideMenu {
  padding-left: 0.6186666667rem; }

.sideMenu h3, .sideMenu h2 {
  font-size: 0.5546666667rem;
  color: #ffffff;
  height: 2.048rem;
  line-height: 2.048rem;
  padding-left: 0.2133333333rem;
  border-top: 0.0213333333rem solid #4c4c4c;
  cursor: pointer; }

.sideMenu ul {
  display: none;
  /* 默认都隐藏 */
  padding-bottom: 0.5546666667rem; }

.sideMenu ul li {
  margin-right: 1.1946666667rem;
  font-size: 0.512rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.1733333333rem;
  padding-left: 0.5973333333rem;
  background: url("../images/home/triangle-right.png") right no-repeat;
  background-size: 0.1706666667rem 0.2133333333rem; }

.sideMenu ul li a {
  display: block; }

.border-top-none {
  border-top: none !important; }

.home-qr-code {
  position: absolute;
  bottom: 1.3226666667rem;
  width: 4.4373333333rem;
  margin-left: 2.112rem;
  text-align: center;
  font-size: 0.512rem;
  color: #ffffff;
  line-height: 0.896rem; }

.home-qr-code img {
  width: 4.4373333333rem; }

/*侧边导航结束*/
/*头部结束*/
/*课程体系开始*/
.curriculum-system {
  margin-top: 1.4933333333rem; }

.curriculum-system-title {
  font-size: 0.768rem;
  color: #333333;
  text-align: center; }

.curriculum-system-subtitle {
  font-size: 0.4266666667rem;
  color: #666666;
  text-align: center;
  line-height: 0.8533333333rem; }

.curriculum-system-line {
  margin: auto;
  width: 2.1333333333rem;
  height: 0.064rem;
  background: #ed9336; }

.curriculum-system-switch {
  margin: 0.8533333333rem 0.4266666667rem 0; }

.curriculum-system-switch .hd, .curriculum-system-switch .bd {
  float: left; }

.curriculum-system-switch .hd li {
  margin-top: 0.2133333333rem;
  color: #ffffff;
  text-align: center;
  padding-top: 2.1333333333rem;
  font-size: 0.4693333333rem;
  width: 3.6266666667rem;
  height: 1.4933333333rem;
  background-size: 3.6266666667rem 3.6266666667rem;
  background-repeat: no-repeat; }

.curriculum-system-switch .hd .on {
  border-left: 0.128rem solid #ed9336;
  width: 3.4986666667rem; }

.curriculum-system-switch .hd li:nth-child(1) {
  background-image: url("../images/home/home-icon-design.png"); }

.curriculum-system-switch .hd li:nth-child(2) {
  background-image: url("../images/home/home-icon-continuing.png"); }

.curriculum-system-switch .hd li:nth-child(3) {
  background-image: url("../images/home/home-icon-manage.png"); }

.curriculum-system-switch .hd li:nth-child(4) {
  background-image: url("../images/home/home-icon-it.png"); }

.curriculum-system-content div {
  position: relative;
  padding-left: 1.7066666667rem;
  margin-left: 1.0666666667rem;
  margin-bottom: 0.5333333333rem;
  min-height: 1.3226666667rem;
  padding-right: 0.4266666667rem; }

.curriculum-system-content h3 {
  font-size: 0.512rem; }

.curriculum-system-content span {
  font-size: 0.4266666667rem;
  display: block; }

.curriculum-system-content img {
  width: 1.3226666667rem;
  height: 1.3226666667rem;
  position: absolute;
  left: 0;
  top: 0; }

.curriculum-system-switch .bd > li {
  padding-top: 2.7733333333rem;
  position: relative;
  color: #ffffff;
  margin-top: 0.2133333333rem;
  margin-left: 0.2133333333rem;
  width: 11.3066666667rem;
  height: 12.3733333333rem;
  display: none;
  background-color: #ed9336;
  background-repeat: no-repeat;
  background-size: 11.3066666667rem 15.1466666667rem; }

.curriculum-system-switch .bd > li:nth-child(1) {
  display: block;
  background-image: url("../images/home/curriculum-system-design.png"); }

.curriculum-system-switch .bd > li:nth-child(2) {
  background-image: url("../images/home/curriculum-system-continuing.png"); }

.curriculum-system-switch .bd > li:nth-child(3) {
  background-image: url("../images/home/curriculum-system-manage.png"); }

.curriculum-system-switch .bd > li:nth-child(4) {
  background-image: url("../images/home/curriculum-system-it.png"); }

.view-more-bgwhite {
  font-size: 0.4266666667rem;
  font-weight: bold;
  line-height: 1.2586666667rem;
  width: 4.6506666667rem;
  height: 1.2586666667rem;
  margin: 1.0666666667rem;
  color: #ed9336;
  background: #ffffff;
  display: block;
  border-radius: 1.28rem;
  text-align: center;
  box-shadow: 1px 2px 6px rgba(49, 49, 49, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 0; }

/*课程体系结束*/
/*关于我们开始*/
.about-us {
  background: #313131;
  margin-top: 1.7066666667rem;
  padding: 1.7066666667rem 0.4266666667rem 2.56rem 0.4266666667rem; }

.about-us img {
  width: 4.352rem;
  margin-bottom: 0.7466666667rem; }

.about-us-content {
  line-height: 0.768rem;
  color: #ffffff;
  text-indent: 4em;
  font-size: 0.4693333333rem; }

.about-us-content span {
  font-weight: bold;
  color: #dd8a36; }

.about-us ul {
  margin-top: 1.28rem;
  margin-bottom: 0.896rem; }

.about-us ul li {
  font-size: 0.4693333333rem;
  color: #ffffff;
  width: 7.0826666667rem;
  float: left;
  padding-left: 0.384rem;
  background-image: url("../images/home/li-right.png");
  background-size: 0.2346666667rem 0.2773333333rem;
  background-repeat: no-repeat;
  background-position-y: 0.1706666667rem;
  margin: 0.128rem auto; }

.about-us ul li b {
  display: block; }

.view-more {
  font-size: 0.4266666667rem;
  font-weight: bold;
  line-height: 1.2586666667rem;
  width: 4.6506666667rem;
  height: 1.2586666667rem;
  margin: auto;
  color: #ffffff;
  background: #ed9336;
  display: block;
  border-radius: 1.28rem;
  text-align: center;
  box-shadow: 1px 2px 6px rgba(49, 49, 49, 0.5);
  cursor: pointer; }

/*关于我们结束*/
/*三分钟了解中鹏开始*/
.understand-zp {
  width: 15.1466666667rem;
  height: 9.3866666667rem;
  margin: 0 0.4266666667rem;
  position: relative;
  top: -1.28rem;
  color: #ffffff;
  font-size: 1.4506666667rem;
  z-index: 2;
  text-align: center;
  line-height: 9.3866666667rem;
  font-weight: lighter; }

.understand-zp-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 15.1466666667rem;
  height: 9.3866666667rem; }

.understand-zp-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.8746666667rem;
  margin-top: -1.1306666667rem;
  width: 1.7493333333rem;
  height: 2.2613333333rem; }

.video-box {
  width: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999999; }

.video-box video {
  width: 16rem;
  position: absolute;
  top: 50%;
  margin-top: -3.84rem; }

.close-video {
  position: absolute;
  right: 0.256rem;
  top: 0.256rem;
  width: 0.64rem;
  height: 0.64rem;
  background-image: url("../images/home/close-video.png");
  background-repeat: no-repeat;
  background-size: 0.64rem 0.64rem; }

/*三分钟了解中鹏结束*/
/*荣誉资质开始*/
.zp-honor .swiper-container {
  width: 12.2666666667rem;
  min-height: 11.4133333333rem;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

.zp-honor .zp-honor-title {
  font-size: 0.4266666667rem;
  text-align: left;
  width: 5.6746666667rem;
  margin: auto;
  color: #666666; }

.zp-honor .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; }

.zp-honor .swiper-slide img {
  width: 5.6746666667rem; }

.zp-honor .vertical-swiper .left-right {
  bottom: 5.9733333333rem; }

.zp-honor .left-right {
  position: relative;
  width: 16rem;
  height: 1.28rem;
  bottom: 6.8266666667rem; }

.zp-honor .left-right .swiper-button-prev, .zp-honor .left-right .swiper-button-next {
  outline: none;
  width: 1.1733333333rem;
  height: 1.1946666667rem;
  background-image: url(../images/home/left-right.png);
  background-size: 2.3466666667rem 1.1733333333rem;
  background-repeat: no-repeat;
  background-position: 0 0; }

.zp-honor .left-right .swiper-button-next {
  background-position: -1.1733333333rem 0; }

.zpry {
  height: 2.6026666667rem;
  /*display: table;*/
  margin: auto;
  overflow-x: scroll;
  white-space: nowrap;
  width: 16rem; }

.zpry a {
  font-size: 0.512rem;
  margin: 0.96rem 0.3626666667rem;
  height: 1.024rem;
  line-height: 1.024rem;
  padding: 0.1706666667rem 0.32rem;
  cursor: pointer;
  background: #efefef;
  border: 0.0213333333rem solid #b5b5b6;
  border-radius: 1.28rem; }

.zpry a.zpry-on {
  color: #fff;
  background: #ed9336;
  border: 0.0213333333rem solid #ed9336; }

.hideswiper {
  position: fixed;
  left: 500%; }

.showswiper {
  position: static; }

.zp-honer-width {
  width: 6.4rem; }

/*荣誉资质结束*/
/*服务客户开始*/
.service-customer {
  margin-top: 1.8346666667rem; }

#service-customer .swiper-container {
  width: 12.2666666667rem;
  height: auto;
  margin: 0.9813333333rem auto 0.0213333333rem; }

#service-customer .zp-honor-title {
  font-size: 0.4266666667rem;
  text-align: left;
  width: 5.6746666667rem;
  margin: auto;
  color: #666666; }

#service-customer .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff; }

#service-customer .swiper-slide img {
  width: 3.712rem;
  height: 1.984rem; }

#service-customer .left-right {
  position: relative;
  width: 16rem;
  height: 1.28rem;
  bottom: 2.6666666667rem; }

#service-customer .left-right .swiper-button-prev, #service-customer .left-right .swiper-button-next {
  outline: none;
  width: 1.1733333333rem;
  height: 1.1946666667rem;
  background-image: url(../images/home/left-right.png);
  background-size: 2.3466666667rem 1.1733333333rem;
  background-repeat: no-repeat;
  background-position: 0 0; }

#service-customer .left-right .swiper-button-next {
  background-position: -1.1733333333rem 0; }

/*服务客户结束*/
/*底部开始*/
.footer-space {
  width: 16rem;
  height: 2.048rem; }

.home-footer {
  z-index: 99;
  width: 16rem;
  height: 2.048rem;
  background: #333333;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.4266666667rem;
  color: #dfdfdf;
  text-align: center; }

.home-footer li {
  width: 3.9466666667rem;
  height: 2.048rem;
  float: left;
  border-right: 0.0213333333rem solid #3c3c3c; }

.home-footer li img {
  display: block;
  width: 1.024rem;
  height: 1.024rem;
  margin: 0.2133333333rem auto 0; }

/*底部结束*/
/*文章内容模板页面开始*/
.home-nav-space {
  width: 16rem;
  height: 3.4133333333rem; }

.home-article {
  margin: auto 0.4266666667rem; }

.home-article .home-article-title {
  text-align: center;
  font-size: 0.64rem;
  color: #333333; }

.home-article .home-article-time {
  text-align: center;
  font-size: 0.4266666667rem;
  color: #333333; }

.home-article-pre, .home-article-next {
  display: block;
  padding-left: 1.4933333333rem;
  font-size: 0.4266666667rem;
  color: #666666;
  width: 13.6533333333rem;
  height: 1.3653333333rem;
  line-height: 1.3653333333rem;
  background-color: #f5f5f5;
  border: 0.0213333333rem solid #dcdddd;
  background-position: 0.64rem 0.4266666667rem;
  background-repeat: no-repeat;
  background-size: 0.5333333333rem 0.512rem;
  margin-bottom: 0.4266666667rem; }

.home-article-pre {
  background-image: url("../images/home/home-article-pre.png"); }

.home-article-next {
  background-image: url("../images/home/home-article-next.png"); }

/*文章内容模板页面结束*/
/*加入我们详情页开始*/
.joinus-title {
  margin: auto;
  padding: 0.64rem;
  border-radius: 0.128rem;
  width: 13.7386666667rem;
  height: 2.56rem;
  border: 0.064rem solid #dcdddd;
  position: relative; }

.joinus-btn {
  background: #ed9336;
  font-size: 0.4266666667rem;
  font-weight: bold;
  color: #ffffff;
  padding: 0.2133333333rem 0.4266666667rem;
  border-radius: 1.28rem;
  box-shadow: 0px 0.0426666667rem 0.1706666667rem rgba(237, 147, 54, 0.6588235294);
  position: absolute;
  bottom: 0.64rem;
  right: 0.64rem; }

.joinus-title-left {
  float: left;
  min-width: 5.76rem; }

.font-large {
  color: #333333;
  font-size: 0.64rem;
  line-height: 1.1093333333rem; }

.font-mini {
  font-size: 0.512rem;
  color: rgba(51, 51, 51, 0.6);
  line-height: 0.768rem; }

.joinus-contnet {
  font-size: 0.4693333333rem;
  color: #666666;
  margin: 0.4266666667rem;
  line-height: 0.768rem; }

/*加入我们详情页结束*/
/*加入我们列表页开始*/
.joinus-header {
  width: 16rem; }

.bg-black {
  background: #000000; }

.joinus-list-title {
  margin: 0.4266666667rem auto;
  padding: 0.64rem;
  background: #262626;
  border-radius: 0.128rem;
  width: 13.8666666667rem;
  height: 2.56rem;
  position: relative; }

.font-white {
  color: #ffffff; }

.font-white-50 {
  color: rgba(255, 255, 255, 0.5); }

.joinus-list-btn {
  font-size: 0.4266666667rem;
  font-weight: bold;
  height: 2.9866666667rem;
  width: 1.7066666667rem;
  display: block;
  line-height: 2.9866666667rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0.64rem;
  right: 0.64rem;
  background-image: url("../images/home/joinus-detail.png");
  background-repeat: no-repeat;
  background-size: 0.2346666667rem 0.4906666667rem;
  background-position: right center; }

/*加入我们列表页结束*/
/*荣誉资质开始*/
.hone-honer-nav {
  height: 1.8346666667rem;
  width: 16rem;
  box-shadow: 0px 4px 21px rgba(158, 158, 158, 0.3);
  overflow-x: auto;
  white-space: nowrap; }

.hone-honer-nav a {
  font-size: 0.512rem;
  color: #666666;
  padding: 0.128rem 0.4266666667rem; }

.hone-honer-nav .on {
  background: #ed9336;
  color: #ffffff;
  border-radius: 0.5546666667rem;
  margin: auto 0.512rem; }

.home-nav-space-1 {
  width: 16rem;
  height: 1.8773333333rem; }

.home-honer-list {
  margin: 0.4266666667rem; }

.home-honer-list li {
  width: 7.2533333333rem;
  float: left;
  font-size: 0.4266666667rem;
  color: #666666;
  margin: 0.5546666667rem 0.6186666667rem 0.3413333333rem 0; }

.home-honer-list li:nth-child(2n) {
  margin-right: 0; }

.home-honer-list li img {
  width: 7.2533333333rem;
  height: 5.5253333333rem; }

/*荣誉资质结束*/
/*咨询中心开始*/
.newlistimg {
  width: 16rem; }

.newlist-nav {
  width: 15.104rem;
  height: 1.7066666667rem;
  position: relative;
  top: -1.0453333333rem;
  background: #ffffff;
  margin: auto;
  box-shadow: 0px 4px 21px rgba(158, 158, 158, 0.3); }

.newlist-nav a {
  display: block;
  float: left;
  width: 5.0346666667rem;
  height: 1.6rem;
  font-size: 0.4693333333rem;
  color: #333333;
  line-height: 1.6rem;
  text-align: center; }

.newlist-nav .on {
  border-bottom: 0.1066666667rem solid #b5b5b6; }

.newlist-nav a img {
  width: 0.4693333333rem;
  vertical-align: -0.064rem;
  margin-right: 0.064rem; }

.news-list {
  width: 15.1466666667rem;
  margin: 0.256rem auto; }

.news-list > li {
  margin: 0.64rem auto; }

.news-list > li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.news-list > li > a > img {
  width: 4.992rem;
  float: left;
  display: block; }

.list-right {
  width: 9.8133333333rem;
  float: left;
  margin-left: 0.32rem; }

.list-right .list-right-summary {
  font-size: 0.4693333333rem;
  color: #666666;
  height: 1.9626666667rem;
  overflow: hidden; }

.list-right .list-right-title {
  font-size: 0.512rem;
  color: #ed9336;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.3413333333rem; }

/*咨询中心结束*/

/*# sourceMappingURL=styleHome.css.map */
