.header{height:0;}
.banner{height:100%;overflow:hidden;background-color:#000;}
.banner img{width:100%;height: 100%;position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.banner .swiper-pagination-bullet{width:.1rem;height:.1rem;display:inline-block;border-radius:100%;background-color:transparent;border:solid 1px #fff;opacity:1;}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:#fff;position:relative;}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active:after{position:absolute;display:block;content:' ';top:50%;left:50%;width:.2rem;height:.2rem;border-radius:100%;border:solid 1px #fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.top_course{margin-top:.6rem;height:7rem;}
.top_course ul li{width:50%;float:left;}
.top_course ul li img{display:block;width:3.45rem;height:2.57rem;margin:0 auto;}
.top_course ul li a{display:block;text-align:center;font-size:.24rem;margin:.2rem 0 .45rem 0;}
.top_notice{height:.8rem;background:url("../images/manage/notice.png") #ef3333 no-repeat;background-position:.1rem;background-size:.37rem .32rem;}
.top_notice a{font-size:.22rem;color:#fff;text-decoration:none;margin-left:0.66rem;display:block;height:.8rem;line-height:.5rem;}
.top_notice span{font-weight:bold;margin-right: .2rem;}
.near_course{background:#efefef;padding-left:.2rem;}
.near_course h3{font-size:.48rem;padding:.6rem 0 .4rem 0}
.near_course h3 span{font-family:"宋体";font-weight:normal;}
.near_course ul li img{width:100%;height:2.25rem;display:block;margin:0 auto;}
.near_course ul li a{display:block;text-align:center;font-size:.24rem;color:#333333;text-decoration:none;margin:.16rem 0 .6rem 0;}
.index_dynamic{padding-left:.2rem;height:3.4rem;}
.index_dynamic h3{margin:.6rem 0 .35rem 0;font-size:.48rem;}
.index_dynamic h3 span{font-weight:normal;}
.index_dynamic h3 i{width:1px;display:inline-block;background-color:#ff3333;margin:0 .2rem;height:.4rem;}
.index_dynamic h3 a{font-size:.24rem;text-decoration:none;color:#ff3333;}
.index_dynamic ul li{background:url("../../assets/images/manage/icon_triangle_right.png") 1px 5px no-repeat;height:0.4rem;}
.index_dynamic ul li a{font-size:.22rem;color:#666666;text-decoration:none;width:100%;display:inline-block;padding-left:0.28rem;}
.index_dynamic ul li a span{float:right;margin-right:.2rem;}
.index_teacher h3{margin:.3rem 0 .7rem 0;padding-left:.2rem;font-size:.48rem;}
.index_teacher h3 span{font-weight:normal;}
.index_teacher h3 a{color:#999999;font-size:.24rem;text-decoration:none;float:right;margin-right:.2rem;line-height:.6rem;height:0.6rem;display:block;}
.index_teacher_list{box-shadow:0px 0px 5px 5px #dcdcdc;margin:.42rem 0.2rem;padding:.2rem;height: 2.63rem;}
.index_teacher_list img{display:inline-block;width: 1.6rem;}
.index_teacher_info{display:inline-block;width:74%;float:right;margin-top: .1rem;}
.index_teacher_info h4{}
.index_teacher_info h4 a{color:#121a27;text-decoration:none;font-size:0.3rem;}
.index_teacher_info h4 a i{width:1px;background-color:#000;display:inline-block;height:13px;margin:0 0.1rem;}
.index_teacher_info h4 a span{color:#666666;font-size:.24rem;}
.index_teacher_info p{color:#666;text-align:justify;margin-top:0.2rem;}
.index_teacher_info p a{color:#ef3333;}
/*service dynamic*/.manage_list_nav{height:.88rem;border-bottom:1px solid #e8e6e6;background-color:#efefef;margin-top:.88rem;box-shadow:1px 2px 20px 0px #cacaca;}
.manage_list_nav ul{}
.manage_list_nav ul li{height:.88rem;line-height:.88rem;text-align:center;margin:0 0.2rem;width:auto !important;}
.manage_list_nav ul li a{color:#666;font-size:.24rem;}
.nav_select a{background:#ef3333;color:#fff !important;border-radius:.3rem;padding:.05rem .15rem;}
.service_list{margin-top:.5rem;}
.service_list li{padding:.2rem;}
.service_list li a{text-decoration:none;}
.service_list li a img{width:47%;}
.service_list li a div{width:50%;display:inline-block;float:right;}
.service_list li a h3{color:#121a27;font-size:.24rem;}
.service_list li a p{font-size:.22rem;color:#666666;margin-top:0.2rem;}
/*teacher*/.teacher_list_nav{height:.88rem;border-bottom:1px solid #e8e6e6;background-color:#efefef;margin-top:.88rem;}
.teacher_list_nav ul{}
.teacher_list_nav ul li{height:.88rem;line-height:.88rem;text-align:center;}
.teacher_list_nav ul li a{color:#666;font-size:.24rem;}
.nav_select a{background:#ef3333;color:#fff !important;border-radius:.3rem;padding:.05rem .15rem;}
.teacher_list{margin-top:.5rem;}
.teacher_list li{padding:.2rem;}
.teacher_list li a{text-decoration:none;}
.teacher_list li a img{width:25%;}
.teacher_list li a div{width:73%;text-align:justify;display:inline-block;float:right;}
.teacher_list li a div h3{font-size:.3rem;color:#121a27;margin:.32rem 0;}
.teacher_list li a div h3 i{margin:0 .2rem;background:#b2b2b2;width:1px;display:inline-block;height:.22rem;}
.teacher_list li a div h3 span{color:#666666;font-size:.24rem;}
.teacher_list li a div h3 font{font-size:.24rem;color:#666;float:right;}
.teacher_list li a div p{font-size:.22rem;color:#666666;}
.teacher_list li a div p span{color:#ef3333;}
.student_list{margin-top:.5rem;text-align:center;}
.student_list ul li{position:relative;width:46%;display:inline-block;margin:.1rem;}
.student_list ul li a{display:block;}
.student_list ul li a img{width:100%;}
.student_list ul li a span{display:block;position:absolute;bottom:4px;font-size:.22rem;height:.5rem;background:#00000060;text-align:center;line-height:0.5rem;width:100%;color:#fff;}
.course_list{margin-top:.5rem;}
.course_list li{padding:.2rem;}
.course_list li{text-decoration:none;}
.course_list li img{width:3rem;height:2.24rem;}
.course_list li div{width:55%;display:inline-block;float:right;}
.course_list li h3{color:#121a27;font-size:.24rem;}
.course_list li p{font-size:.22rem;color:#666666;margin-top:0.2rem;}
.course_list li a{color:#fff;background:#ef3333;text-decoration:none;font-size:.24rem;padding:.01rem .2rem;height:.48rem;display:inline-block;border-radius:.09rem;line-height:.4rem;margin-top:.2rem;}
.teacher_detail{margin-top:.88rem;}
.teacher_detail_top{background:url(../../assets/images/manage/teacher_detail_top_bg.png) no-repeat 100%;height:3.8rem;position:relative;}
.teacher_detail_top img{position:absolute;width:2.86rem;height:4rem;left:.2rem;top:0.27rem;}
.teacher_detail_info{position:absolute;top:.86rem;right:.2rem;width:4rem;}
.teacher_detail_info h3{color:#fff;font-size:.36rem;}
.teacher_detail_info h3 span{color:#a8a9ad;font-size:.24rem;float:right;line-height:.48rem;}
.teacher_detail_info ul{margin-top:.73rem;}
.teacher_detail_info ul li{color:#fff;height:.5rem;}
.teacher_detail_img_1{background:url(../../assets/images/manage/teacher_detail_img_1.png) no-repeat;background-position:1px 2px;padding-left:.4rem;background-size:.29rem .26rem;}
.teacher_detail_img_2{background:url(../../assets/images/manage/teacher_detail_img_2.png) no-repeat;background-size:.29rem .26rem;padding-left:.4rem;height:auto !important;}
.teacher_detail p{margin-top:.88rem;color:#666666;padding:.2rem .2rem .39rem .2rem;line-height:.36rem;text-align:justify;}
.teacher_list_title{height:.9rem;background:#f2f2f2;margin-bottom:-.16rem;margin:0 .2rem;border-bottom-left-radius:0.3rem;}
.teacher_list_title span{background:#ef3333;height:.88rem;display:inline-block;font-size:.3rem;color:#fff;width:1.76rem;text-align:center;line-height:.88rem;border-top-right-radius:0.3rem;border-bottom-left-radius:0.3rem;}
#course_select{color:#ef3333;background:#ffebeb;}
.course_detail img{width:100%;display:inherit;}
.course_detail p{font-size:.36rem;color:#333;height:1.67rem;background-color:#efefef;line-height:1.67rem;padding:0 .2rem;}
.course_detail p a{text-align:center;width:2.48rem;height:0.9rem;color:#ef3333;text-decoration:none;border-radius:.1rem;border:1px solid #ef3333;display:inline-block;float:right;line-height:.9rem;margin-top:.35rem;}
.course_detail ul{margin-top:.48rem;padding:0 .2rem;}
.course_detail ul li{color:#333333;font-size:.24rem;line-height:.55rem;height:.55rem;}
.course_time{background:url(../../assets/images/manage/course_1.png) no-repeat;background-size:.3rem;padding-left:0.4rem;background-position:1px;}
.course_addr{background:url(../../assets/images/manage/course_2.png) no-repeat;background-size:.3rem;padding-left:0.4rem;background-position:1px;}
.course_type{background:url(../../assets/images/manage/course_3.png) no-repeat;background-size:.3rem;padding-left:0.4rem;background-position:1px;}
.course_detail ul li span{color:#999999;background-color:#efefef;border-radius:.2rem;padding:.05rem .2rem;font-size:.22rem;margin:.2rem;}
.course_detail ul li i{margin-left:.2rem;font-style:inherit;font-size:.22rem;color:#666666;}
.course_btn{width:5.3rem;margin:.52rem auto;}
.course_btn_1{color:#fff;background-color:#4946bd;width:2.45rem;height:.9rem;display:inline-block;border-radius:.2rem;line-height:.9rem;text-align:center;text-decoration:none;}
.course_btn_2{color:#fff;background-color:#ef3333;width:2.45rem;height:.9rem;display:inline-block;border-radius:.2rem;line-height:.9rem;text-align:center;float:right;text-decoration:none;}
.classes_detail{background:#efefef;padding:0 .2rem;}
.classes_detail h3{font-size:.36rem;padding:.72rem 0 0 0;color:#121a27;}
.classes_detail h3 span{font-weight:normal;}
.classes_detail ul{margin-top:.43rem;padding:0;}
.classes_detail_1{background:url(../../assets/images/manage/classes1.png) no-repeat;height:1.12rem !important;background-size:1.76rem 1.12rem;}
.classes_detail_2{background:url(../../assets/images/manage/classes2.png) no-repeat;background-size:1.76rem 1.12rem;}
.classes_detail_3{background:url(../../assets/images/manage/classes3.png) no-repeat;background-size:1.76rem 1.12rem;}
.classes_detail ul li{font-size:.22rem;color:#666666;height:auto;margin-bottom:.4rem;padding-left:2rem;}
.like_course{height:4.5rem;}
.like_course h3{font-size:.36rem;padding:.2rem;color:#121a27;text-align:left;}
.like_course h3 span{font-weight:normal;}
.like_course{margin-top:.5rem;text-align:center;}
.like_course ul li{position:relative;width:46%;display:inline-block;margin:.1rem;}
.like_course ul li a{display:block;}
.like_course ul li a img{width:100%;}
.like_course ul li a span{display:block;position:absolute;bottom:4px;padding-left:.1rem;font-size:.22rem;height:.5rem;background:#ef3333ad;line-height:0.5rem;text-align:left;width:100%;color:#fff;}
.title{font-size: .48rem;color: #121a27;padding: 0 .2rem;line-height: .42rem;}
.title span{font-weight: normal;}
.map{position: absolute;bottom: 0;background: #fff;height: 2.14rem;width: 100%;box-shadow: 0px -2px 0px 0px #d4d4d4;}
.map img{width: 2.2rem;height: 1.75rem;margin: .2rem;}
.map_info{display: inline-block;float: right;margin: .4rem .2rem 0 0;}
.map_info h3{color: #333333;font-size: .24rem;}
.map_info ul{margin-top: .1rem;}
.map_info ul li{height: 2em;line-height: .5rem;}
.icon_map{background: url(../images/manage/map.png) no-repeat;padding-left: 22px;background-size: 15px 19px;background-position: 0 3px;}
.icon_tel{background: url(../images/manage/tel.png) no-repeat;padding-left: 22px;background-size: 15px 19px;background-position: 0 3px;}
.honer{padding-top: .56rem;margin-bottom: .74rem;}
.slider-hd{margin-bottom: 1rem;}
.slider-hd h2{float: left;}
.slider-hd .tab{float: right;font-size: 0;}
.slider-hd .tab span{display: inline-block;width: 1.2rem;height: .48rem;line-height: .48rem;text-align: center;background-color: #ffe6e6;border-radius: 300px;font-size: .24rem;color: #666666;margin-right: .2rem;}
.slider-hd .tab span.on{background-color: #ef3333;color: #fff;}
.honer .slider-container{width: 5.82rem;margin: 0 auto;}
.honer ul{font-size: 0;margin: 0 auto;}
.honer li{width: 2.66rem;display: inline-block;margin-bottom: .2rem;}
.honer li img{display: block;width: 2.66rem;height: 3.64rem;margin: 0 auto .1rem;}
.honer li p{line-height: .25rem;font-size: .2rem;height: .5rem;color: #666;width: 2.66rem;margin: 0 auto;}
.slider-bd{position: relative;}
.slider-control{position: absolute;top: 50%;display: inline-block;width: .57rem;height: .57rem;-webkit-transform: translateY(-50%);transform: translateY(-50%);z-index: 5;}
.slider-control.prev{background: url("../images/manage/arrow_left.png") no-repeat center / 100% auto;left: .2rem;}
.slider-control.next{background: url("../images/manage/arrow_right.png") no-repeat center / 100% auto;right: .2rem;}
.more{text-align: center;margin-top: .3rem;}
.more a{line-height: .46rem;display: inline-block;padding: 0 .2rem;border: solid 1px #ef3333;font-size: .24rem;border-radius: .05rem;color: #ef3333;text-decoration: none;}
.science{background: #394b65;}
.science h3{font-size: .48rem;color: #fff;margin: .78rem 0 .4rem .2rem;}
.science h3 span{font-weight: normal;}
.science ul{margin-bottom: .83rem;margin-left:.2rem;}
.science ul li{}
.science ul li img{width: 2.98rem;height: 2.24rem;}
.Area{padding: .56rem 0;}
.Area li{text-align: center;width: 100%;}
.Area li img{width: 2.3rem;height: 1.73rem;vertical-align: top;margin-right: .15rem;}
.Area li dl{display: inline-block;width: 3.02rem;text-align: left;}
.Area li dt{font-size: .24rem;line-height: .48rem;color: #333333;font-weight: bold;margin-bottom: .1rem;}
.Area li dd{font-size: .24rem;line-height: .34rem;padding-left: .36rem;position: relative;margin-bottom: .1rem;}
.Area li dd i{display: inline-block;width: .24rem;height: .3rem;position: absolute;left: 0;top: 0;}
.Area li dd i.icon-address{background: url("../images/continuing/icon_address.png") no-repeat left top / 100% auto;}
.Area li dd i.icon-tel{background: url("../images/continuing/icon_tel.png") no-repeat left top / 100% auto;}
.floatTool{width: .94rem;height: .94rem;position: fixed;left: .2rem;bottom: .4rem;z-index: 6;}
.floatTool > span{width: .94rem;height: .94rem;display: block;background: #ef3333 url("../images/manage/float_menu.png") no-repeat center / .38rem auto;border-radius: .06rem;box-shadow: 0 1px .06rem rgba(0,0,0,.57);}
.floatTool > ul{width: .94rem;bottom: 1.04rem;position: absolute;left: 0;-webkit-transform: translate3D(0,100%,0);transform: translate3D(0,100%,0);display: none;}
.floatTool > span.on + ul{display: block;-webkit-animation: slideInUp .3s ease-in-out forwards;animation: slideInUp .3s ease-in-out forwards;}
.floatTool > ul li{margin-top: .15rem;}
.floatTool > ul li i{width:.34rem;height: .4rem;display: block;background-repeat: no-repeat;background-position: center;background-size: contain;margin: 0 auto .05rem;}
.floatTool > ul li a{display: block;width: .94rem;height: .94rem;background-color: #636363;border-radius: .06rem;padding-top: .1rem;text-align: center;color: #fff;font-size: .2rem;box-shadow: 0 1px .06rem rgba(0,0,0,.57);text-decoration: none;}
.floatTool li i.float_shouji{background-image: url("../images/manage/float_shouji.png");}
.floatTool li i.float_youhui{background-image: url("../images/manage/float_youhui.png");}
.floatTool li i.float_tisheng{background-image: url("../images/manage/float_tisheng.png");}
.floatTool li i.float_top{background-image: url("../images/manage/float_top.png");}
.floatTool li i.float_zhengche{background-image: url("../images/manage/float_zhengche.png");}
@-webkit-keyframes slideInUp{0%{opacity: 0;-webkit-transform: translate3D(0,100%,0);transform: translate3D(0,100%,0);}
100%{opacity: 1;-webkit-transform: translate3D(0,0,0);transform: translate3D(0,0,0);}}
@keyframes slideInUp{0%{opacity: 0;-webkit-transform: translate3D(0,100%,0);transform: translate3D(0,100%,0);}
100%{opacity: 1;-webkit-transform: translate3D(0,0,0);transform: translate3D(0,0,0);}}
.menuAside dt {
    background-color: #ef3333 !important;
    color: #ffb4b4 !important;
}
.menuAside dt span {
    background: url(../images/manage/menu-close.png) no-repeat center / .34rem auto !important;
}