@charset "utf-8";
@import '../plugins/hotcss/px2rem';
body{
  width: 16rem;
  margin: 0 auto;
}
/*默认样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
/*头部开始*/
.home-nav-white{
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(138, 138, 138, 0.52);
  display: none;
  position: fixed;
  top:0;
  left:0;
  z-index: 999;
  width:px2rem(750);
  height:px2rem(88);
}
.home-header{
  position: relative;
  width:100%;
}
.home-header .swiper-slide img{
  width:100%;
}
.home-nav{
  width:100%;
  height:px2rem(88);
  background: rgba(0,0,0,0.6);
  position: absolute;
  left:0;
  top:0;
  z-index: 99;
}
.home-nav-logo{
  width:px2rem(219);
  margin-top: px2rem(18);
  margin-left: px2rem(20);
}
.home-header .swiper-pagination-bullet-active {
  width: px2rem(48) !important;
  height: px2rem(48) !important;
  background-image: url(../images/home/pagination-bullet-active.png);
  background-color: transparent !important;
  background-size: px2rem(48) px2rem(48);
  position: relative;
  top:px2rem(19);
}
.home-header .swiper-pagination-bullet {
  width: px2rem(10);
  height: px2rem(10);
  background-color:#ff9324;
  opacity:1;
}
.home-header  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: px2rem(52);
  left: 0;
  width: 100%;
}
.home-header .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:0 px2rem(12);
}
.home-nav-menu{
  width:px2rem(44);
  height:px2rem(32);
  position: absolute;
  right:px2rem(20);
  top:px2rem(28);
}
/*侧边导航开始*/
.home-nav-content{
  position: fixed;
  right:px2rem(-446);
  height:100%;
  width:px2rem(406);
  z-index: 999;
}
.home-nav-content-bg{
  position: absolute;
  top:0;
  left: px2rem(-30);
  height:100%;
  width:px2rem(436);
  z-index: -1;
  background: url("../images/home/menu-bg.png") center center/cover no-repeat;
  background-size: 100% 100%;
}
.home-nav-content-title{
  padding-left: px2rem(38);
  font-size: px2rem(31);
  color: #333333;
  background: #ff9324;
  height:px2rem(80);
  line-height: px2rem(80);
  position: relative;
}
.hone-nav-close{
  width:px2rem(34);
  height:px2rem(34);
  position: absolute;
  right:px2rem(20);
  top:px2rem(24);
}
.home-nav-content-title span{
  font-size: px2rem(11);
  padding-left: px2rem(18);
}
/* 本例子css */
.sideMenu{  padding-left: px2rem(29) }
.sideMenu h3,.sideMenu h2{
  font-size: px2rem(26);
  color: #ffffff;
  height:px2rem(96);
  line-height:px2rem(96);
  padding-left:px2rem(10);
  border-top:px2rem(1) solid #4c4c4c;
  cursor:pointer;
}
.sideMenu ul{
  display:none; /* 默认都隐藏 */
  padding-bottom: px2rem(26);
}
.sideMenu ul li{
  margin-right: px2rem(56);
  font-size: px2rem(24);
  color: rgba(255,255,255,0.6);
  line-height: px2rem(55);
  padding-left: px2rem(28);
  background: url("../images/home/triangle-right.png") right no-repeat;
  background-size: px2rem(8) px2rem(10);
}
.sideMenu ul li a{
  display: block;
}
.border-top-none{
  border-top: none !important;
}
.home-qr-code{
  position: absolute;
  bottom: px2rem(62);
  width:px2rem(208);
  margin-left:px2rem(99);
  text-align: center;
  font-size: px2rem(24);
  color: #ffffff;
  line-height: px2rem(42);
}
.home-qr-code img{
  width:px2rem(208);
}
/*侧边导航结束*/
/*头部结束*/

/*课程体系开始*/
.curriculum-system{
  margin-top: px2rem(70);
}
.curriculum-system-title{
  font-size: px2rem(36);
  color: #333333;
  text-align: center;
}
.curriculum-system-subtitle{
  font-size: px2rem(20);
  color: #666666;
  text-align: center;
  line-height: px2rem(40);
}
.curriculum-system-line{
  margin: auto;
  width:px2rem(100);
  height:px2rem(3);
  background: #ed9336;
}
.curriculum-system-switch{
  margin: px2rem(40) px2rem(20) 0;
}
.curriculum-system-switch .hd,.curriculum-system-switch .bd{
  float: left;
}
.curriculum-system-switch .hd li{
  margin-top: px2rem(10);
  color: #ffffff;
  text-align: center;
  padding-top: px2rem(100);
  font-size: px2rem(22);
  width:px2rem(170);
  height:px2rem(70);
  background-size: px2rem(170) px2rem(170);
  background-repeat: no-repeat;
}
.curriculum-system-switch .hd .on{
  border-left: px2rem(6) solid #ed9336;
  width:px2rem(164);
}
.curriculum-system-switch .hd li:nth-child(1){
  background-image: url("../images/home/home-icon-design.png");
}
.curriculum-system-switch .hd li:nth-child(2){
  background-image: url("../images/home/home-icon-continuing.png") ;
}
.curriculum-system-switch .hd li:nth-child(3){
  background-image: url("../images/home/home-icon-manage.png") ;
}
.curriculum-system-switch .hd li:nth-child(4){
  background-image: url("../images/home/home-icon-it.png") ;
}
.curriculum-system-content div{
  position: relative;
  padding-left: px2rem(80);
  margin-left: px2rem(50);
  margin-bottom: px2rem(25);
  min-height: px2rem(62);
  padding-right: px2rem(20);
}
.curriculum-system-content  h3{
  font-size: px2rem(24);
}
.curriculum-system-content span{
  font-size: px2rem(20);
  display: block;
}
.curriculum-system-content img{
  width:px2rem(62);
  height:px2rem(62);
  position: absolute;
  left:0;
  top:0;
}
.curriculum-system-switch .bd > li{
  padding-top: px2rem(130);
  position: relative;
  color: #ffffff;
  margin-top: px2rem(10);
  margin-left: px2rem(10);
  width:px2rem(530);
  height:px2rem(580);
  display: none;
  background-color: #ed9336;
  background-repeat: no-repeat;
  background-size: px2rem(530) px2rem(710);
}
.curriculum-system-switch .bd > li:nth-child(1){
  display: block;
  background-image: url("../images/home/curriculum-system-design.png");
}
.curriculum-system-switch .bd > li:nth-child(2){
  background-image: url("../images/home/curriculum-system-continuing.png");
}
.curriculum-system-switch .bd > li:nth-child(3){
  background-image: url("../images/home/curriculum-system-manage.png");
}
.curriculum-system-switch .bd > li:nth-child(4){
  background-image: url("../images/home/curriculum-system-it.png");
}
.view-more-bgwhite{
  font-size: px2rem(20);
  font-weight: bold;
  line-height: px2rem(59);
  width:px2rem(218);
  height:px2rem(59);
  margin:px2rem(50);
  color: #ed9336;
  background: #ffffff;
  display: block;
  border-radius: px2rem(60);
  text-align: center;
  box-shadow: 1px 2px 6px rgba(49, 49, 49, 0.5);
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
/*课程体系结束*/
/*关于我们开始*/
.about-us{
  background: #313131;
  margin-top: px2rem(80);
  padding: px2rem(80) px2rem(20) px2rem(120) px2rem(20);
}
.about-us img{
  width:px2rem(204);
  margin-bottom: px2rem(35);
}
.about-us-content {
  line-height: px2rem(36);
  color: #ffffff;
  text-indent: 4em;
  font-size:px2rem(22);
}
.about-us-content span{
  font-weight: bold;
  color: #dd8a36;
}
.about-us ul{
  margin-top: px2rem(60);
  margin-bottom: px2rem(42);
}
.about-us ul li{
  font-size:px2rem(22);
  color: #ffffff;
  width:px2rem(332);
  float: left;
  padding-left: px2rem(18);
  background-image: url("../images/home/li-right.png");
  background-size: px2rem(11) px2rem(13);
  background-repeat: no-repeat;
  background-position-y: px2rem(8);
  margin: px2rem(6) auto;
}
.about-us ul li b{
 display: block;
}
.view-more{
  font-size: px2rem(20);
  font-weight: bold;
  line-height: px2rem(59);
  width:px2rem(218);
  height:px2rem(59);
  margin:auto;
  color: #ffffff;
  background: #ed9336;
  display: block;
  border-radius: px2rem(60);
  text-align: center;
  box-shadow: 1px 2px 6px rgba(49, 49, 49, 0.5);
  cursor: pointer;
}
/*关于我们结束*/

/*三分钟了解中鹏开始*/
.understand-zp{
  width:px2rem(710);
  height:px2rem(440);
  margin: 0 px2rem(20);
  position: relative;
  top:px2rem(-60);
  color: #ffffff;
  font-size: px2rem(68);
  z-index:2;
  text-align: center;
  line-height: px2rem(440);
  font-weight: lighter;
}
.understand-zp-bg{
  position: absolute;
  left: 0;
  top:0;
  z-index: -1;
  width:px2rem(710);
  height:px2rem(440);
}
.understand-zp-play{
  position: absolute;
  top:50%;
  left: 50%;
  margin-left: px2rem(-41);
  margin-top:px2rem(-53);
  width:px2rem(82);
  height:px2rem(106);
}
.video-box{
  width:px2rem(750);
  position: fixed;
  top:0;
  left:0;
  height:100%;
  background: rgba(0,0,0,0.7);
  display: none;
  z-index: 999999;
}
.video-box video{
  width:px2rem(750);
  position: absolute;
  top:50%;
  margin-top: px2rem(-180);
}
.close-video{
  position: absolute;
  right:px2rem(12);
  top:px2rem(12);
  width: px2rem(30);
  height:px2rem(30);
  background-image: url("../images/home/close-video.png");
  background-repeat: no-repeat;
  background-size: px2rem(30) px2rem(30);
}
/*三分钟了解中鹏结束*/

/*荣誉资质开始*/
.zp-honor .swiper-container {
  width:px2rem(575);
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.zp-honor .zp-honor-title{
  font-size: px2rem(20);
  text-align: left;
  width:px2rem(266);
  margin: auto;
  color: #666666;
}
.zp-honor .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
.zp-honor .swiper-slide img {
   width:px2rem(266);
}
.zp-honor .vertical-swiper .left-right{
  bottom: px2rem(280);
}
.zp-honor .left-right{
  position: relative;
  width:px2rem(750);
  height:px2rem(60);
  bottom: px2rem(320);
}
.zp-honor .left-right .swiper-button-prev,.zp-honor .left-right .swiper-button-next{
  outline: none;
  width: px2rem(55);
  height: px2rem(56);
  background-image: url(../images/home/left-right.png) ;
  background-size: px2rem(110) px2rem(55);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.zp-honor .left-right .swiper-button-next {
  background-position: px2rem(-55) 0;
}
.zpry{
  height: px2rem(122);
  display: table;
  margin: auto;
}
.zpry li{
  font-size: px2rem(24);
  margin: px2rem(45) px2rem(17);
  height: px2rem(48);
  line-height: px2rem(48);
  float: left;
  padding: 0 px2rem(15);
  cursor: pointer;
  background: #efefef;
  border: px2rem(1) solid #b5b5b6;
  border-radius: px2rem(60);
}
.zpry li.zpry-on{
  color: #fff;
  background: #ed9336;
  border: px2rem(1) solid #ed9336;
}
.hideswiper {
  position: fixed;
  left: 500%;
}
.showswiper{
  position: static;
}
.zp-honer-width{
  width:px2rem(300);
}
/*荣誉资质结束*/
/*服务客户开始*/
.service-customer{
margin-top: px2rem(86);
}
.service-customer{

}
#service-customer .swiper-container {
  width:px2rem(575);
  height: auto;
  margin: px2rem(46) auto px2rem(1);
}
#service-customer .zp-honor-title{
  font-size: px2rem(20);
  text-align: left;
  width:px2rem(266);
  margin: auto;
  color: #666666;
}
#service-customer .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}
#service-customer .swiper-slide img {
  width:px2rem(174);
  height:px2rem(93);
}
#service-customer .left-right{
  position: relative;
  width:px2rem(750);
  height:px2rem(60);
  bottom: px2rem(125);
}
#service-customer .left-right .swiper-button-prev,#service-customer .left-right .swiper-button-next{
  outline: none;
  width: px2rem(55);
  height: px2rem(56);
  background-image: url(../images/home/left-right.png) ;
  background-size: px2rem(110) px2rem(55);
  background-repeat: no-repeat;
  background-position: 0 0;
}
#service-customer .left-right .swiper-button-next {
  background-position: px2rem(-55) 0;
}
/*服务客户结束*/
/*底部开始*/
.footer-space{
  width: px2rem(750);
  height:px2rem(96);
}
.home-footer{
  z-index: 99;
  width: px2rem(750);
  height:px2rem(96);
  background: #333333;
  position: fixed;
  bottom: 0;
  left:0;
  font-size: px2rem(20);
  color: #dfdfdf;
  text-align: center;
}
.home-footer li{
  width: px2rem(185);
  height:px2rem(96);
  float: left;
  border-right: px2rem(1) solid #3c3c3c;

}
.home-footer li img{
  display: block;
  width:px2rem(48);
  height:px2rem(48);
  margin:px2rem(10) auto 0;
}
/*底部结束*/

/*文章内容模板页面开始*/
.home-nav-space{
  width:px2rem(750);
  height: px2rem(160);
}
.home-article{
  margin:auto px2rem(20);
}
.home-article .home-article-title{
  text-align: center;
  font-size: px2rem(30);
  color: #333333;
}
.home-article .home-article-time{
  text-align: center;
 font-size: px2rem(20);
  color: #333333;
}
.home-article-pre,.home-article-next{
  display: block;
  padding-left: px2rem(70);
  font-size: px2rem(20);
  color: #666666;
  width:px2rem(640);
  height:px2rem(64);
  line-height: px2rem(64);
  background-color: #f5f5f5;
  border:px2rem(1) solid #dcdddd;
  background-position: px2rem(30) px2rem(20);
  background-repeat: no-repeat;
  background-size: px2rem(25) px2rem(24);
  margin-bottom: px2rem(20);
}
.home-article-pre{
  background-image: url("../images/home/home-article-pre.png");
}
.home-article-next{
  background-image: url("../images/home/home-article-next.png");
}
/*文章内容模板页面结束*/
/*加入我们详情页开始*/
.joinus-title{
  margin: auto;
  padding: px2rem(30);
  border-radius: px2rem(6);
  width:px2rem(644);
  height:px2rem(120);
  border:px2rem(3) solid #dcdddd;
  position: relative;
}
.joinus-btn{
  background: #ed9336;
  font-size: px2rem(20);
  font-weight: bold;
  color: #ffffff;
  padding: px2rem(10) px2rem(20);
  border-radius: px2rem(60);
  box-shadow: 0px px2rem(2) px2rem(8) rgba(237, 147, 54, 0.6588235294117647);
  position: absolute;
  bottom:px2rem(30);
  right:px2rem(30);
}
.joinus-title-left{
  float: left;
  min-width: px2rem(270);
}
.font-large{
  color: #333333;
  font-size: px2rem(30);
  line-height: px2rem(52);
}
.font-mini{
  font-size: px2rem(24);
  color: rgba(51,51,51,0.6);
  line-height: px2rem(36);
}
.joinus-contnet{
  font-size: px2rem(22);
  color: #666666;
  margin: px2rem(20);
  line-height: px2rem(36);
}
/*加入我们详情页结束*/

/*加入我们列表页开始*/
.joinus-header{
  width:px2rem(750);
}
.bg-black{
  background: #000000;
}
.joinus-list-title{
  margin:px2rem(20) auto;
  padding: px2rem(30);
  background: #262626;
  border-radius: px2rem(6);
  width:px2rem(650);
  height:px2rem(120);
  position: relative;
}
.font-white{
  color: #ffffff;
}
.font-white-50{
  color: rgba(255,255,255,0.5);
}
.joinus-list-btn {
  font-size: px2rem(20);
  font-weight: bold;
  height: px2rem(140);
  width: px2rem(80);
  display: block;
  line-height: px2rem(140);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: px2rem(30);
  right: px2rem(30);
  background-image: url("../images/home/joinus-detail.png");
  background-repeat: no-repeat;
  background-size: px2rem(11) px2rem(23);
  background-position: right center;
}
/*加入我们列表页结束*/

/*荣誉资质开始*/
.hone-honer-nav {
  height: 1.8346666667rem;
  width: 16rem;
  box-shadow: 0px 4px 21px rgba(158, 158, 158, 0.3);
  overflow-x: auto;
  white-space: nowrap;
}
.hone-honer-nav a{
  font-size: px2rem(24);
  color: #666666;
  padding: px2rem(6) px2rem(20);
}
.hone-honer-nav .on{
  background: #ed9336;
  color: #ffffff;
  border-radius: px2rem(26);
  margin: auto px2rem(24);
}
.home-nav-space-1{
  width:px2rem(750);
  height: px2rem(88);
}
.home-honer-list{
  margin: px2rem(20);
}
.home-honer-list li{
  width:px2rem(340);
  float: left;
  font-size: px2rem(20);
  color: #666666;
  margin: px2rem(26) px2rem(29) px2rem(16) 0;
}
.home-honer-list li:nth-child(2n){
  margin-right: 0;
}
.home-honer-list li img{
  width:px2rem(340);
  height:px2rem(259);
}
/*荣誉资质结束*/
/*咨询中心开始*/
.newlistimg{
  width:px2rem(750);
}
.newlist-nav{
  width:px2rem(708);
  height:px2rem(80);
  position: relative;
  top:px2rem(-49);
  background: #ffffff;
  margin: auto;
  box-shadow: 0px 4px 21px rgba(158, 158, 158, 0.3);
}
.newlist-nav a{
  display: block;
  float: left;
  width:px2rem(236);
  height:px2rem(75);
  font-size: px2rem(22);
  color: #333333;
  line-height:px2rem(75);
  text-align: center;
}
.newlist-nav .on{
 border-bottom: px2rem(5) solid #b5b5b6;
}
.newlist-nav a img{
  width:px2rem(22);
  vertical-align: px2rem(-3);
  margin-right: px2rem(3);
}
.news-list{
  width:px2rem(710);
  margin: px2rem(12) auto;
}
.news-list > li{
  margin: px2rem(30) auto;
}
.news-list > li:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.news-list > li > a > img{
  width:px2rem(234);
  float: left;
  display: block;
}
.list-right{
  width:px2rem(460);
  float: left;
  margin-left: px2rem(15);
}
.list-right .list-right-summary{
  font-size:px2rem(22);
  color: #666666;
  height: px2rem(92);
  overflow: hidden;
}
.list-right .list-right-title{
  font-size:px2rem(24);
  color: #ed9336;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: px2rem(16);

}
/*咨询中心结束*/
