@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width:px2rem(750);
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.header{
  position: fixed;
  z-index:999;
  top:0;
  left:0;
  right:0;
  margin: auto;
  width:px2rem(730);
  height:px2rem(87);
  font-size: px2rem(30);
  color: #ffffff;
  line-height:px2rem(87);
  text-align: right;
  padding-right: px2rem(20);
  background: rgba(0,0,0,0.5) url("../images/logo.png") px2rem(20) center /px2rem(219) px2rem(51) no-repeat;
}
.banner{
  width:px2rem(750);
  display: block;
}
.zzcx{
  padding-top: px2rem(196);
  height:px2rem(925);
  width:px2rem(750);
  background: url("../images/formbg.png") 0 0 /px2rem(750) px2rem(1121) no-repeat;
}
.rdo-group-border{
  width:px2rem(670);
  padding: px2rem(20);
  margin: auto;
  background: url("../images/borderColor.png") 0 0 /px2rem(15) px2rem(8);
}
.rdo-group{
  width:px2rem(670);
  background: #eaeaea;
}
.rdo-item{
  width:px2rem(223);
  float: left;
}
.rdo-item span{
  display: block;
  font-size: px2rem(28);
  font-weight: bold;
  color: #666666;
  text-align: center;
  position: relative;
  margin-bottom: px2rem(15);
  padding-top: px2rem(42);
  padding-bottom: px2rem(30);
}
.rdo-item input{
  display: none;
}
.rdo-item input+label{
  line-height:px2rem(50);
  display: block;
  width:px2rem(170);
  height:px2rem(50);
  background: #ffffff;
  text-align: center;
  font-size: px2rem(22);
  color: #666666;
  margin:0 auto px2rem(28);
}
.rdo-item input:checked+label{
  background: #f84a60;
  color: #ffffff;
}

.rdo-item span:after{
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  bottom:0;
  content: " ";
  display: block;
  width:px2rem(20);
  height:px2rem(10);
  background: url("../images/tran.png") 0 0 /px2rem(20) px2rem(10) no-repeat;
}
.form-input{
  padding-left: px2rem(20);
  font-size: px2rem(32);
  line-height:px2rem(82);
  height:px2rem(82);
  width:px2rem(470);
  border-radius: 20px;
  display: block;
  margin:px2rem(40) auto;
  outline: none;
  border: 1px solid #888787;
}
.form-btn{
  font-size: px2rem(39);
  color: #ffffff;
  text-align: center;
  line-height:px2rem(82);
  height:px2rem(82);
  width:px2rem(490);
  border-radius: 20px;
  display: block;
  margin: auto;
  background: -webkit-linear-gradient(left,  #5f0ba0, #f84a60); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,  #5f0ba0, #f84a60); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#5f0ba0, #f84a60); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#5f0ba0, #f84a60); /* 标准的语法 */
}
.rlzy-list{
  width:px2rem(710);
  margin:px2rem(85) auto;
}
.rlzy-list li{
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  width:px2rem(228);
  float: left;
  height:px2rem(371);
  background: #ffffff;
  margin-right: px2rem(12);
  -moz-box-shadow:8px 9px 17px rgba(124,124,124,0.3);
  -webkit-box-shadow:8px 9px 17px rgba(124,124,124,0.3);
  box-shadow:8px 9px 17px rgba(124,124,124,0.3);
}
.rlzy-list li:last-child{
  margin-right: 0;
}
.rlzy-list li .title{
  text-align: center;
  color: rgba(234,247,248,0.1);
  font-size: px2rem(56);
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  font-style: italic;
  position: relative;
  width:px2rem(228);
  height:px2rem(93);
  line-height: px2rem(93);
  border-top-left-radius: 35px;
  background: -webkit-linear-gradient(left, #6b0dab , #d23272); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, #6b0dab , #d23272); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#6b0dab , #d23272); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, #6b0dab , #d23272); /* 标准的语法 */
}
.rlzy-list li .title span{
  position: absolute;
  left:0;
  top:px2rem(15);
  width:px2rem(228);
  height:px2rem(78);
  line-height:px2rem(32);
  font-size: px2rem(24);
  color: #ffffff;
  font-style: normal;

}
.rlzy-list li .info{
  height:px2rem(130);
  margin-top:px2rem(36);
  text-align: center;
  line-height:px2rem(26);
  font-size: px2rem(18);
  margin-bottom: px2rem(30);
}
.rlzy-list li .btn{
  display: block;
  margin: auto;
  width:px2rem(150);
  border-radius: px2rem(40);
  line-height:px2rem(40);
  height:px2rem(40);
  background: #f84a60;
  color: #ffffff;
  text-align: center;
  font-size: px2rem(20);
  -moz-box-shadow:4px 4px 0 #fbdadf; -webkit-box-shadow:4px 4px 0 #fbdadf; box-shadow:4px 4px 0 #fbdadf;
}
.rlzy-list li .btn:active{
  background: #ec465b;
  position: relative;
  top:2px;
  -moz-box-shadow:2px 2px 0 #fbdadf; -webkit-box-shadow:2px 2px 0 #fbdadf; box-shadow:2px 2px 0 #fbdadf;
}
.bktj li{
  width:px2rem(220);
  float: left;
  margin-right: px2rem(20);
}
.bktj li:last-child{
  margin-right: 0;
}
.bktj li:nth-child(2n) .top{
  border: 1px solid #6b0dab;
}
.bktj {
  margin-left: px2rem(20);
}
.bktj li .top{
  padding-top: px2rem(60);
  line-height: px2rem(45);
  font-size: px2rem(28);
  font-weight: bold;
  color: #666666;
  text-align: center;
  position: relative;
  width:px2rem(220);
  height:px2rem(220);
  border: 1px solid #f84a60;
}
.bktj li .top span b{
  color: #f84a60;
  font-weight: normal;
}
.bktj li:nth-child(2n) .top span b{
  color: #6b0dab;
}
.bktj li:nth-child(2n) .top a{
  margin: 0 auto 26px;
  background: #6b0dab;
  -moz-box-shadow:4px 4px 0 #e1cfed; -webkit-box-shadow:4px 4px 0 #e1cfed; box-shadow:4px 4px 0 #e1cfed;
}
.bktj li:nth-child(2n) .top a:active{
  background: #5f0b97;
  position: relative;
  top:2px;
  -moz-box-shadow:2px 2px 0 #e1cfed; -webkit-box-shadow:2px 2px 0 #e1cfed; box-shadow:2px 2px 0 #e1cfed;
}
.bktj li .top a{
  font-weight: normal;
  display: block;
  width:px2rem(170);
  margin: px2rem(35) auto 0;
  border-radius: px2rem(43);
  line-height:px2rem(43);
  height:px2rem(43);
  background: #f84a60;
  color: #ffffff;
  text-align: center;
  font-size: px2rem(21);
  -moz-box-shadow:4px 4px 0 #fbdadf; -webkit-box-shadow:4px 4px 0 #fbdadf; box-shadow:4px 4px 0 #fbdadf;
}
.bktj li .top a:active{
  background: #ec465b;
  position: relative;
  top:2px;
  -moz-box-shadow:2px 2px 0 #fbdadf; -webkit-box-shadow:2px 2px 0 #fbdadf; box-shadow:2px 2px 0 #fbdadf;
}
.bktj li .top span{
  display: block;
  font-size: px2rem(26);
  font-weight: normal;
  color: #999999;
}
.bktj li:nth-child(2n) .top:before{
  background: #6b0dab;
}
.bktj li:nth-child(2n) .top:after{
  border-color: #6b0dab ;
}
.bktj li .top:before{
  content: " ";
  display: block;
  width:px2rem(72);
  height:px2rem(4);
  background: #f84a60;
  position: absolute;
  left:0;
  right:0;
  top:px2rem(-2);
  margin: auto;
}

.bktj li .top:after{
  content: " ";
  display: block;
  width:px2rem(22);
  height:px2rem(22);
  background: #f8f8f8;
  border-left: 1px solid #f84a60;
  border-bottom: 1px solid #f84a60;
  position: absolute;
  left:0;
  right:0;
  bottom:px2rem(-24);
  margin: auto;
  -moz-transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(-18deg,-18deg);-moz-transform-origin:0% 0%;-webkit-transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(-18deg,-18deg);-webkit-transform-origin:0% 0%;-o-transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(-18deg,-18deg);-o-transform-origin:0% 0%;transform:rotate(-45deg) scale(1.00,1.00) translate(0px,0px) skew(-18deg,-18deg);transform-origin:0% 0%}
.icon{
  display: block;
  width:px2rem(155);
  height:px2rem(155);
  background: url("../images/icons.png") 0 0 /px2rem(465) px2rem(310);
  margin:px2rem(50) auto;
}
.bg-icon1 {
  background-position: -0 -0;
}

.bg-icon2 {
  background-position:  px2rem(155) -0;
}

.bg-icon3 {
  background-position:-0 px2rem(-155);
}

.bg-icon4 {
  background-position:px2rem(-155) px2rem(-155);
}

.bg-icon5 {
  background-position: px2rem(-310) -0;
}

.bg-icon6 {
  background-position: px2rem(-310) px2rem(-155);
}

.bktj-content{
  padding: px2rem(60) 0;
  width:px2rem(750);
  background: #f8f8f8;
}
.font-size{
  font-size: px2rem(20) !important;
}
.kcnr{
  width:px2rem(750);
  height:px2rem(4796);
  position: relative;
  background: url("../images/bg.png") 0 0 /px2rem(750) px2rem(4796) no-repeat;
}
.kcnr-btn1{
  cursor: pointer;
  width:px2rem(170);
  height:px2rem(37);
  display: block;
  position: absolute;
  bottom:px2rem(110);
  left:px2rem(100);
}
.kcnr-btn2{
  cursor: pointer;
  width:px2rem(170);
  height:px2rem(37);
  display: block;
  position: absolute;
  bottom:px2rem(110);
  right:px2rem(100);
}
.kcnr-btn3{
  cursor: pointer;
  width:px2rem(197);
  height:px2rem(60);
  display: block;
  position: absolute;
  bottom:px2rem(157);
  left:px2rem(91);
}
.kcnr a:active{
  background: rgba(0,0,0,0.1);
}
.kcnr-btn4{
  cursor: pointer;
  width:px2rem(197);
  height:px2rem(60);
  display: block;
  position: absolute;
  bottom:px2rem(157);
  right:px2rem(89);
}
.kcnr-btn5{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(688);
  left:px2rem(108);
}
.kcnr-btn6{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(688);
  right:px2rem(108);
}
.kcnr-btn7{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(957);
  left:px2rem(108);
}
.kcnr-btn8{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(957);
  right:px2rem(108);
}
.kcnr-btn9{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(1228);
  left:px2rem(108);
}
.kcnr-btn10{
  cursor: pointer;
  width:px2rem(168);
  height:px2rem(50);
  display: block;
  position: absolute;
  bottom:px2rem(1228);
  right:px2rem(108);
}