@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

.banner {
  width: 16rem;
  height: 4.0533333333rem;
  padding-top: 10.048rem;
  background: url("../images/banner.png") 0 0/16rem 14.1013333333rem no-repeat; }

.banner-list {
  margin-left: 0.4266666667rem; }

.banner-list li {
  width: 7.104rem;
  line-height: 1.4933333333rem;
  background: #4c5cd5;
  border-radius: 0.128rem;
  color: #ffffff;
  font-size: 0.64rem;
  text-align: center;
  margin-bottom: 0.4266666667rem; }

.banner-list li:nth-child(2) {
  margin-bottom: 0; }

.xx-list li img {
  display: block;
  width: 7.2533333333rem;
  position: absolute;
  top: -0.8533333333rem;
  right: 0.8533333333rem; }

.xx-list li {
  padding: 0.8533333333rem;
  border: 1px solid #4c5cd5;
  line-height: 0.7893333333rem;
  font-size: 0.512rem;
  width: 13.44rem;
  margin: 1.7066666667rem auto 0;
  position: relative;
  color: #666666;
  background: #ffffff; }

.xx-list li b span {
  color: #4c5cd5; }

.xx-list li:after {
  width: 15.1466666667rem;
  height: 100%;
  position: absolute;
  right: -0.4266666667rem;
  bottom: -0.4266666667rem;
  background: #edeefb;
  content: " ";
  display: block;
  z-index: -1; }

.form {
  width: 16rem;
  height: 27.008rem;
  padding-top: 5.888rem;
  background: url("../images/formbg.png") 0 0/16rem 32.896rem no-repeat; }

.form1 {
  width: 16rem;
  height: 10.0266666667rem;
  padding-top: 5.4186666667rem;
  margin-top: 0.8533333333rem;
  background: url("../images/formbg1.png") 0 0/16rem 15.4453333333rem no-repeat; }

.bg {
  margin-bottom: 1.536rem;
  width: 16rem;
  height: 23.7226666667rem;
  background: url("../images/bg.png") 0 0/16rem 23.7226666667rem no-repeat; }

.form-title {
  font-weight: bold;
  font-size: 0.5973333333rem;
  color: #333333;
  padding-left: 0.8533333333rem; }

.form-tips {
  text-align: center;
  margin: 0.4266666667rem auto;
  font-size: 0.512rem;
  color: #999999; }

.input-group input {
  display: none; }

.input-group {
  margin: 0.4266666667rem auto 1.0666666667rem;
  padding-left: 0.8533333333rem; }

.input-group input + label {
  border-radius: 0.128rem;
  padding: 0.256rem 0.4693333333rem;
  border: 1px solid #333333;
  color: #666666;
  font-size: 0.512rem; }

.input-group input:checked + label {
  background: #4c5cd5;
  color: #ffffff;
  border-color: #4c5cd5; }

.input-form {
  width: 12.9066666667rem;
  height: 1.4933333333rem;
  border: 1px solid #4c5cd5;
  display: block;
  margin: 0 auto 0.4053333333rem;
  font-size: 0.512rem;
  padding-left: 0.4266666667rem;
  border-radius: 0.128rem; }

.btn-form {
  border: 1px solid #4c5cd5;
  width: 13.3333333333rem;
  line-height: 1.4933333333rem;
  height: 1.4933333333rem;
  background: #4c5cd5;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 0.64rem;
  border-radius: 0.128rem; }

.btn-form1 {
  border: 1px solid #f7ae0a;
  width: 13.3333333333rem;
  line-height: 1.4933333333rem;
  height: 1.4933333333rem;
  background: #f7ae0a;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 0.64rem;
  border-radius: 0.128rem; }

.select-form {
  padding-left: 0.4266666667rem;
  margin: 0 auto 0.4053333333rem;
  border: 1px solid #4c5cd5;
  background: #ffffff;
  width: 13.3333333333rem;
  line-height: 1.4933333333rem;
  height: 1.4933333333rem;
  text-align: center;
  display: block;
  font-size: 0.512rem;
  border-radius: 0.128rem; }

.title {
  width: 12.0106666667rem;
  height: 0.9386666667rem;
  margin: auto;
  background: url("../images/titl.png") 0 0/12.0106666667rem 0.9386666667rem; }

.title1 {
  width: 10.944rem;
  height: 1.7706666667rem;
  margin: 1.7066666667rem auto 0.8533333333rem;
  background: url("../images/title2.png") 0 0/10.944rem 1.7706666667rem; }

.blobk-nbsp {
  width: 15.1466666667rem;
  margin: auto;
  height: 0.4266666667rem; }

footer {
  line-height: 2.1333333333rem;
  text-align: center;
  background-color: #edeefb;
  color: #999999;
  font-size: 0.512rem; }

.info {
  line-height: 0.7893333333rem;
  padding: 3.84rem 0.4266666667rem 0;
  width: 15.1466666667rem;
  height: 10.2613333333rem;
  font-size: 0.512rem;
  color: #666666;
  margin-top: 1.28rem;
  background: url("../images/infobg.png") 0 0/16rem 14.1013333333rem no-repeat; }

.info b span {
  color: #4c5cd5; }

.info-btn {
  width: 7.7866666667rem;
  line-height: 1.4933333333rem;
  height: 1.4933333333rem;
  background: #4c5cd5;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 0.64rem;
  border-radius: 0.128rem; }

.ma-top-80 {
  margin-top: 1.28rem; }

.wt-list {
  margin-left: 0.4266666667rem;
  margin-top: 1.28rem;
  margin-bottom: 0.64rem; }

.wt-list li {
  margin-bottom: 0.7466666667rem;
  padding-left: 1.0026666667rem;
  font-size: 0.512rem;
  color: #666666;
  width: 5.9733333333rem;
  padding-top: 0.64rem;
  height: 1.984rem;
  background: url("../images/listbg.png") 0 0/6.976rem 2.624rem no-repeat;
  float: left;
  margin-right: 0.8106666667rem;
  position: relative; }

.wt-list li b {
  color: #4c5cd5; }

.wt-list li:nth-child(2n) {
  margin-right: 0; }

.wt-list li a {
  padding-top: 0.4266666667rem;
  text-align: center;
  display: block;
  position: absolute;
  right: -0.4266666667rem;
  top: -0.512rem;
  font-size: 0.5333333333rem;
  width: 2.2613333333rem;
  height: 1.8346666667rem;
  border-radius: 100%;
  background: #4c5cd5;
  color: #ffffff; }

.wt-list li:hover a {
  background: #fd5757; }

.li-list li {
  margin-bottom: 0.4266666667rem;
  margin-left: 0.4266666667rem;
  float: left;
  width: 7.36rem;
  height: 5.44rem;
  border: 1px solid #4c5cd5; }

.li-list li .li-title {
  padding-top: 0.5546666667rem;
  color: #4c5cd5;
  font-size: 0.512rem;
  font-weight: bold;
  text-align: center; }

.y-line {
  width: 1.3653333333rem;
  height: 0.0853333333rem;
  background: #f7ae0a;
  margin: 0.3626666667rem auto; }

.r-line {
  width: 1.3653333333rem;
  height: 0.0853333333rem;
  background: #f84b80;
  margin: 0.3626666667rem auto; }

.b-line {
  width: 1.3653333333rem;
  height: 0.0853333333rem;
  background: #47c0d5;
  margin: 0.3626666667rem auto; }

.g-line {
  width: 1.3653333333rem;
  height: 0.0853333333rem;
  background: #15816a;
  margin: 0.3626666667rem auto; }

.li-list li .li-info {
  color: #666666;
  font-size: 0.512rem;
  width: 6.2933333333rem;
  margin: auto;
  text-align: justify;
  line-height: 0.768rem; }

.li-list {
  margin-bottom: 0.4266666667rem; }

.xlts-btn {
  width: 9.1733333333rem;
  line-height: 1.4933333333rem;
  height: 1.4933333333rem;
  background: #4c5cd5;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
  font-size: 0.64rem;
  border-radius: 0.128rem; }

.mx {
  position: relative;
  width: 15.1466666667rem;
  height: 16.8106666667rem;
  margin: 1.7066666667rem auto 0.8533333333rem;
  background: url("../images/mx.png") 0 0/15.1466666667rem 16.8106666667rem; }

.mx-btn-1 {
  width: 2.8373333333rem;
  height: 1.0666666667rem;
  display: block;
  position: absolute;
  top: 6.848rem;
  left: 1.0453333333rem; }

.mx-btn-2 {
  width: 2.8373333333rem;
  height: 1.0666666667rem;
  display: block;
  position: absolute;
  top: 6.848rem;
  left: 6.1653333333rem; }

.mx-btn-3 {
  width: 2.8373333333rem;
  height: 1.0666666667rem;
  display: block;
  position: absolute;
  top: 6.848rem;
  left: 11.264rem; }

.mx-btn-4 {
  width: 2.8373333333rem;
  height: 1.0666666667rem;
  display: block;
  position: absolute;
  top: 11.264rem;
  left: 3.6053333333rem; }

.mx-btn-5 {
  width: 2.8373333333rem;
  height: 1.0666666667rem;
  display: block;
  position: absolute;
  top: 11.264rem;
  left: 8.7253333333rem; }

.form-title1 {
  width: 16rem;
  height: 8.0853333333rem;
  background: url("../images/form-title.png") 0 0/16rem 8.0853333333rem no-repeat; }

.form3 {
  padding: 0.8533333333rem 0;
  width: 16rem;
  background: #4c5cd5; }

/*# sourceMappingURL=hnsf.css.map */
