@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width: 16rem;
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.nmjh-content{
  position: absolute;
  width:px2rem(750);
  height:100%;
  background: -webkit-linear-gradient(right top, #b74eff , #5978fb ,#b74eff); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left bottom ,#b74eff , #5978fb ,#b74eff); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left bottom , #b74eff , #5978fb ,#b74eff); /* Firefox 3.6 - 15 */
  background: linear-gradient(to left bottom ,#b74eff , #5978fb ,#b74eff); /* 标准的语法 */
}
.nmjh{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:px2rem(730);
  height:px2rem(367);
  padding-top: px2rem(620);
  background:  url("../images/nmjh.png") 0 0 /px2rem(730) px2rem(987) no-repeat;
  margin: auto;
}
.nmjh-input{
  width:px2rem(610);
  height:px2rem(68);
  border-radius:px2rem(68);
  display: block;
  margin:px2rem(30) auto;
  outline:none;
  border: none;
  color: #000;
  font-size: px2rem(24);
  padding-left: px2rem(20);
  box-sizing: border-box;
  background:#eeeeee;
}
.nmjh-input::placeholder{
  color: #999999;
}
.nmjh-btn{
  cursor: pointer;
  width:px2rem(610);
  height:px2rem(68);
  line-height:px2rem(68);
  border-radius:px2rem(68);
  display: block;
  margin:px2rem(30) auto;
  outline:none;
  border: none;
  background: #fce859;
  font-weight: bold;
  font-size: px2rem(30);
  text-align: center;
  box-sizing: border-box;
  color: #915ffd;
  -moz-box-shadow:px2rem(4) px2rem(4) 0 #ffb410;
  -webkit-box-shadow:px2rem(4) px2rem(4) 0 #ffb410;
  box-shadow:px2rem(4) px2rem(4) 0 #ffb410;
}