@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width:px2rem(750);
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.footer{
  font-size: px2rem(16);
  color: #666666;
  text-align: center;
  background: #efefef;
  padding: px2rem(20) 0;
  line-height: px2rem(26);
}
.header{
  position: fixed;
  left:0;
  right:0;
  top:0;
  margin:auto;
  z-index: 9999;
  width:px2rem(500);
  height:px2rem(80);
  padding-left: px2rem(250);
  background: #000000 url("../images/logo.png") px2rem(20) center /px2rem(222) px2rem(57) no-repeat;
}
.header img{
  height:px2rem(24);
  display: block;
  padding-top: px2rem(32);
}

.right-suspension{
  z-index: 999999;
  width: px2rem(100);
  position: fixed;
  bottom: px2rem(80);
  right:px2rem(10);
}
.right-suspension img{
  display: block;
  margin: auto;
  padding-bottom: px2rem(6);
}
.rightserve1 img{
  width: px2rem(100) !important;
}
.rightserve img,.rightserve2 img{
  width: px2rem(80);
}
.gy-banner img{
  display: block;
  width:px2rem(750);
}
.jyqj{
  padding-top: px2rem(50);
}
.gysj-title-content{
  padding: px2rem(20) 0;
  text-align: center;
}
.gysj-title{
  text-align: left;
  position: relative;
  display: inline-block;
  padding-left: px2rem(36);
  font-weight: bold;
  font-size: px2rem(36);
  color: #ffffff;
}
.gysj-title span{
  color: #f5bf00;
}
.gysj-title-en{
  max-width:px2rem(620);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  font-weight: normal;
  font-size:px2rem(18);
  color: #7640d4;
  text-transform: uppercase;
}
.gysj-title-en span{
  color: #f5bf00;
}
.title-b:before{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  margin:auto;
  content: " ";
  display: block;
  width:px2rem(112);
  height:px2rem(106);
  background: url("../images/k.png") 0 0 /px2rem(112) px2rem(106);
}
.jyqj-info{
  width:px2rem(710);
  margin:px2rem(20) auto 0;
  font-size: px2rem(18);
  color: #ffffff;
  line-height:px2rem(36);
}
.jyqj-line{
  width:px2rem(750);
  height: px2rem(320);
  background: url("../images/jyqj.png") center center / px2rem(750) px2rem(320) no-repeat;
}
.jyqj-btn{
  display: block;
  width:px2rem(275);
  height:px2rem(60);
  background: #7640d4;
  text-align: center;
  color: #ffffff;
  margin: auto;
  border-radius:px2rem(4);
  line-height:px2rem(60);
  font-size: px2rem(23);
  font-weight: bold;
}
.margin-top-100{
  margin-top: px2rem(-10);
}
.bodybg{
  width:px2rem(750);
  margin: auto;
  background:#101525 url("../images/bodybg.png") 0 px2rem(2160) /px2rem(750) px2rem(553) no-repeat;

}
.ys-list{
  width:px2rem(710);
  height:px2rem(794);
  margin:px2rem(48) auto;
  background: url("../images/ys.png") 0 0 /px2rem(710) px2rem(794) no-repeat;
}
.ys{
  margin: px2rem(86) auto;
}
.jsfw{
  margin-top: px2rem(60);
}
.jsfw-list{
  width:px2rem(710);
  height:px2rem(820);
  margin:px2rem(48) auto;
  background: url("../images/jyfw.png") 0 0 /px2rem(710) px2rem(820) no-repeat;
}
.sj-title{
  padding-left: px2rem(20);
  margin:px2rem(60) auto px2rem(40);
  font-size: px2rem(24);
  color: #7640d4;

}
.sj-title b{
  display: block;
  color: #f5bf00;
  font-size: px2rem(36);
}
.form1-title{
  color: #f5bf00;
  font-weight: bold;
  text-align: center;
  font-size: px2rem(36);
}
.input-group input{
  display: block;
  margin:px2rem(30) auto;
  width:px2rem(560);
  height: px2rem(63);
  font-size: px2rem(21);
  padding-left:px2rem(16);
  outline:none;
  background: transparent;
  border-radius:px2rem(8);
  border: 1px solid #999999;
}
.float-form-btn{
  width:px2rem(576);
}
.kc{
  width:px2rem(750);
  height:px2rem(615);
  margin:px2rem(48) auto;
  background: url("../images/kc.png") 0 0 /px2rem(750) px2rem(615) no-repeat;
}
.js .gysj-title{
  padding-right: px2rem(35);
  text-align: right;
}
.js .gysj-title:before{
  left: auto;
  right:0;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* Internet Explorer */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
  -o-transform:rotate(180deg); /* Opera */
}
.js-list{
  width:px2rem(749);
  height:px2rem(1060);
  margin:px2rem(48) auto;
  background: url("../images/js-list.png") 0 0 /px2rem(749) px2rem(1060) no-repeat;
}
.js{
  margin-top: px2rem(60);
}
.xy-ctrl{
  margin-top: px2rem(42);
}
.xy-ctrl li{
  cursor: pointer;
  width:px2rem(148);
  height:px2rem(48);
  line-height:px2rem(48);
  border: 1px solid #7640d4;
  color: #7640d4;
  font-weight: bold;
  text-align: center;
  font-size: px2rem(24);
  float: left;
  margin-right: px2rem(20);
}
.xy-ctrl li.on{
  background: #7640d4;
  color: #ffffff;
}
.yx-img{
  width:px2rem(750);
  overflow-x: auto;
  margin: px2rem(35) auto px2rem(50);
}
.yx-img img{
  height:px2rem(600);
  display: none;
}
.yx-img img:nth-child(2){
  display: block;
}
.xy{
  margin-top: px2rem(75);
}
.xy-padding{
  padding-left: px2rem(20);
}
.form4-content{
  width:px2rem(390);
  height:px2rem(405);
  padding-left: px2rem(360);
  margin:px2rem(48) auto;
  background: #ffffff url("../images/formbg.png") 0 0 /px2rem(441) px2rem(406) no-repeat;
}
.form4-content input{
  padding-left: px2rem(15);
  width:px2rem(345);
  height:px2rem(56);
  border: 1px solid #999999;
  border-radius: 6px;
  display: block;
  margin:0 auto px2rem(20);
}
.form4-content .title {
  padding-bottom: px2rem(28);
  padding-top: px2rem(38);
  font-size: px2rem(30);
  font-weight: bold;
  color: #7640d4;
  text-align: center;
}
.form4-content .jyqj-btn{
  width:px2rem(360);
}
.jxhj-img{
  width:px2rem(750);
  display: block;
  margin: px2rem(20) auto px2rem(40);
}
.app-img{
  width:px2rem(710);
  height:px2rem(553);
  margin:px2rem(40) auto;
  background:  url("../images/app.png") 0 0 /px2rem(710) px2rem(553) no-repeat;
}
.app{
  margin-bottom: px2rem(80);
}