@charset "UTF-8";
body {
  width: 16rem;
  margin: 0 auto;
  padding: 0; }

/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1; }

.font_yahei {
  font-family: "Microsoft YaHei"; }

.bodybg {
  background: #211b3d; }

.footer {
  font-size: 0.3413333333rem;
  color: #666666;
  text-align: center;
  background: #efefef;
  padding: 0.4266666667rem 0;
  line-height: 0.5546666667rem; }

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 9999;
  width: 10.6666666667rem;
  height: 1.7066666667rem;
  padding-left: 5.3333333333rem;
  background: #1a191f url("../images/logo.png") 0.4266666667rem center/4.736rem 1.216rem no-repeat; }

.header img {
  height: 0.512rem;
  display: block;
  padding-top: 0.6826666667rem; }

.right-suspension {
  z-index: 999999;
  width: 2.1333333333rem;
  position: fixed;
  bottom: 1.7066666667rem;
  right: 0.2133333333rem; }

.right-suspension img {
  display: block;
  margin: auto;
  padding-bottom: 0.128rem; }

.rightserve1 img {
  width: 2.1333333333rem !important; }

.rightserve img, .rightserve2 img {
  width: 1.7066666667rem; }

.icon-title {
  display: block;
  margin: auto;
  background-image: url("../images/title.png");
  background-size: 14.336rem 4.096rem; }

.bg-title1 {
  width: 13.7813333333rem;
  height: 1.3653333333rem;
  background-position: 0 -1.3653333333rem; }

.bg-title2 {
  width: 6.016rem;
  height: 1.3653333333rem;
  background-position: 0 -2.7306666667rem; }

.bg-title3 {
  width: 14.336rem;
  height: 1.3653333333rem;
  background-position: -0 -0; }

.zl-list {
  margin-top: 1.1733333333rem;
  margin-left: 0.5333333333rem;
  margin-bottom: 1.1733333333rem; }

.zl-list li {
  width: 7.168rem;
  height: 7.232rem;
  float: left;
  margin-right: 0.64rem;
  position: relative;
  margin-bottom: 0.64rem; }

.zl-list li:nth-child(2n) {
  margin-right: 0; }

.zl-list li img {
  display: block;
  width: 7.168rem;
  height: 7.232rem; }

.zl-list li .title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 7.168rem;
  height: 1.1733333333rem;
  line-height: 1.1733333333rem;
  background: #5f1ea0;
  color: #ffffff;
  font-size: 0.4693333333rem;
  font-weight: lighter;
  text-align: center; }

.zl-list li:hover .title {
  background: #ea3154; }

.sy-btn {
  width: 7.2533333333rem;
  height: 1.664rem;
  line-height: 1.664rem;
  display: block;
  margin: auto;
  color: #ffffff;
  text-align: center;
  font-size: 0.64rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #7841da, #e93155);
  background: -o-linear-gradient(right, #7841da, #e93155);
  background: -moz-linear-gradient(right, #7841da, #e93155);
  background: linear-gradient(to right, #7841da, #e93155);
  -moz-box-shadow: 0px 0.2346666667rem 0px #542d85;
  -webkit-box-shadow: 0px 0.2346666667rem 0px #542d85;
  box-shadow: 0px 0.2346666667rem 0px #542d85;
  border-radius: 1.664rem; }

.shx-list li {
  position: relative;
  width: 4.7786666667rem;
  height: 3.84rem;
  float: left;
  background: #ffffff;
  margin-right: 0.32rem; }

.shx-list {
  margin: 0.96rem 0 0.96rem 0.4266666667rem; }

.shx-list li:last-child {
  margin-right: 0; }

.shx-list li .title {
  background: #ea3154;
  width: 4.7786666667rem;
  height: 1.024rem;
  line-height: 1.024rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 0.4693333333rem; }

.shx-list li .info {
  padding-top: 0.2133333333rem;
  width: 4.7786666667rem;
  color: #333333;
  text-align: center;
  font-size: 0.384rem; }

.shx-btn {
  position: absolute;
  bottom: 0.4266666667rem;
  left: 0;
  right: 0;
  width: 3.2rem;
  height: 0.8533333333rem;
  line-height: 0.8533333333rem;
  display: block;
  margin: auto;
  color: #ffffff;
  text-align: center;
  font-size: 0.3413333333rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #7841da, #e93155);
  background: -o-linear-gradient(right, #7841da, #e93155);
  background: -moz-linear-gradient(right, #7841da, #e93155);
  background: linear-gradient(to right, #7841da, #e93155);
  -webkit-box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  border-radius: 0.128rem; }

.shx {
  margin-top: 1.7066666667rem; }

.njkb-content {
  width: 15.1466666667rem;
  margin: 0.8533333333rem auto;
  height: 10.6666666667rem;
  background: #5f1ea0;
  border: 0.2133333333rem solid #401d6f; }

.topRec_List dl, .maquee {
  width: 95%;
  overflow: hidden;
  margin: 0 auto; }

.topRec_List dd {
  font-size: 0.384rem;
  font-weight: bold;
  float: left;
  text-align: center;
  color: #ffffff;
  height: 0.9813333333rem;
  line-height: 0.9813333333rem; }

.topRec_List dl dd:nth-child(1) {
  width: 28%; }

.topRec_List dl dd:nth-child(2) {
  width: 22%; }

.topRec_List dl dd:nth-child(3) {
  width: 28%; }

.topRec_List dl dd:nth-child(4) {
  width: 22%; }

.maquee {
  height: 9.3226666667rem;
  background: #ffffff; }

.topRec_List ul {
  width: 100%;
  height: 9.3226666667rem; }

.topRec_List li {
  width: 100%;
  height: 0.6826666667rem;
  line-height: 0.6826666667rem;
  text-align: center;
  font-size: 0.32rem;
  color: #211b3d;
  border-bottom: 0.1706666667rem solid #5f1ea0; }

/*.topRec_List li:nth-child(2n) {
	background:#077cd0
}
*/
.topRec_List li div {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.topRec_List li div:nth-child(1) {
  width: 28%; }

.topRec_List li div:nth-child(2) {
  width: 22%; }

.topRec_List li div:nth-child(3) {
  width: 28%; }

.topRec_List li div:nth-child(4) {
  width: 22%;
  font-weight: bold;
  color: #ea3154; }

.yxgw {
  margin-top: 1.8133333333rem; }

.bg {
  margin-top: 2.1333333333rem;
  width: 16rem;
  height: 54.464rem;
  background: url("../images/bg.png") 0 0/16rem 54.464rem no-repeat; }

.bg-btn-1 {
  width: 7.2106666667rem;
  height: 1.8986666667rem;
  border-radius: 1.8986666667rem;
  display: block;
  position: absolute;
  right: 0;
  left: 0.1066666667rem;
  margin: auto;
  bottom: 25.0666666667rem; }

.formbg {
  position: relative;
  width: 16rem;
  height: 77.3973333333rem;
  background: url("../images/formbg.png") 0 0/16rem 77.3973333333rem no-repeat; }

.form1 {
  padding-top: 2.7733333333rem; }

.form1 input {
  padding-left: 0.4266666667rem;
  width: 9.1733333333rem;
  height: 2.0266666667rem;
  background: #ffffff;
  border: none;
  outline: none;
  display: block;
  margin: 0 auto 0.896rem;
  font-size: 0.832rem;
  border-radius: 0.96rem; }

.form-btn {
  width: 9.6rem;
  height: 2.0266666667rem;
  line-height: 2.0266666667rem;
  display: block;
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-size: 0.832rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #7841da, #e93155);
  background: -o-linear-gradient(right, #7841da, #e93155);
  background: -moz-linear-gradient(right, #7841da, #e93155);
  background: linear-gradient(to right, #7841da, #e93155);
  -webkit-box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.32rem rgba(0, 0, 0, 0.2);
  border-radius: 0.96rem; }

#certify .swiper-container {
  padding-bottom: 1.28rem; }

#certify .swiper-slide {
  width: 6.8266666667rem; }

#certify .swiper-slide img {
  width: 6.8266666667rem;
  display: block; }

#certify .swiper-button-prev, #certify .swiper-container-rtl .swiper-button-next {
  background-image: url("../images/right.png");
  left: 7.04rem;
  right: auto; }

#certify .swiper-button-next, #certify .swiper-container-rtl .swiper-button-prev {
  background-image: url("../images/left.png");
  right: 7.04rem;
  left: auto; }

#certify .swiper-button-next, #certify .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 0rem;
  width: 0.64rem;
  height: 0.64rem;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 0.64rem 0.64rem;
  -webkit-background-size: 0.64rem 0.64rem;
  background-size: 0.64rem 0.64rem;
  background-position: center;
  background-repeat: no-repeat; }

#certify .swiper-container-horizontal > .swiper-pagination-bullets, #certify .swiper-pagination-custom, #certify .swiper-pagination-fraction {
  bottom: -0.4266666667rem; }

.bottom {
  position: relative;
  width: 16rem;
  height: 49.1733333333rem;
  background: url("../images/bottom.png") 0 0/16rem 49.1733333333rem no-repeat; }

#certify {
  margin-bottom: 1.0666666667rem; }

.qz {
  margin: 1.0666666667rem; }

.zl {
  margin-top: 1.4506666667rem; }

.bottom-form {
  padding-top: 9.1733333333rem;
  margin-left: 0.4266666667rem; }

.bottom-form input {
  padding-left: 0.3413333333rem;
  width: 7.04rem;
  font-size: 0.64rem;
  height: 1.792rem;
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 0.0853333333rem;
  margin-bottom: 0.768rem;
  display: block; }

.bottom-form-btn {
  width: 7.3813333333rem;
  height: 1.792rem;
  line-height: 1.792rem;
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 0.64rem;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #7841da, #e93155);
  background: -o-linear-gradient(right, #7841da, #e93155);
  background: -moz-linear-gradient(right, #7841da, #e93155);
  background: linear-gradient(to right, #7841da, #e93155);
  -moz-box-shadow: 0px 0.2346666667rem 0px #542d85;
  -webkit-box-shadow: 0px 0.2346666667rem 0px #542d85;
  box-shadow: 0px 0.2346666667rem 0px #542d85;
  border-radius: 0.0853333333rem;
  display: block; }

.bottom-btn-1 {
  width: 2.6026666667rem;
  height: 2.6026666667rem;
  border-radius: 100%;
  display: block;
  position: absolute;
  right: 1.024rem;
  top: 8.96rem; }

.bottom-btn-2 {
  width: 7.2106666667rem;
  height: 1.8986666667rem;
  border-radius: 1.8986666667rem;
  display: block;
  position: absolute;
  right: 0.2133333333rem;
  left: 0;
  margin: auto;
  bottom: 15.0613333333rem; }

/*# sourceMappingURL=sy.css.map */
