@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width:px2rem(750);
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.qustion-title{
  color: #333333;
  padding-left: px2rem(20);
  font-size: px2rem(26);
  padding-top: px2rem(20);
  padding-bottom: px2rem(10);
}
.input-group input{
    display: none;
}
.input-group input+label{
  margin:px2rem(20) auto;
  display: block;
  width:px2rem(670);
  height:px2rem(50);
  padding-left: px2rem(70);
  font-size: px2rem(24);
  position: relative;
  color: #999999;
}
.input-group input:checked+label{
  font-weight: bold;
  color: #743cd8;
}
.input-group input+label:before{
  content: " ";
  width:px2rem(20);
  height:px2rem(20);
  border-radius: 100%;
  background: #999999;
  position: absolute;
  left:px2rem(40);
  top:px2rem(6);
}
.input-group input:checked+label:before{
  background: #743cd8;
}
.form-btn{
  height:px2rem(93);
  width:px2rem(452);
  display: block;
  margin: auto ;
}
.result{
  line-height: px2rem(80);
  font-size: px2rem(28);
  text-align: center;
}
.result-title{
  margin: px2rem(20) auto;
  padding-left: px2rem(20);
  font-size: px2rem(24);
  background: #eeeeee;
  line-height: px2rem(60);
}
.info{
  line-height: px2rem(36);
  width:px2rem(710);
  margin:0 auto px2rem(60);
  text-align: justify;
  font-size: px2rem(22);
}
.result-content{
  display: none;
}
.title1{
  width:px2rem(750);
  height:px2rem(335);
  background: url("../images/title.png") 0 0 /px2rem(750) px2rem(335) no-repeat;
}
.bg1{
  padding: 0 px2rem(70) 1px px2rem(70);
  width:px2rem(610);
  background:#663cd9 url("../images/bg1.png") 0 0 /px2rem(750) px2rem(505);
}
.btn-content{
  width:px2rem(750);
  height:px2rem(176);
  padding-top: px2rem(35);
  background:#663cd9 url("../images/btn.png") 0 0 /px2rem(750) px2rem(211) no-repeat;
}
.title2{
  width:px2rem(750);
  height:px2rem(216);
  background:#663cd9 url("../images/title2.png") 0 0 /px2rem(750) px2rem(216) no-repeat;
}
.title3{
  padding-top: px2rem(10);
  width:px2rem(750);
  height:px2rem(93);
  background:#663cd9 url("../images/title3.png") 0 0 /px2rem(750) px2rem(103) no-repeat;
}
.res1{
  width:px2rem(293);
  height:px2rem(76);
  margin: auto;
  background: url("../images/res2.png") 0 0 /px2rem(293) px2rem(76) no-repeat;
}
.res2{
  width:px2rem(292);
  height:px2rem(76);
  margin: auto;
  background: url("../images/res4.png") 0 0 /px2rem(292) px2rem(76) no-repeat;
}
.res3{
  width:px2rem(292);
  height:px2rem(74);
  margin: auto;
  background: url("../images/res1.png") 0 0 /px2rem(292) px2rem(74) no-repeat;
}
.res4{
  width:px2rem(294);
  height:px2rem(75);
  margin: auto;
  background: url("../images/res3.png") 0 0 /px2rem(294) px2rem(75) no-repeat;
}
.js{
  width:px2rem(750);
  background:#663cd9 url("../images/js.png") 0 0 /px2rem(750) px2rem(324);
}
.qt{
  width:px2rem(750);
  height:px2rem(339);
  background:#663cd9 url("../images/qt.png") 0 0 /px2rem(750) px2rem(339) no-repeat;
}
.qt-c{
  padding-top: 1px;
  width:px2rem(750);
  background:#663cd9 url("../images/qt-c.png") 0 0 /px2rem(750) px2rem(146);
}
.con1-title{
  width:px2rem(139);
  height:px2rem(36);
  margin:px2rem(36) 0 px2rem(26);
  background: url("../images/res2.png") 0 0 /px2rem(139) px2rem(36) no-repeat;
}
.con2-title{
  width:px2rem(146);
  height:px2rem(36);
  margin:px2rem(36) 0 px2rem(26);
  background: url("../images/res4.png") 0 0 /px2rem(146) px2rem(38) no-repeat;
}
.con3-title{
  width:px2rem(142);
  height:px2rem(36);
  margin:px2rem(36) 0 px2rem(26);
  background: url("../images/res1.png") 0 0 /px2rem(142) px2rem(36) no-repeat;
}
.con4-title{
  width:px2rem(141);
  height:px2rem(36);
  margin:px2rem(36) 0 px2rem(26);
  background: url("../images/res3.png") 0 0 /px2rem(141) px2rem(36) no-repeat;
}
.con{
  width:px2rem(525);
  margin: auto;
  padding-bottom: px2rem(50);
  font-size: px2rem(24);
  color: #ffffff;
  border-bottom: px2rem(2) dashed #ffffff;
}
.con4{
  border-bottom: none;
}
.con b{
  color: #fcea2a;
}
.bottom{
  width:px2rem(750);
  height:px2rem(146);
  background:#663cd9 url("../images/bottom.png") 0 0 /px2rem(750) px2rem(146) no-repeat;
}
.cons{
  width:px2rem(525);
  margin: auto;
  font-size: px2rem(24);
  color: #ffffff;
}
.cons b{
  color: #fcea2a;
}
.cons .con1-title,.cons .con2-title,.cons .con3-title,.cons .con4-title{
  display: none;
}