@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width:px2rem(750);
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.qustion-title{
  padding-left: px2rem(20);
  font-size: px2rem(24);
  padding-top: px2rem(20);
  padding-bottom: px2rem(10);
}
.qustion-title span{
  padding-right: px2rem(10);
  font-style: italic;
  font-size: px2rem(28);
}
.input-group input{
    display: none;
}
.input-group input+label{
  margin:px2rem(20) auto;
  display: block;
  width:px2rem(670);
  height:px2rem(50);
  font-size: px2rem(22);
  text-align: center;
  line-height: px2rem(50);
  border-radius: px2rem(50);
  border: 1px solid #fb553b;
}
.input-group input:checked+label{
  background: #fb553b;
  color: #ffffff;
}
.form-btn{
  background: #2ba245;
  line-height: px2rem(80);
  height:px2rem(80);
  width:px2rem(670);
  border-radius: px2rem(80);
  text-align: center;
  color: #ffffff;
  font-size: px2rem(28);
  display: block;
  margin:px2rem(60) auto;
}
.result{
  line-height: px2rem(80);
  font-size: px2rem(28);
  text-align: center;
}
.result-title{
  margin: px2rem(20) auto;
  padding-left: px2rem(20);
  font-size: px2rem(24);
  background: #eeeeee;
  line-height: px2rem(60);
}
.info{
  line-height: px2rem(36);
  width:px2rem(710);
  margin:0 auto px2rem(60);
  text-align: justify;
  font-size: px2rem(22);
}