<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <title>首页</title>
    <script src="../../assets/js/rem.js"></script>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/plugins/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../assets/css/styleManage.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="head">
        <h1>中鹏培训</h1>
        <div class="menu">
            <span id="menuContorl" onclick="app.showMenu()"></span>
            <!-- 右侧导航 -->
            <div class="menuAside">
                <div class="menuAside-inner">
                    <dl>
                        <dt>导  航<i>MENU</i><span onclick="app.hideMenu()"></span></dt>
                        <dd><a href="">学院首页</a></dd>
                        <dd><a href="">课程中心</a></dd>
                        <dd><a href="">报考中心</a></dd>
                        <dd><a href="">学院动态</a></dd>
                        <dd><a href="">学员天地</a></dd>
                        <dd><a href="">更多</a></dd>
                    </dl>
                    <ul>
                        <li><a href="">官网首页</a></li>
                        <li><a href="">设计艺术学院</a></li>
                        <li><a href="">管理学院</a></li>
                        <li><a href="">IT学院</a></li>
                    </ul>
                    <div class="wechat-code">
                        <img src="../../assets/images/home/qr-code.png">
                        关注中鹏
                    </div>
                </div>
            </div>
            <!-- 右侧导航 end -->
        </div>
    </div>
</div>
<!-- header end -->
<!---subpage nav-->
<div class="manage_list_nav swiper-container" id="manage_list_nav">
<ul class="swiper-wrapper">
    <li class="swiper-slide"><a>全部</a></li>
    <li class="swiper-slide nav_select"><a>图文热点</a></li>
    <li class="swiper-slide"><a>活动播报</a></li>
</ul>
</div>
<!--subpage nav end-->

<!--list-->
<div class="service_list">
    <ul>
        <li>
                <a href="">
                <img src="../../assets/images/manage/service.png" />
                <div>
                    <h3>中鹏教育2017年终回顾：不忘初心，砥砺前行！</h3>
                    <p>在临近新年，祝福2018年的同时，不禁感叹时光荏苒。中鹏教育已经在艺术教育领域默默余年！</p>
                </div>
                </a>
        </li>
        <li>
                <a href="">
                <img src="../../assets/images/manage/service.png" />
                <div>
                    <h3>中鹏教育2017年终回顾：不忘初心，砥砺前行！</h3>
                    <p>在临近新年，祝福2018年的同时，不禁感叹时光荏苒。中鹏教育已经在艺术教育领域默默余年！</p>
                </div>
                </a>
        </li>
        <li>
                <a href="">
                <img src="../../assets/images/manage/service.png" />
                <div>
                    <h3>中鹏教育2017年终回顾：不忘初心，砥砺前行！</h3>
                    <p>在临近新年，祝福2018年的同时，不禁感叹时光荏苒。中鹏教育已经在艺术教育领域默默余年！</p>
                </div>
                </a>
        </li>
    </ul>
</div>
<!--list end-->
<!-- footer -->
<div class="footer">
    <div class="footer-links flex flex-items">
        <ul>
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">企业文化</a></li>
            <li><a href="">加入我们</a></li>
        </ul>
        <div class="footer-contact">
            <a href="tel:4009306618">
                <i class="icon-phone"></i>
                <span>联系号码  400-930-6618</span>
            </a>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2008-2018   深圳市中鹏教育科技股份有限公司<br>
        ALL RIGHT RESERVED 备案号:粤ICP备09069122号-25
    </p>
</div>
<!-- footer end-->
<script src="../../assets/plugins/jquery-1.10.1.min.js"></script>
<script src="../../assets/plugins/swiper/swiper.min.js"></script>
<script src="../../assets/js/common.js"></script>
<script>
    $(function () {
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
        });
        var near_course = new Swiper('#near_course', {
            slidesPerView : 2.5,
			spaceBetween : 10,
        });
        var near_course = new Swiper('#manage_list_nav', {
            slidesPerView : 4.5,
            spaceBetween : 10,
        });
    })
</script>
</body>
</html>