<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <title>首页</title>
    <script src="../../assets/js/rem.js"></script>
    <link rel="stylesheet" href="../../assets/css/common.css">
    <link rel="stylesheet" href="../../assets/plugins/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../assets/css/styleManage.css">
</head>
<body>
<!-- header -->
<div class="header">
    <div class="head">
        <h1>中鹏培训</h1>
        <div class="menu">
            <span id="menuContorl" onclick="app.showMenu()"></span>
            <!-- 右侧导航 -->
            <div class="menuAside">
                <div class="menuAside-inner">
                    <dl>
                        <dt>导  航<i>MENU</i><span onclick="app.hideMenu()"></span></dt>
                        <dd><a href="">学院首页</a></dd>
                        <dd><a href="">课程中心</a></dd>
                        <dd><a href="">报考中心</a></dd>
                        <dd><a href="">学院动态</a></dd>
                        <dd><a href="">学员天地</a></dd>
                        <dd><a href="">更多</a></dd>
                    </dl>
                    <ul>
                        <li><a href="">官网首页</a></li>
                        <li><a href="">设计艺术学院</a></li>
                        <li><a href="">管理学院</a></li>
                        <li><a href="">IT学院</a></li>
                    </ul>
                    <div class="wechat-code">
                        <img src="../../assets/images/home/qr-code.png">
                        关注中鹏
                    </div>
                </div>
            </div>
            <!-- 右侧导航 end -->
        </div>
    </div>
</div>
<!-- header end -->

<!-- 首页Banner -->
<div class="banner swiper-container">
    <div class="swiper-wrapper" id="swiper">
        <div class="swiper-slide"><img src="../../assets/images/manage/banner1.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/manage/banner1.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/manage/banner1.png"></div>
        <div class="swiper-slide"><img src="../../assets/images/manage/banner1.png"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- 首页Banner end -->
<!--top_course-->
<div class="top_course">
<ul>
<li><img src="../../assets/images/manage/top_course1.png"><a>企业人力资源管理师</a></li>
<li><img src="../../assets/images/manage/top_course1.png"><a>企业人力资源管理师</a></li>
<li><img src="../../assets/images/manage/top_course1.png"><a>企业人力资源管理师</a></li>
<li><img src="../../assets/images/manage/top_course1.png"><a>企业人力资源管理师</a></li>
</ul>
</div>
<!--top_course end-->
<!--top_notice-->
<div class="top_notice">
<a href=""><span>3月活动</span>惊喜3月礼不断，中鹏巨惠等你来</a>
</div>
<!--top_notice end-->
<!--near_course-->
<div class="swiper-container near_course"   id="near_course">
<h3>近期<span>课程</span></h3>
<ul class="swiper-wrapper" >
<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/near_course.png"><span>采购师</span></a></li>
<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/near_course.png"><span>采购师</span></a></li>
<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/near_course.png"><span>采购师</span></a></li>
<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/near_course.png"><span>采购师</span></a></li>
<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/near_course.png"><span>采购师</span></a></li>
</ul>
</div>
<!--near_course end-->

<!--dynamic-->
<div class="index_dynamic">
<h3>学院<span>动态</span><i></i><a href="">更多动态>>></a></h3>
<ul>
<li><a href="">2017年申请学士学位相关条件及政策<span>2018.1.11</span></a></li>
<li><a href="">2017年申请学士学位相关条件及政策<span>2018.1.1</span></a></li>
<li><a href="">2017年申请学士学位相关条件及政策<span>2018.1.1</span></a></li>
<li><a href="">2017年申请学士学位相关条件及政策<span>2018.1.1</span></a></li>
<li><a href="">2017年申请学士学位相关条件及政策<span>2018.1.1</span></a></li>
</ul>
</div>
<!--dynamic end-->

<!--teacher-->
<div class="index_teacher">
    <h3>师资<span>力量</span><a href="">查看更多></a></h3>
    <div class="index_teacher_list">
        <img src="../../assets/images/manage/teacher.png" />
        <div class="index_teacher_info">
            <h4><a href="">林冲<i></i><span>荣誉荣誉荣誉</span></a></h4>
            <p>主要从事非线性扩散方程的研究，现任职华南师范大学数学科学学院教授、博士生导师。1992年在吉林大学被评为教授，1994年在吉林大学被评为博士生导师...<a>详情>></a></p>
        </div>
    </div>
    <div class="index_teacher_list">
        <img src="../../assets/images/manage/teacher.png" />
        <div class="index_teacher_info">
            <h4><a href="">林冲<i></i><span>荣誉荣誉荣誉</span></a></h4>
            <p>主要从事非线性扩散方程的研究，现任职华南师范大学数学科学学院教授、博士生导师。1992年在吉林大学被评为教授，1994年在吉林大学被评为博士生导师...<a>详情>></a></p>
        </div>
    </div>
</div>
<!--teacher end-->
<!-- 首页荣誉资质 -->
<div class="honer">
    <div class="slider-hd clearfix">
        <h2 class="title">荣誉<span>资质</span></h2>
        <div class="tab honerTab">
            <span class="on">办学资质</span>
            <span>荣誉奖项</span>
            <span>知识产权</span>
        </div>
    </div>
    <div class="honerWrapper slider-bd">
        <span class="slider-control prev" onclick="prev()"></span>
        <span class="slider-control next" onclick="next()"></span>
        <div class="swiper-container slider-container on">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
            </ul>
        </div>
        <div class="swiper-container slider-container " style="display: none">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
            </ul>
        </div>
        <div class="swiper-container slider-container " style="display: none">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/honer.png" alt="">
                    <p>广东中鹏职业培训学校民办学校办学许可证</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="more">
        <a href="">查看中鹏更多荣誉资质</a>
    </div>
</div>
<!-- 首页荣誉资质 end -->
<!--教学环境-->
<div class="science swiper-container" id="science">
	<h3>教学<span>环境</span></h2>
	<ul class="swiper-wrapper">
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	<li class="swiper-slide"><a href=""><img src="../../assets/images/manage/science.png" /></a></li>
	</ul>
</div>
<!--教学环境 end-->
<!-- 首页校区分布 -->
<div class="Area">
    <div class="slider-hd clearfix">
        <h2 class="title">校区<span>分布</span></h2>
        <div class="tab AreaTab">
            <span class="on">深圳(6)</span>
            <span>广州(1)</span>
            <span>东莞(1)</span>
        </div>
    </div>
    <div class="AreaWrapper slider-bd">
        <div class="swiper-container AreaSlider on">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
            </ul>
            <div class="slider-control prev"></div>
            <div class="slider-control next"></div>
        </div>
        <div class="swiper-container AreaSlider" style="display: none">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
            </ul>
            <div class="slider-control prev"></div>
            <div class="slider-control next"></div>
        </div>
        <div class="swiper-container AreaSlider" style="display: none">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="../../assets/images/manage/school.png" alt="">
                    <dl>
                        <dt>龙岗校区</dt>
                        <dd><i class="icon-address"></i>深圳市福田区上步中路深勘大厦19楼</dd>
                        <dd><i class="icon-tel"></i>400-930-6618</dd>
                    </dl>
                </li>
            </ul>
            <div class="slider-control prev"></div>
            <div class="slider-control next"></div>
        </div>
    </div>
</div>
<!-- 首页校区分布 end -->
<!-- 悬浮 -->
<div class="floatTool">
    <span onclick="toggle(event)"></span>
    <ul>
        <li>
            <a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                <i class="float_zhengche"></i>
                报考政策
            </a>
        </li>
        <li>
            <a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                <i class="float_youhui"></i>
                预约试听
            </a>
        </li>
        <li>
            <a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                <i class="float_tisheng"></i>
                开课时间
            </a>
        </li>
        <li>
            <a href="https://vs.rainbowred.com/visitor/mobile/chat.html?companyId=497">
                <i class="float_shouji"></i>
                电话
            </a>
        </li>
        <li>
            <a href="javascript:void(0) " onclick="scrollToTop()">
                <i class="float_top"></i>
                返回顶部
            </a>
        </li>
    </ul>
</div>
<!-- 悬浮 end -->
<!-- footer -->
<div class="footer">
    <div class="footer-links flex flex-items">
        <ul>
            <li><a href="">关于我们</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">企业文化</a></li>
            <li><a href="">加入我们</a></li>
        </ul>
        <div class="footer-contact">
            <a href="tel:4009306618">
                <i class="icon-phone"></i>
                <span>联系号码  400-930-6618</span>
            </a>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2008-2018   深圳市中鹏教育科技股份有限公司<br>
        ALL RIGHT RESERVED 备案号:粤ICP备09069122号-25
    </p>
</div>
<!-- footer end-->
<script src="../../assets/plugins/jquery-1.10.1.min.js"></script>
<script src="../../assets/plugins/swiper/swiper.min.js"></script>
<script src="../../assets/js/common.js"></script>
<script>
    $(function () {
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
        });
        var near_course = new Swiper('#near_course', {
            slidesPerView : 2.5,
			spaceBetween : 10,
        });
        var science = new Swiper('#science', {
            slidesPerView : 2.5,
			spaceBetween : 20,
        });
    	_swiper = new Swiper('.slider-container.on', {
            slidesPerView: 2,
            slidesPerColumn: 1
        });
        _swiper2 = new Swiper('.AreaSlider', {
            nextButton: '.next',
            prevButton: '.prev'
        });
        $('.honerTab span').on('click',function () {
            if($(this).hasClass('on')) return false
            $(this).addClass('on').siblings().removeClass('on')
            $('.slider-container').hide().removeClass('on').eq($(this).index()).addClass('on').show();
            _swiper = new Swiper('.slider-container.on', {
                slidesPerView: 2,
                slidesPerColumn: 1
            });
        })
        $('.AreaTab span').on('click',function () {
            if($(this).hasClass('on')) return false
            $(this).addClass('on').siblings().removeClass('on')
            $('.AreaSlider').hide().removeClass('on').eq($(this).index()).addClass('on').show();
            _swiper2 = new Swiper('.AreaSlider', {
                nextButton: '.next',
                prevButton: '.prev'
            });
        })
    })
    function prev() {
        if(!_swiper.activeIndex) return false
        _swiper.slidePrev();
    }
    function next() {
        if(_swiper.activeIndex ==  Math.ceil(_swiper.slides.length / 4) -1) return false
        _swiper.slideNext();
    }
    function toggle(event) {
        $(event.target).toggleClass('on')
    }
    function scrollToTop() {
        document.documentElement.scrollTop = document.body.scrollTop = 0
    }
</script>
<script src="../../assets/plugins/customerService.js"></script>
</body>
</html>