@charset "utf-8";
@import '../js/hotcss/px2rem';
body{
  width:px2rem(750);
  margin: 0 auto;
  padding: 0;
}
/*默认样式*/
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td,figure {
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: "";
  zoom: 1;
}
.font_yahei{
  font-family: "Microsoft YaHei";
}
.bg-color{
background: #130e36;
}
.banner{
  width:px2rem(750);
  height:px2rem(118);
  padding-top: px2rem(588);
  background: url("../images/banner.png") 0 0 /px2rem(750) px2rem(623) no-repeat;
}
.banner-btn{
  width:px2rem(404);
  height:px2rem(90);
  line-height:px2rem(90);
  text-align: center;
  color: #5f1ea0;
  font-size: px2rem(43);
  font-weight: bold;
  background: #ffffff;
  margin: auto;
  display: block;
  border-radius: px2rem(6);
  -moz-box-shadow:px2rem(6) px2rem(6) 0px #d20971; -webkit-box-shadow:px2rem(6) px2rem(6) 0px #d20971; box-shadow:px2rem(6) px2rem(6) 0px #d20971;
}
.icon-hld{
  width:px2rem(287);
  height:px2rem(140);
  display: block;
  position: relative;
  background: url("../images/hld.png") 0 0 /px2rem(287) px2rem(140) no-repeat;
}
.icon-zpyh{
  width:px2rem(246);
  height:px2rem(164);
  display: block;
  background: url("../images/zpyh.png") 0 0 /px2rem(246) px2rem(164) no-repeat;
}
.icon-hld:after,.icon-hld1:after{
  content: " ";
  position: absolute;
  left:px2rem(-30);
  bottom:0;
  top:0;
  margin: auto;
  width: px2rem(30);
  height:px2rem(20);
  background: #5f5d62;
}
.icon-hld1{
  width:px2rem(310);
  height:px2rem(140);
  display: block;
  position: relative;
  background: url("../images/hld1.png") 0 0 /px2rem(310) px2rem(140) no-repeat;
}
.icon-title{
  display: block;
  margin: auto;
  background-image: url("../images/title.png");
  background-size: px2rem(560) px2rem(568);
}
.bg-title1 {
  width: px2rem(421); height: px2rem(63);
  background-position:  -0 px2rem(-123);
}
.bg-title2 {
  width: px2rem(330); height:px2rem(61);
  background-position:  -0 -0;
}
.bg-title3 {
  width:px2rem(414); height: px2rem(62);
  background-position: -0 px2rem(-61);
}
.bg-title4 {
  width: px2rem(414); height:px2rem(64);
  background-position:  -0 px2rem(-312);
}
.bg-title5 {
  width: px2rem(560); height: px2rem(64);
  background-position:  -0 px2rem(-376);
}
.bg-title6 {
  width: px2rem(310); height: px2rem(63);
  background-position:  -0 px2rem(-186);
}
.bg-title7 {
  width: px2rem(330); height:px2rem(64);
  background-position:  -0 px2rem(-440);
}
.bg-title8 {
  width: px2rem(414); height:px2rem(64);
  background-position:  -0 px2rem(-504);
}
.bg-title9 {
  width: px2rem(468); height: px2rem(63);
  background-position:  -0 px2rem(-249);
}
.hyxz-hld{
  position: absolute;
  top:0;
  left:px2rem(30);
}
.hyxz{
  padding-top: px2rem(99);
  position: relative;
  margin-top: px2rem(74);
}
.icon-font{
  display: block;
  margin: auto;
  background-image: url("../images/font.png");
  background-size: px2rem(454) px2rem(336);
}
.bg-font3 {
  width: px2rem(130); height: px2rem(333);
  background-position:  -0 -0;
}
.bg-font2 {
  width:px2rem(156); height:px2rem(336);
  background-position: px2rem(-130) -0;
}
.bg-font1 {
  width: px2rem(168); height: px2rem(335);
  background-position: px2rem(-286) -0;
}
.hyxz-list{
  width:px2rem(713);
  margin:px2rem(36) auto px2rem(52);
}
.hyxz-list li{
  padding-top: px2rem(30);
  width:px2rem(230);
  height:px2rem(370);
  float: left;
  background: #5f1ea0;
  border-radius:px2rem(6);
}
.hyxz-list li:nth-child(2){
  margin: 0 px2rem(10);
}


.kcsz{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.ds{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.wifi{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.zpyh{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.xyzp{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.xui{
  margin-top:px2rem(74);
  padding-top: px2rem(99);
  position: relative;
}
.icon-list{
  width:px2rem(230);
  height:px2rem(172);
  display: block;
  background-image: url("../images/list.png");
  background-size: px2rem(710) px2rem(354);
}
.bg-list1{
  background-position:  0 0;
}
.bg-list2{
  background-position:  center 0;
}
.bg-list3{
  background-position:  right 0;
}
.bg-list4{
  background-position:  0 bottom;
}
.bg-list5{
  background-position:  center bottom;
}
.bg-list6{
  background-position:  right bottom;
}
.kcsz-list{
  width:px2rem(710);
  margin:px2rem(33) auto 0;
  background: #130e36;
}
.kcsz-list li{
  width:px2rem(230);
  float: left;
  margin-right: px2rem(10);
  margin-bottom: px2rem(10);
}
.kcsz-list li:nth-child(3n){
  margin-right: 0;
}
.mfst-title{
  font-size: px2rem(48);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.mfst-title span{
  color: #ffeb00;
}
.form1-input1{
  width:px2rem(520);
  height:px2rem(120);
  margin:px2rem(38) auto;
  padding-left: px2rem(20);
  font-size:px2rem(36);
  display: block;
  background: #ffffff;
}
.form1-btn{
  display: block;
  width:px2rem(540);
  height:px2rem(107);
  color: #ffffff;
  font-weight: bold;
  font-size: px2rem(43);
  text-align: center;
  margin: auto;
  line-height: px2rem(107);
  background: #5f1ea0;
  -moz-box-shadow:px2rem(8) px2rem(8) 0 #d20971; -webkit-box-shadow:px2rem(8) px2rem(8) 0 #d20971; box-shadow:px2rem(8) px2rem(8) 0 #d20971;
}
.mfst{
  margin-top: px2rem(60);
}
.ds-list{
  width:px2rem(750);
  margin-bottom: px2rem(50);
}
.ds-list li{
  position: relative;
  width: px2rem(670);
  height:px2rem(319);
  margin:px2rem(125) auto 0;
  border-radius:px2rem(8);
}
.ds-list li:before{
  position: absolute;
  left:px2rem(-40);
  top:0;
  content: " ";
  display: block;
  width:px2rem(20);
  height:px2rem(319);
  border-top-right-radius:px2rem(8);
  border-bottom-right-radius:px2rem(8);

}
.ds-list li:after{
  position: absolute;
  right:px2rem(-40);
  top:0;
  content: " ";
  display: block;
  width:px2rem(20);
  height:px2rem(319);
  border-top-left-radius:px2rem(8);
  border-bottom-left-radius:px2rem(8);

}
.color1-bg:before{
   background: #d20971;
 }
.color2-bg:before{
  background: #f9a12f;
}
.color3-bg:after{
  background: #f9a12f;
}
.color4-bg:after{
  background: #5f1ea0;
}
.ds-list li:nth-child(1){
  background: #5f1ea0;
}
.ds-list li:nth-child(2){
  background: #d20971;
}
.ds-list li:nth-child(3){
  background: #f9a12f;
}
.ds-list li:nth-child(4){
  background: #5f1ea0;
}
.icon-js{
  position: absolute;
  top:px2rem(-75);
  left:px2rem(488);
  width:px2rem(150);
  height:px2rem(150);
  display: block;
  background-image: url("../images/js.png");
  background-size: px2rem(300) px2rem(300);
}
.ds-list li:nth-child(2n) .icon-js{
  left:px2rem(30);
}
.bg-js4 {
  background-position:  0 0 ;
}
.bg-js1 {
  background-position:  right 0;
}
.bg-js2 {
  background-position:  0 bottom;
}
.bg-js3 {
  background-position:  right bottom;
}

.ds-list li .title{
  padding: px2rem(30) 0 px2rem(15);
  width:px2rem(600);
  margin: auto;
  font-size:px2rem(18);
  color: #ffffff;
}
.ds-list li .title b{
  font-size: px2rem(27);
}
.ds-list li:nth-child(2n) .title{
  text-align: right;
}
.ds-list li .info{
  color: #ffffff;
  font-size: px2rem(22);
  font-weight: lighter;
  width:px2rem(600);
  margin: auto;
  text-align: justify;
}
.xui-list{
  margin: px2rem(78) auto;
}
.xui{
  position: relative;padding-top: px2rem(89);
}
.icon-xui{
  position: absolute;
  left:0;
  right:0;
  margin: auto;
  top:px2rem(-54);
  width:px2rem(99);
  height:px2rem(99);
  display: block;
  background-image: url("../images/ui.png");
  background-size: px2rem(198) px2rem(198);
}
.bg-ui2 {
  background-position:  0 0 ;
}
.bg-ui3 {
  background-position: right 0;
}
.bg-ui4 {
  background-position: 0 bottom;
}
.bg-ui1 {
  background-position:right bottom;
}
.xui-list{
  margin-left: px2rem(30);
}
.xui-list li{
  position: relative;
  width:px2rem(340);
  height:px2rem(289);
  float: left;
  margin-right:px2rem(20);
  margin-top: px2rem(90);
  background: #5f1ea0;
}
.xui-list li:nth-child(2n){
  margin-right: 0;
}
.xui-list li .title{
  font-size: px2rem(37);
  font-weight: bold;
  text-align: center;
  padding-top: px2rem(45);
}
.xui-list li .info{
  font-size: px2rem(20);
  text-align: center;
  color: #ffffff;
  line-height:px2rem(36);
}
.xui-list li .semi-circle-content{
  position: absolute;
  bottom:0;
  left:0;
  margin: auto;
  width:px2rem(340);
  height:px2rem(22);
  overflow: hidden;

}
.xui-list li .semi-circle{
  border-radius: 100% 100% 0 0;
  width:px2rem(45);
  height:px2rem(45);
  text-align: center;
  color: #ffffff;
  font-size: px2rem(16);
  position: absolute;
  top:0;
  left:0;
  right:0;
  margin: auto;
}
.xui-list li:nth-child(1) .semi-circle{
  background: #f9a12f;
}
.xui-list li:nth-child(2) .semi-circle{
  background: #49ca87;
}
.xui-list li:nth-child(3) .semi-circle{
  background: #2786fc;
}
.xui-list li:nth-child(4) .semi-circle{
  background: #d20971;
}
.xui-list li:nth-child(1) .title{
  color: #f9a12f;
}
.xui-list li:nth-child(2) .title{
  color: #49ca87;
}
.xui-list li:nth-child(3) .title{
  padding-top: px2rem(60);
  color: #2786fc;
}
.xui-list li:nth-child(4) .title{
  padding-top: px2rem(60);
  color: #d20971;
}
.xyzp-img{
  width:px2rem(750);
  height:px2rem(463);
  margin: px2rem(50) auto px2rem(70);
  background: url("../images/xyzp.png")  0 0 /px2rem(750) px2rem(463) no-repeat;
}

.zpyh-list li{
  width:px2rem(227);
  height:px2rem(255);
  float: left;
  border-radius: px2rem(8);
  background: #5f1ea0;
  margin-right:px2rem(15);
}
.zpyh-list li:last-child{
  margin-right: 0;
}
.zpyh-list li .title{
  padding: px2rem(25) 0 px2rem(20);
  font-size: px2rem(30);
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.zpyh-list li .info{
  font-size: px2rem(22);
  color: #ffffff;
  text-align: center;
  margin-bottom: px2rem(30);
}
.zpyh-list li .btn{
  width: px2rem(200);
  height: px2rem(60);
  border-bottom:px2rem(4) solid #d20971;
  border-right:px2rem(4) solid #d20971;
  border-radius: px2rem(8);
  display: block;
  margin: auto;
  color: #5f1ea0;
  background: #ffffff;
  font-size: px2rem(24);
  line-height: px2rem(60);
  text-align: center;
}
.zpyh-list{
  margin-left:px2rem(20);
  margin-top: px2rem(40);
}
.kcsz-hld
{
  position: absolute;
  top:0;
  left:0;
}
.wifi-content{
  width:px2rem(710);
  height:px2rem(354);
  margin:px2rem(36) auto px2rem(70);
  background: url("../images/wifi.png") 0 0 /px2rem(710) px2rem(354);
}
.bj{
  margin: px2rem(40) auto px2rem(80);
  width:px2rem(710);
  height: px2rem(305);
  background: #5f1ea0;
  border-radius: px2rem(12);
}
.icon-right{
  width:px2rem(46);
  height: px2rem(38);
  display: inline-block;
  background: url("../images/right.png") 0 0 /px2rem(46) px2rem(38) no-repeat;
}
.bj-title{
  font-size: px2rem(36);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: px2rem(150);
}

.right-bj{
  width:px2rem(215);
  float: left;
  font-size: px2rem(36);
  color: #ffffff;
  display: block;
  text-align: center;
}
.right-bj-width{
  width:px2rem(240);
}
.bj-content{
  width:px2rem(710);
  margin: auto;
}
.bj-info{
  line-height:px2rem(100);
  text-align: center;
  font-size:px2rem(24);
  color: rgba(255,255,255,0.5);
}
.bj-info b{
  font-size: px2rem(30);
  color: #ffeb00;
}
.djtbg{
  width:px2rem(750);
  height: px2rem(579);
  padding-top: px2rem(40);
  margin: px2rem(30) auto 0;
  background: url("../images/djtbg.png") 0 0 /px2rem(750) px2rem(619) no-repeat;
}
.djt{
  width:px2rem(557);
  height: px2rem(512);
  margin: auto;
  background: url("../images/djt.png") 0 0 /px2rem(557) px2rem(512) no-repeat;
}
.footer{
  font-size: px2rem(16);
  color: #666666;
  text-align: center;
  background: #efefef;
  padding: px2rem(20) 0;
  line-height: px2rem(26);
}
.header{
  position: fixed;
  left:0;
  right:0;
  top:0;
  margin:auto;
  z-index: 9999;
  width:px2rem(500);
  height:px2rem(80);
  padding-left: px2rem(250);
  background: #19181f  url("../images/logo.png") px2rem(20) center /px2rem(222) px2rem(57) no-repeat;
}
.header img{
  height:px2rem(24);
  display: block;
  padding-top: px2rem(32);
}
.right-suspension{
  z-index: 999999;
  width: px2rem(100);
  position: fixed;
  bottom: px2rem(80);
  right:px2rem(10);
}
.right-suspension img{
  display: block;
  margin: auto;
  padding-bottom: px2rem(6);
}
.rightserve1 img{
  width: px2rem(100) !important;
}
.rightserve img,.rightserve2 img{
  width: px2rem(80);
}

.yssj-header{
  z-index:99998;
  width:px2rem(750);
  height:px2rem(88);
  position: fixed;
  top:0;
  left:50%;
  margin-left: px2rem(-375);
  background: rgba(0,0,0,0.8);
}
.yssj-logo{
  position: absolute;
  left:px2rem(20);
  top:px2rem(18);
  height:px2rem(51);
}
.yssj-c4d{
  height:px2rem(23);
  position: absolute;
  left:px2rem(253);
  top:px2rem(32);
}
.right-nav{
  height:px2rem(30);
  position: absolute;
  right:px2rem(20);
  top:px2rem(29);
}
.right-nav-hide{
  display: none;
  z-index: 99999;
  position: fixed;
  top:0;
  left:50%;
  margin-left: px2rem(-375);
  width:px2rem(750);
  height:100%;
  overflow-y: auto;
  background: rgb(0,0,0);
}
.college-links li{
  width:px2rem(200);
  float: left;
  font-size: px2rem(22);
  color: #ffffff;
  text-align: center;
}
.college-links li img{
  height:px2rem(49);
  display: block;
  margin: auto;
}
.close-nav{
  background: rgb(0,0,0);
  width:px2rem(735);
  height:px2rem(55);
  padding-top: px2rem(15);
  text-align: right;
  padding-right: px2rem(15);
}
.close-nav img{
  width:px2rem(27);
  padding: px2rem(20);
}
.zy-title{
  padding: px2rem(20);
  font-size: px2rem(32);
  color: #ffffff;
  font-weight: bold;
}
.zy-title1{
  padding-left: px2rem(80);
  font-size: px2rem(24);
  height:px2rem(75);
  line-height: px2rem(75);
  color: #cecece;
  font-weight: bold;
  background: #4e4e4e;
}
.major-links{
  padding-left: px2rem(80);
}
.major-links li{
  padding-bottom: px2rem(20);
  padding-top: px2rem(20);
  margin-right: px2rem(20);
  float: left;
  width:px2rem(127);
  text-align: center;
  color: #ffffff;
  font-size: px2rem(20);
}
.major-links li img{
  width:px2rem(127);
}
.yssj-footer{
  background: #efefef;
  text-align: center;
  font-size: px2rem(20);
  color: #999999;
  padding-bottom: px2rem(20);
}
.yssj-footer ul{
  float: left;
  width:px2rem(350);
  border-right: 1px solid #999999;
}
.yssj-footer ul li{
  line-height: px2rem(36);
  position: relative;
  float: left;
  width:px2rem(175);
  text-align: center;
  font-size: px2rem(20);
  color: #999999;
}
.yssj-footer ul li:before{
  content: " ";
  width:0;
  height:0;
  border-width:px2rem(8) 0 px2rem(8) px2rem(8);
  border-style:solid;
  border-color:transparent transparent transparent #999999;/*透明 透明 透明 灰*/
  position:absolute;
  top:px2rem(12);
  left: px2rem(25);
}
.footer-right{
  width:px2rem(350);
  float: left;
  text-align: center;
  font-size: px2rem(20);
  color: #999999;
}
.footer-right a{
  display: block;
  line-height: px2rem(36);
  width:px2rem(350);
  float: left;
  text-align: center;
  font-size: px2rem(20);
  color: #999999;
  position: relative;
}
.footer-right a:after{
  content: " ";
  width:0;
  height:0;
  border-width:px2rem(8) 0 px2rem(8) px2rem(8);
  border-style:solid;
  border-color:transparent transparent transparent #999999;/*透明 透明 透明 灰*/
  position:absolute;
  top:px2rem(12);
  left: px2rem(35);
}
.footer-right img{
  width:px2rem(44);
  display: block;
  margin: auto;
}
.jssj-footer-content{
  padding: px2rem(25) 0;
}
.gkk-link{
  position: absolute;
  display: block;
  font-size: px2rem(28);
  height:px2rem(50);
  line-height:px2rem(50);
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width:px2rem(90);
  text-align: center;
  right:px2rem(20);
  top:px2rem(17);
}
.right-top-nav{
  padding-left: px2rem(24);
  padding-top: px2rem(10);
  padding-bottom: px2rem(15);
}
.right-top-nav li{
  font-size: px2rem(22);
  float: left;
  width:px2rem(125);
  height:px2rem(56);
  line-height: px2rem(56);
  text-align: center;
  color: #ffffff;
  border-radius: px2rem(12);
  margin:0 px2rem(20);
  border: 1px solid  #ffffff;
}
.down{
  width: px2rem(26);
  float: right;
  margin-right: px2rem(20);
  margin-top: px2rem(30);
}
.s1{
  display: block;
  width:px2rem(749);
  margin: auto;
}
.yhq{
  margin-top: px2rem(43);
  margin-left: px2rem(38);
}
.yhq li{
  margin-right: px2rem(20);
  width:px2rem(210);
  float: left;
}
.yhq li:last-child{
  margin-right: 0;
}
.icon-s11{
  display: block;
  margin: auto;
  width:px2rem(210);
  height:px2rem(130);
  background-image: url(../images/s2.png);
  background-size: px2rem(670) px2rem(130);
}
.bg-s11-1{
  background-position: 0 0 ;
}
.bg-s11-2{
  background-position: center 0 ;
}
.bg-s11-3{
  background-position: right 0 ;
}
.s3{
  width:px2rem(729);
  display: block;
  margin-top: px2rem(28);
  margin-left: px2rem(21);
}